﻿@model YardLad.Models.Domain.State

@{
    ViewBag.Title = "Edit State";
}

<h2>Edit State | <span class="admin">@Html.ActionLink("back", "Index", "State", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.StateId)

    <div class="editor-label">
        @Html.LabelFor(m => m.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Abbreviation)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Abbreviation)
        @Html.ValidationMessageFor(m => m.Abbreviation)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.IsActive)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.IsActive)
        @Html.ValidationMessageFor(m => m.IsActive)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    
</div>
