﻿@model IEnumerable<YardLad.Models.Domain.State>

@{
    ViewBag.Title = "States";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>States</h2>

<p>
    @Html.ActionLink("Add New State", "Create", null, new { @class = "admin" })
</p>
<table class="display dataTable">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Abbreviation
        </th>
        <th>
            Is Active
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Abbreviation)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td style="text-align: right;">
            @Html.ActionLink("Edit", "Edit", new { id = item.StateId }, new { @class = "admin" })
        </td>
    </tr>
}
    </tbody>
</table>
