﻿@model YardLad.Models.Domain.ContractorServiceOptionItem

@{
    ViewBag.Title = "Contractor Service Option Item Details";
}

<h2>Service Option Item Details | <span class="contractor">@Html.ActionLink("Back", "Index", new { id = Model.ContractorServiceOptionId }, new { @class = "contractor" })</span></h2>

<div class="display-label">Service Option</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ContractorServiceOption.Name)
</div>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">Price</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Price)
</div>

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractorServiceOptionItemId }, new { @class = "contractor" })
   
</p>
