﻿@model IEnumerable<YardLad.Models.Domain.ContractorServiceOptionItem>

@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $('table').dataTable({
            "order": [[1, "asc"]]
        });
        if ($('message').html() != '') {
            $('#message').dialog();
        }
        
    });
</script>

<h2>Service Option Items | <span class="contractor">@Html.ActionLink("back", "Index" ,"ContractorServiceOption", new { id = ViewBag.ContractorServiceId }, new { @class = "contractor" })</span></h2>

@if (ViewBag.Message != null)
{
    <div id ="message" style="display: none;">@ViewBag.Message</div>
}

<div style="margin-bottom: 1em;">
    Service: @ViewBag.ContractorServiceOption.ContractorService.Service.Name<br />
    Service Option: @ViewBag.ContractorServiceOption.Name
</div>

<div style="margin: 1em auto">
    <h3>Add an Item</h3>
    @if (ViewBag.ServiceOptionItems != null)
    {
        using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
            @Html.DropDownList("ServiceOptionItems", (SelectList)ViewBag.ServiceOptionItems, "[ - select an item to add - ]", new { style = "width: auto;" })
            <input type="submit" value="Add" style="margin-top: 0; margin-left: .5em;" />
        
            <div style="margin: 1em auto;" class="contractor">
                Don't see an item you need? @Html.ActionLink("Request a new item for this service option.", "RequestNew", new { id = ViewBag.ContractorId, serviceId = ViewBag.ServiceId, contractorServiceId = ViewBag.ContractorServiceId, contractorServiceOptionId = ViewBag.ContractorServiceOptionId }, new { @class = "contractor" })
            </div>
        }
    }
    else
    {
        <div>You have added all available items for this service.</div>
        <div style="margin: 1em auto; margin-top: 0;" class="contractor">
                Don't see an item you need? @Html.ActionLink("Request a new item for this service option.", "RequestNew", new { id = ViewBag.ContractorId, contractorServiceId = ViewBag.ContractorServiceId, contractorServiceOptionId = ViewBag.ContractorServiceOptionId }, new { @class = "contractor" })
        </div>
    }
</div>

<div style="margin: 1em 0; font-weight: bold;">The price for each option below is added to this service's base price of @String.Format("{0:c}", ViewBag.ContractorServiceBasePrice)</div>

<p>
    You should only list the items that you support for each service option. When customers are looking for a service, the options you provide or don't provide will be used
    when filtering out available contractors based on their request. (ex. if you only support yard sizes up to 1 acre and the customer selects an option less than one acre, you will be shown in the results)
</p>

<table class="display">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var contractorServiceOptionItem in Model.OrderBy(m => m.Order)) {
        <tr>
            <td>
                @Html.ActionLink(contractorServiceOptionItem.Name, "Details", new { id = contractorServiceOptionItem.ContractorServiceOptionItemId }, new { @class = "contractor" })
            </td>
            <td>
                @Html.DisplayFor(csoi => contractorServiceOptionItem.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=contractorServiceOptionItem.ContractorServiceOptionItemId }, new { @class = "contractor" }) |
                @Html.ActionLink("Remove Option", "Remove", "ContractorServiceOptionItem", new { id=contractorServiceOptionItem.ContractorServiceOptionItemId,  },  new { @class = "contractor" })
            </td>
        </tr>
    }
    </tbody>

</table>
