﻿@model YardLad.Models.Domain.ContractorServiceOptionItem

@{
    ViewBag.Title = "Remove";
}

<h2>Remove Option Item | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorServiceOptionId }, new { @class = "contractor" })</span></h2>

<h3>Are you sure you want to remove this option item?</h3>

@using (Html.BeginForm()) {
    
    @Html.HiddenFor(m => m.ContractorServiceOptionId)
    @Html.HiddenFor(m => m.ContractorServiceOptionItemId)

    <p>
        <input type="submit" value="Remove" />
    </p>
}
