﻿@model YardLad.Models.View.ServiceOptionCreateViewModel

@{
    ViewBag.Title = "Add Service Option";
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
    }
</style>

<script>
    $(document).ready(function () {

        // variable to hold the number of service options (initial value)
        var serviceOptionCount = $('.serviceOption').length;

        $("#add").click(function () {
            var arrayCount = serviceOptionCount; // used for the array index (used for model binding to list)
            // var orderNumber = serviceOptionCount + 1; // don't need this, will be calculated based on order in the list (top to bottom)

            // add a service option at the bottom of the service option list
            $(".serviceOption:last-of-type").after('<div class="serviceOption"><div class="editor-field">'
                + '<input type="text" name="ServiceOptions[' + arrayCount + '].Name" id="ServiceOptions[' + arrayCount + '].Name" value="" />'
                + '<input type="hidden" name="ServiceOptions[' + arrayCount + '].ServiceId" id="ServiceOptions[' + arrayCount + '].ServiceId" value="@Model.ServiceId" />'
                + '<input type="hidden" name="ServiceOptions[' + arrayCount + '].IsActive" id="ServiceOptions[' + arrayCount + '].IsActive" value="true" />'
                + '<input type="button" class="remove" value="remove" style="margin-left: .25em;" />'
                + '</div></div>');

            // add one to the global variable
            serviceOptionCount += 1;

            // if the service option count is more than 1, change the submit button text (it will be)
            if (serviceOptionCount > 1) {
                $("#Submit").attr('value', 'Add Service Options');
            }
        });

        // the user clicks the remove button
        $('.remove').live('click', function () {
            $(this).parent().remove() // remove the parent element

            serviceOptionCount -= 1; // decrease the global variable by 1

            // if there is only one textbox for service area name, change the submit button text at the bottom
            if (serviceOptionCount == 1) {
                $("#Submit").attr('value', 'Add Service Option');
            }
        });

    });
</script>

<h2>Add Service Option | <span class="admin">@Html.ActionLink("back", "Index", new { id = Model.ServiceId }, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ServiceId)
    
    <div class="editor-label">
        @Html.LabelFor(m => m.ServiceId, "Service")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Service.Name)
    </div>

    <div id="newServiceOptions">
        <div class="editor-label">
            Service Option | <input id="add" type="button" value="add another" />
        </div>
        <div class="serviceOption">
            <div class="editor-field">
                <input type="text" name="ServiceOptions[0].Name" id="ServiceOptions[0].Name" value="" />
                <input type="hidden" name="ServiceOptions[0].Order" id="ServiceOptions[0].Order" value="1" />
                <input type="hidden" name="ServiceOptions[0].ServiceId" id="ServiceOptions[0].ServiceId" value="@Model.ServiceId" />
                <input type="hidden" name="ServiceOptions[0].IsActive" id="ServiceOptions[0].IsActive" value="true" />
                
            </div>
        </div>
    </div>
    <p>
        <input type="submit" id="Submit" value="Add Service Option" />
    </p>
}