﻿@model IEnumerable<YardLad.Models.Domain.ServiceOption>

@{
    ViewBag.Title = "Service Options";
}

<h2>Service Options  | <span class="admin">@Html.ActionLink("back", "Index", "Service", new { manage = "yes", mode = "all" }, null)</span></h2>

<p>
    @Html.ActionLink("Add New Service Option", "Create", new { id = ViewBag.Service.ServiceId }, new { @class = "admin" })
</p>

<div class="display-label">
    Service Name
</div>

<div class="display-field">
    @ViewBag.Service.Name
</div>


<div class="display-label">
    Service Options
</div>

@if (Model.Count() == 0)
{
    <p>no options have been added for this service</p>
}

@foreach (var serviceOption in Model.OrderBy(so => so.Order))
{
    <div class="display-field">
        @Html.DisplayFor(m => serviceOption.Order).
        @Html.ActionLink(serviceOption.Name, "Details", "ServiceOption", new { id = serviceOption.ServiceOptionId }, null)
        | <span class="admin">@Html.ActionLink("Edit", "Edit", "ServiceOption", new { id = serviceOption.ServiceOptionId }, null)</span>
        @if (serviceOption.ServiceOptionItems.Count == 0)
	    {
            @:| <span class="admin">@Html.ActionLink("Add Option Items", "Create", "ServiceOptionItem", new { id = serviceOption.ServiceOptionId }, null)</span>
	    }
        else
	    {
            @:| <span class="admin">@Html.ActionLink("View Option Items", "Index", "ServiceOptionItem", new { id = serviceOption.ServiceOptionId }, null)</span>
	    }
    </div>
}


@*@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>

    @foreach (var serviceOption in Model.OrderBy(soi => soi.Order)) {
        <tr>
            <td>
                @Html.DisplayFor(soi => serviceOption.Order)
            </td>
            <td>
                @Html.ActionLink(serviceOption.Name, "Details", "ServiceOption", new { id = serviceOption.ServiceOptionId }, null)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(soi => serviceOption.IsActive)
            </td>
            <td>
                <span class="admin">@Html.ActionLink("Edit", "Edit", "ServiceOption", new { id = serviceOption.ServiceOptionId }, null)</span>
                @if (serviceOption.ServiceOptionItems.Count == 0)
	            {
                    @:| <span class="admin">@Html.ActionLink("Add Option Items", "Create", "ServiceOptionItem", new { id = serviceOption.ServiceOptionId }, null)</span>
	            }
                else
	            {
                    @:| <span class="admin">@Html.ActionLink("View Option Items", "Index", "ServiceOptionItem", new { id = serviceOption.ServiceOptionId }, null)</span>
	            }
            </td>
        </tr>
    }
    </table>
}
else
{
    <div>no option items have been provided</div>
}*@