﻿@model List<YardLad.Models.Domain.ServiceOptionRequest>

@{
    ViewBag.Title = "Service Option Requests";
}

<script>
    $(document).ready(function () {
        $(".accordion").accordion({ collapsible: true });
    });
</script>

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Service Option Requests</h2>

<p>
    This is the list of options that contractors have requested to be added
</p>

@if (Model.Count == 0)
{
    <div style="text-align: center;">No requests have been made...</div>
}

<div id="requestedServiceList" class="accordion">
    @foreach (var serviceOptionRequest in Model.OrderByDescending(sor => sor.DateRequested).ThenBy(sor => sor.Service.Name).ThenBy(sor => sor.Name))
    {
        <h3>@serviceOptionRequest.Service.Name <span style="float: right;">requested by @Html.ActionLink(serviceOptionRequest.Contractor.Name, "Details", "Contractor", new { id = serviceOptionRequest.ContractorId }, new { @class = "contractor", style = "color: cornflowerblue;" }) on @serviceOptionRequest.DateRequested.ToShortDateString() </span></h3>
        <div style="font-family: Georgia;">
            <div>@serviceOptionRequest.Name</div>
            <ol>
                @foreach (var serviceOptionItemRequest in serviceOptionRequest.ServiceOptionItemRequests.OrderBy(sor => sor.Order))
	            {
		            <li>@serviceOptionItemRequest.Name - @serviceOptionItemRequest.Price.ToString("c")</li>
	            }
            </ol>
            <div>
                @Html.ActionLink("Approve", "Approve", "ServiceOptionRequests", new { id = serviceOptionRequest.ServiceOptionRequestId }, new { style = "color: forestgreen;" }) | 
                @Html.ActionLink("Delete", "Delete", "ServiceOptionRequests", new { id = serviceOptionRequest.ServiceOptionRequestId },  new { style = "color: forestgreen;" })
            </div>
        </div>
    }

</div>