﻿@model YardLad.Models.Domain.Rating

@{
    ViewBag.Title = "Dispute Rating";
}

<h2>Dispute Rating | <span class="contractor">@Html.ActionLink("back", "ServiceHistory", "Contractor", new { @class = "contractor" }, null)</span></h2>

<p>
    Enter the reasoning as to why you are disputing this rating.<br />
    The team at Yard Lad will do our best to clear things up. Please be as descriptive as possible.
</p>

@using (Html.BeginForm("Dispute", "Rating", new { id = Model.RatingId }, FormMethod.Post, new { onSubmit = "return checkForm(this);" }))
{
    @Html.HiddenFor(m => m.RatingId)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.Value)
    @Html.HiddenFor(m => m.Comments)
    @Html.HiddenFor(m => m.DateRated)
    @Html.HiddenFor(m => m.IsActive)

    <textarea name="reasoning" id="Reasoning" class="reasoning" style="max-width: 530px; min-width: 500px; display: block;" placeholder=""></textarea>
    <div id="val" style="margin: .5em auto; color: red;"></div>
    <input type="submit" value="submit" />
}

<script>
    function checkForm() {

        var allowSubmit = true;

        if ($('#Reasoning').val() == '') {
            $('#val').html('please enter the reasoning for your dispute');
            allowSubmit = false;
        }

        if ($('#Reasoning').val() != '') {
            $('#val').val('');
            allowSubmit = true;
        }

        if (allowSubmit == true) {
            $('#val').val('');
            $('form').submit();
        }

        return allowSubmit;
    }
</script>