﻿@model IEnumerable<YardLad.Models.Domain.Rating>
@{
    ViewBag.Title = "Ratings";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Ratings</h2>

<table class="display dataTable">
    <thead>
        <tr>
            <th>Rating ID</th>
            <th>Contractor</th>
            <th>Value</th>
            <th style="text-align: left;">Comments</th>
            <th>Date Rated</th>
            <th>Is Active</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    @Html.ActionLink(item.RatingId.ToString(), "Details", "Rating", new { id = item.RatingId },  new { @class = "admin" })
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Contractor.Name)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRated)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RatingId }, new { @class = "admin" })
                </td>
            </tr>
        }
    </tbody>



</table>
