﻿@model YardLad.Models.View.ContactViewModel
@{
    ViewBag.Title = "Form Submitted";
}

<script type="text/javascript">
    // redirects the user to the home page after successfully changing their password
    window.setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 3000);
</script>

<p>Thank you @Model.Name! We will get back to you as soon as possible.</p>

@Html.ActionLink("Back", "Index", "Home")