﻿@{
    ViewBag.Title = "Submitted";
}

<p style="text-align: center; margin: 1.5em 0;">
    Your email has been sent and a Yard Lad admin will review your message.<br />
    Click @Html.ActionLink("here", "MyAccount", "Account") to return to your account.
</p>
