﻿<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en-us">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en-us">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en-us">  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="application-name" content="Yard Lad" />
    <meta name="author" content="Technopole Website Services" />
    <meta name="description" content="@ViewBag.PageDescription" />
    <meta name="keywords" content="@ViewBag.Content" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Yard Lad LLC | Landscaping | Yard Services - @ViewBag.Title</title>
	
    <!--[if !lte IE 6]><!-->
		<link href="@Url.Content("~/Content/CSS/Template/style.css")" rel="stylesheet" media="screen" />
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href="@Url.Content("~/Content/CSS/Template/fancybox.min.css")" rel="stylesheet" media="screen" />
		<link href="@Url.Content("~/Content/CSS/Template/video-js.min.css")" rel="stylesheet" media="screen" />
		<link href="@Url.Content("~/Content/CSS/Template/audioplayerv1.min.css")" rel="stylesheet" media="screen" />
	<!--<![endif]-->

    <!--[if lte IE 6]>
		<link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
	<![endif]-->

    <!-- HTML5 Shiv + detect touch events -->
	<script src="@Url.Content("~/Scripts/MyScripts/Template/modernizr.custom.js")"></script>

	<!-- HTML5 video player -->
	<script src="@Url.Content("~/Scripts/MyScripts/Template/video.min.js")"></script>
	<script>_V_.options.flash.swf = 'http://yardlad.design-develop-deploy.com/Scripts/MyScripts/Template/video-js.swf';</script>

    <!-- Custom Styles -->
    <link href="@Url.Content("~/Content/CSS/SevenSlider/sevenslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/CSS/SevenSlider/skins/clean.css")" rel="stylesheet" />
    <!--<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />-->
    @*<link href="@Url.Content("~/Content/CSS/jQueryUI/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/CSS/jQueryUI/themes/south-street/jquery-ui-1.10.4.custom.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.1/css/dataTables.tableTools.css" />
    <link href="@Url.Content("~/Content/CSS/main.css")" rel="stylesheet" />

    @if (User.IsInRole("contractor") || (User.IsInRole("contractor2")))
    {
        <link href="@Url.Content("~/Content/CSS/contractor.css")" rel="stylesheet" />
    }

    @if (User.IsInRole("admin"))
    {
        <link href="@Url.Content("~/Content/CSS/admin.css")" rel="stylesheet" />
    }

    <!-- Custom Scripts -->
    <!-- this template is dependent on jQuery version 1.7.1, if you change it, things will break... -->
    @*<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery-1.7.1.min.js")" type="text/javascript"></script>*@
    @*<script type="text/javascript" charset="utf8" src="../../Scripts/jquery-1.10.2.js"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/jquery.autosize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/jquery.maskedinput.min.js")"></script>
    <script src="@Url.Content("//tinymce.cachefly.net/4.0/tinymce.min.js")"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/tabletools/2.2.1/js/dataTables.tableTools.min.js"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/jquery.raty.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/jquery.inputlimiter.1.3.1.min.js")"></script>

    <!-- SevenSlider -->
    <script src="@Url.Content("~/Scripts/MyScripts/SevenSlider/jquery.flippy.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/SevenSlider/jquery.slicebox.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/SevenSlider/jquery.seven.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/SevenSlider/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/SevenSlider/jquery.knob.js")"></script>
    
    <script>
        $(document).ready(function () {
            $('textarea').autosize();
            //tinymce.init({selector: ".MCE-Editor"});

            tinymce.init({
                selector: ".MCE-Editor",
                theme: "modern",
                plugins: [
                    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                image_advtab: true
            });

            $("input[type=text]#UserInfo_DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0", // last hundred years
                minDate: '-100y',
                maxDate: '0'
            });

            $("input[type=text]#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0", // last hundred years
                minDate: '-100y',
                maxDate: '0'
            });

            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+2", // last hundred years, up to next 2 years
                minDate: '-100y',
                maxDate: '+2y'
            });

            $("#Phone").mask("(999) 999-9999");
            $("#UserInfo_Phone").mask("(999) 999-9999");
            $("#DaytimePhone").mask("(999) 999-9999");
            $("#EveningPhone").mask("(999) 999-9999");
            $("#Fax").mask("(999) 999-9999");
            $("#Mobile").mask("(999) 999-9999");
            $("#UserInfo_Mobile").mask("(999) 999-9999");
            $("#Contractor_BusinessPhone").mask("(999) 999-9999");
            $("#BusinessPhone").mask("(999) 999-9999");
            $("#tin").mask("99-9999999");
            $("#ssn").mask("999-99-9999");

            $('table.dataTable').dataTable({
                'iDisplayLength': 100,
                'oLanguage': {
                    "sEmptyTable": "no data available"
                }
                
            });

            $('#skyWall').animate({ 'background-position-y': '+=375px' }, 35000, 'linear');
        });
    </script>
</head>
<body>
    <header id="header" class="container clearfix">
        <img src="@Url.Content("~/Content/Images/beta.png")" alt="" id="beta" style="" />
        <img src="@Url.Content("~/Content/Images/yardlad-logo.png")" alt="" class="logo" style="" />
        @Html.ActionLink("Lawn Care Services", "Index", "Home", null, new { id = "logo" })
        @if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
        {
            <span style="color: cornflowerblue; position: absolute; top: 58px; left: 138px; height: 0px; font-size: 1.2em; font-weight: bold; font-family: Georgia; text-shadow: 0px 0px 2px white;">CONTRACTOR PORTAL</span>
        }
        else if (User.IsInRole("admin"))
        {
            <span style="color: orange; position: absolute; top: 58px; left: 160px; height: 0px; font-size: 1.2em; font-weight: bold; font-family: Georgia; text-shadow: 0px 0px 2px white;">ADMIN PORTAL</span>
        }
	    <nav id="main-nav">
		    @{ Html.RenderAction("Navigation", "Home"); }
	    </nav><!-- end #main-nav -->
        
    </header><!-- end #header -->

    <div id="skyWall">

    </div>

    <section id="content" class="container clearfix">
        @RenderBody()
    </section>

    <div class="container" id="grassWall">

    </div>
    @{ Html.RenderAction("Footer", "Home"); }

<!--[if !lte IE 6]><!-->
  @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery-1.7.1.min.js")"><\/script>')</script>*@
	<!--[if lt IE 9]> <script src="@Url.Content("~/Scripts/MyScripts/Template/selectivizr-and-extra-selectors.min.js")"></script> <![endif]-->
	<script src="@Url.Content("~/Scripts/MyScripts/Template/respond.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.easing-1.3.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.fancybox.pack.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.smartStartSlider.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.jcarousel.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.cycle.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.isotope.min.js")"></script>
	@*<script src="@Url.Content("~/Scripts/MyScripts/Template/audioplayerv1.min.js")"></script>*@
	<script src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.gmap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/MyScripts/Template/jquery.touchSwipe.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/Template/custom.js")"></script>
<!--<![endif]-->

</body>
</html>
