﻿@{
    ViewBag.Title = "Change Password Success";
}

<script type="text/javascript">
    // redirects the user to their account page after successfully changing their password
    window.setTimeout(function() {
        window.location.href = '@Url.Action("MyAccount", "Account")';
    }, 3000);
</script>

<p style="text-align: center;">
    Your password has been changed successfully
</p>
