﻿@model YardLad.Models.View.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="changePassword">

    <h2>Change Password</h2>
    <p style="margin-bottom: 0;">Use the form below to change your password. </p>
    <p>New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.</p>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        
        <div class="editor-label">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Change Password" />
        </p>
    }

</div>
