﻿@model YardLad.Models.View.LogOnViewModel

@{
    ViewBag.Title = "Log On";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="logOn">

    <h2>Log On</h2>
    <p>Please enter your username and password.<br />@Html.ActionLink("Register", "Register") if you don't have an account.</p>

    @Html.ValidationSummary(true)

    @using (Html.BeginForm()) {
        <div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>

            <div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div>
                <div class="editor-label">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </div>
    }

</div>
