﻿@model YardLad.Models.View.MyAccountViewModel
@{
    ViewBag.Title = "My Account";
}

<style>
    .rate {
        position: relative;
        top: 8px;
        left: 3px;
    }
</style>

<script>
    $(document).ready(function () {
        $(".accountType").each(function () {
            if ($(this).html() == "contractor account")
            {
                // set links to blue (contractor)
                $("div#myAccount a").css({ "color": "cornflowerblue", "transition": "none" });
            }

            if ($(this).html() == "admin account") {
                // set  links to orange (admin)
                $("div#myAccount a").css({ "color": "orange", "transition": "none" });

                $('div#myAccount > div').removeClass('one-third')
                    .addClass('one-half');
            }

            if ($(this).html() == "standard account") {
                $('div#myAccount > div').removeClass('one-third')
                    .addClass('one-half');
            }
        });

        var highestRating = $('.highestRating').html();
        var lowestRating = $('.lowestRating').html();

        $('#highestRating .rate').raty({
            path: '../../Content/Images/Raty/',
            hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
            cancel: false,
            starOff: 'star-off.png',
            starOn: 'star-on.png',
            starHalf: 'star-half.png',
            cancelOff: 'cancel-off.png',
            cancelOn: 'cancel-on.png',
            half: true,
            halfShow: true,
            score: highestRating,
            readOnly: true
        });

        $('#lowestRating .rate').raty({
            path: '../../Content/Images/Raty/',
            hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
            cancel: false,
            starOff: 'star-off.png',
            starOn: 'star-on.png',
            starHalf: 'star-half.png',
            cancelOff: 'cancel-off.png',
            cancelOn: 'cancel-on.png',
            half: true,
            halfShow: true,
            score: lowestRating,
            readOnly: true
        });
    });
</script>

<div id="myAccount">

    @if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
    {
            <div class="two-third" id="contractorPanel" style="margin-right: 0;">
                @if (User.IsInRole("contractor"))
                {
                    <h2 style="margin-top: 0;">Contractor Panel</h2>
                    <div class="display-field"><span style="font-weight: bold;">Listing Status</span>:
                    @if (Model.IsListed == true)
                    { 
                        <span>You are currently listed in the system</span>
                    }
                    else
                    { 
                        <span>You are currently not listed in the system</span>
                    }
                </div>
            
            
                if (Model.ContractorPayments.Count > 0)
                {
                    // if the current date is greater than the date submitted plus a year
                    if (DateTime.Now.AddHours(2) >= Model.Contractor.ExpiresOn.Value)
                    {
                        <div class="display-field"><span style="font-weight: bold;">Payment</span> | @Html.ActionLink("make a payment", "MakePayment", "Contractor", new { id = Model.ContractorId }, null)
                            <div class="warning">Your service subscription has expired, please make a payment</div>
                        </div>
                    }
                    // if the current date is greater than the date submitted minus 10 months - 2 month warning
                    else if (DateTime.Now.AddHours(2) >= Model.Contractor.ExpiresOn.Value.AddMonths(-10))
                    {
		                <div class="display-field"><span style="font-weight: bold;">Payment</span> | @Html.ActionLink("view payment history", "Index", "ContractorPayment", new { id = Model.ContractorId }, null)
                            <div class="warning">You're account will expire on @Model.Contractor.ExpiresOn.Value.ToShortDateString()</div>
                        </div>
                    }
                    else
                    {
                        <div class="display-field"><span style="font-weight: bold;">Payment</span> | @Html.ActionLink("view payment history", "Index", "ContractorPayment", new { id = Model.ContractorId }, null)
                            <div>You currently have an active subscription</div>
                        </div>
                    }
                }
                else if (Model.ContractorPayments.Count == 0)
                {
                    <div class="display-field"><span style="font-weight: bold;">Payment</span> | @Html.ActionLink("make a payment", "MakePayment", "Contractor", new { id = Model.ContractorId }, null)
                        <div></div>
                    </div>
                }
            
                <div id="contractorMenu" class="display-field"><span style="font-weight: bold;">Qualifications</span> | 
                    @if (Model.IsQualified == true)
                    { @Html.ActionLink("view", "Details", "Qualification", new { id = Model.ContractorId, returnUrl = "Account/MyAccount" }, null) }
                    @if (Model.IsQualified == false)
                    { @Html.ActionLink("submit", "Create", "Qualification", new { id = Model.ContractorId, returnUrl = "Account/MyAccount" }, null) }
                    <span style="font-size: .9em;">
                        @if (ViewBag.QualificationsApproved == true)
                        {
                            <br /><span class="notification">(your qualifications have been approved!)</span>
                        }
                    </span>
                </div>

                <div class="display-field">
                    <span style="font-weight: bold;">Availability</span> | @Html.ActionLink("update", "Availability", "Contractor", new { id = Model.ContractorId }, null)<br />
                    <div>
                        @if (Model.ContractorAvailability.Monday != false)
	                    {
		                    <span>Mon</span>
	                    }
                        @if (Model.ContractorAvailability.Tuesday != false)
	                    {
		                    <span>Tue</span>
	                    }
                        @if (Model.ContractorAvailability.Wednesday != false)
	                    {
		                    <span>Wed</span>
	                    }
                        @if (Model.ContractorAvailability.Thursday != false)
	                    {
		                    <span>Thu</span>
	                    }
                        @if (Model.ContractorAvailability.Friday != false)
	                    {
		                    <span>Fri</span>
	                    }
                        @if (Model.ContractorAvailability.Saturday != false)
	                    {
		                    <span>Sat</span>
	                    }
                        @if (Model.ContractorAvailability.Sunday != false)
	                    {
		                    <span>Sun</span>
	                    }
                    </div>

                </div>
                <div class="display-field"><span style="font-weight: bold;">Tax Rate</span> | @Html.ActionLink("update", "Edit", "Tax", new { id = Model.ContractorId }, null)</div>
                <div>@Model.TaxRate %</div>
                <div>
                    <div class="display-field"><span style="font-weight: bold;">Admin Accounts</span>
                        <div>
                            @foreach (var contractorUser in Model.AccountUsers)
                            {
		                        <div>@if (Roles.IsUserInRole(contractorUser.my_aspnet_users.name, "contractor")) { <div>@contractorUser.my_aspnet_users.name</div> }</div>
                            }
                        </div>
                    </div>
                    <div class="display-field"><span style="font-weight: bold;">Secondary Accounts</span> | @Html.ActionLink("add", "AddUser", "Contractor", new { id = Model.ContractorId }, null)</div>
                    <div>
                        @foreach (var contractorUser in Model.AccountUsers.OrderByDescending(cu => cu.DateCreated))
                        {
                            if (Roles.IsUserInRole(contractorUser.my_aspnet_users.name, "contractor2"))
                            {
                                <div>@contractorUser.my_aspnet_users.name</div>
                            }
                        }
                    </div>
                    <div class="display-field"><span style="font-weight: bold;">Payee Information</span> | 
                        @if (Model.HasSubmittedPayeeInfo != true)
                        {
                            @Html.ActionLink("submit", "PayeeInfo", "Contractor", new { id = Model.ContractorId }, null)
                        }
                        else
	                    {
                            @Html.ActionLink("update", "EditPayeeInfo", "Contractor", new { id = Model.ContractorId }, null)
	                    }
                    </div>
                    @if (Model.HasSubmittedPayeeInfo == true)
                    {
                        <div>
                            Payment method: @Model.DepositVia
                        </div>
                    }
                </div>
                }

                @if (User.IsInRole("contractor2"))
                {
                    <style>
                        #servicesPanel {
                            margin-top: 0 !important;
                        }
                    </style>
                }
                

            <div id="servicesPanel" style="margin-top: 1.5em;">
                <h2>Services Panel</h2>
                
                @if (Model.ServiceArea != null)
                {
                    <div class="display-field" style="margin-bottom: 0;"><span style="font-weight: bold;">Primary Service Area</span> | @Html.ActionLink("update", "ServiceArea", "Contractor", new { id = Model.ContractorId }, null)</div>
                    <div class="display-field" style="margin: 0 auto; margin-bottom: .5em;">@Model.ServiceArea.Name</div>
                    <div class="display-field" style="margin-bottom: 0;">
                        <span style="font-weight: bold;">Secondary Service Areas</span> | @Html.ActionLink("update", "Index", "ContractorServiceArea", new { id = Model.ContractorId }, new { @class = "contractor" })
                        @foreach (var contratorServiceArea in ViewBag.ContractorServiceAreas)
                        {
		                    <div>@contratorServiceArea.ServiceArea.Name</div>
                        }
                    </div>
                }
                else
                {
                    <div class="display-field"><span style="font-weight: bold;">Service Area</span> | @Html.ActionLink("update", "ServiceArea", "Contractor", new { id = Model.ContractorId }, null)</div>
                    <div class="display-field" style="margin-bottom: 1em;">[ please select your primary service area ]</div> 
                }
                <div class="display-field"><span style="font-weight: bold;">
                    Services Offered</span> | @Html.ActionLink("update", "Index", "ContractorService", new { id = Model.ContractorId }, null)
                    <span style="font-size: .9em;">
                        @if (ViewBag.NewServices != 0)
                        {
                            <br /><span class="notification">(new services are available!)</span>
                        }
                    </span>
                    <span style="font-size: .9em;">
                        @if (ViewBag.NewServiceOptions != 0)
                        {
                            <br /><span class="notification">(new service options are available!)</span>
                        }
                    </span>
                    <span style="font-size: .9em;">
                        @if (ViewBag.NewServiceOptionItems != 0)
                        {
                            <br /><span class="notification">(new service option items are available!)</span>
                        }
                    </span>
                </div>
                <div class="display-field" style="margin-bottom: 0;">
                    <span style="font-weight: bold;">Service History</span> | @Html.ActionLink("view", "ServiceHistory", "Contractor", new { id = Model.ContractorId }, null)
                </div>
                <div style="font-size: .9em;">
                    @if (ViewBag.NewServiceRequests != 0)
	                {
		                <span class="notification">(new services have been requested!)</span>
                    }
                </div>
            </div>

            @if (Model.IsListed == true)
            {
                <div>
                    @using (Html.BeginForm("ViewListing", "Contractor", FormMethod.Get))
                    {
                        <input type="hidden" name="id" value="@Model.ContractorId" />
                        <input type="submit" value="VIEW LISTING" />
                    }
                </div>
            }
        </div>
    }

    <div class="one-third" class="myAccount">
        <h2>My Account
            <span>| @Html.ActionLink("Edit Profile", "Edit", "UserProfile", new { id = Model.UserId }, null)</span>
            @if (User.IsInRole("admin"))
            { <span>| @Html.ActionLink("Admin Control Panel", "ControlPanel", "Admin")</span> }
            @if (!User.IsInRole("admin") && !User.IsInRole("contractor"))
            { <span>| @Html.ActionLink("View Service History", "History", "Account")</span> }
        </h2>

        @if (ViewBag.HasMadePayment == true)
        {
            <div class="display-field">
                @Html.ActionLink("View Payment History", "Index", "Payment", new { id = Model.UserId }, null)
            </div>
        }

        <div class="display-field">
            <span style="font-weight: bold;">Account type: </span><span class="accountType">@Model.AccountType</span>
        </div>

        <div class="display-field"><span style="font-weight: bold;">Username</span>: @Model.Username</div>
        <div class="display-field"><span style="font-weight: bold;">Email</span>: @Model.Email</div>
        <div class="display-field"><span style="font-weight: bold;">Date joined</span>: @Model.CreationDate.ToShortDateString()</div>
        <div class="display-field">@Html.ActionLink("Change password", "ChangePassword", "Account")</div>

        @if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
        {
            <h2 style="margin-top: .5em;">Statistics / Dashboard</h2>
            <div class="display-field"><span style="font-weight: bold;">@Html.ActionLink("Number of Services Requested", "ServiceHistory", "Contractor", new { id = Model.ContractorId }, null)</span>: @ViewBag.NumberOfServices</div>
            <div class="display-field"><span style="font-weight: bold;">Number of Ratings</span>: @ViewBag.NumberOfRatings</div>
            if (ViewBag.NumberofRatings != 0)
            {
                <div id="highestRating" class="display-field">
                    <span style="font-weight: bold;">Highest Rating</span>: <span class="rate"></span>
                    <div class="highestRating" style="display: none;">@ViewBag.HighestRating</div>
                </div>
            
                <div id="lowestRating" class="display-field">
                    <span style="font-weight: bold;">Lowest Rating</span>: <span class="rate"></span>
                    <div class="lowestRating" style="display: none;">@ViewBag.LowestRating</div>
                </div>
            }
            <div class="display-field"><span style="font-weight: bold;">@Html.ActionLink("Number of Services Offered", "Index", "ContractorService", new { id = Model.ContractorId }, null)</span>: @ViewBag.NumberOfServicesOffered</div>
        }
    </div>

    
    
</div>