.seven_default{ border:solid 5px #fff;}
.seven_default .seven_bullet_control{ margin-bottom:-30px;}
.seven_default .seven_bt_preview { top:-45px;}
.seven_default .seven_bullet_control #seven_bullet_viewport{ margin-top:-8px;}
.seven_default .seven_bullet_control #seven_bullet_inner_viewport{ padding:10px; background-color:#f5f5f5; border-radius:5px; display:inline-block;}
.seven_default #left_btn{ width:36px;height:36px;background-image:url(../../img/skin/default.png);left:10px;}
.seven_default #right_btn{ width:36px;height:36px;background-image:url(../../img/skin/default.png);right:10px;}
.seven_default .seven_hcarousel.seven_bullet{ margin-top:20px !important;}
.seven_default .seven_hcarousel #seven_hviewport .carousel{border:solid 2px #fff;}
.seven_default .seven_circle{width:11px;height:11px;background-image:url(../../img/skin/c_default.png); }
.seven_default .seven_nav{top:50%;margin-top:-18px;}
.seven_default .seven_a_play{width:11px;height:11px;background-image:url(../../img/skin/p_default.png); }


