﻿@model YardLad.Models.Domain.SiteSetting

@{
    ViewBag.Title = "Edit Setting";
}

<h2>Edit Setting | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.SiteSettingId)
    @Html.HiddenFor(m => m.Name)

    <div class="editor-label">
        @Html.LabelFor(m => m.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Value)
        @Html.ValidationMessageFor(m => m.Value)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}


