﻿@model IEnumerable<YardLad.Models.Domain.SiteSetting>

@{
    ViewBag.Title = "Site Settings";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Site Settings</h2>

<table class="display dataTable">
    <thead>
        <tr>
            <th style="text-align: left;">
                Name
            </th>
            <th style="text-align: left;">
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Edit", "Edit", new { id = item.SiteSettingId }, new { @class = "admin" })
            </td>
        </tr>
        
    }
    </tbody>
</table>
