﻿@model YardLad.Models.Domain.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Question | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<h3>Are you sure you want to delete this question?</h3>

    <div class="display-label">Question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">Question Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType.Name)
    </div>

    <div class="display-label">Is Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Yes" />
    </p>
}
