﻿@model IEnumerable<YardLad.Models.Domain.ServiceOptionRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Contractor
        </th>
        <th>
            Service
        </th>
        <th>
            Name
        </th>
        <th>
            DateRequested
        </th>
        <th>
            IsActive
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceOptionRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceOptionRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceOptionRequestId })
        </td>
    </tr>
}

</table>
