﻿@model YardLad.Models.Domain.ContractorPayment

@{
    ViewBag.Title = "Contractor Payment Details";
}

<h2>Payment Details | 
    @if (User.IsInRole("admin"))
    {
        <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span>
    }
    else
    {
        <span class="contractor">@Html.ActionLink("back", "Index", null, new { @class = "contractor" })</span>
    }
</h2>

<div class="display-label">Transaction Id</div>
<div class="display-field">
    @Html.DisplayFor(model => model.TransactionId)
</div>

<div class="display-label">Contractor</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contractor.Name)
</div>

<div class="display-label">Date Submitted</div>
<div class="display-field">
    @Html.DisplayFor(model => model.DateSubmitted)
</div>

<div class="display-label">Amount</div>
<div class="display-field">
    @Model.Amount.ToString("c")
</div>

<div class="display-label">Email</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Email)
</div>

<div class="display-label">Is Completed?</div>
<div class="display-field">
    @if (Model.IsCompleted == true)
    {
        @:Yes
    }
    else
    {
        @:No
    }
</div>
