﻿@model YardLad.Models.View.ContentEditViewModel

@{
    ViewBag.Title = "Edit Content";
}

<h2>Edit Content | <span class="admin"><a href="@Url.Content("~/" + Request["returnUrl"])">back</a></span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "please correct the following errors and try again")

    @Html.HiddenFor(m => m.ContentId)
    @Html.HiddenFor(m => m.Content.ContentId)
    @Html.HiddenFor(m => m.Content.SectionName)
    @Html.HiddenFor(m => m.Content.ImageId)
    @Html.HiddenFor(m => m.Content.IsActive)
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="display-label">
        @Html.LabelFor(m => m.Content.SectionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Content.SectionName)
    </div>

    if ((Model.Content.SectionName != "Featured Yard") && (Model.Content.SectionName != "Yard Lad Video"))
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.Content.ContentBody)
        </div>
        <div class="editor-field content-editor">
            @Html.TextAreaFor(m => m.Content.ContentBody, new { @class = "MCE-Editor" })
            @Html.ValidationMessageFor(m => m.Content.ContentBody)
        </div>
    }

    if (Model.Content.SectionName == "Featured Yard")
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.Content.Image.Source)
        </div>
        <div class="editor-field">
            <input type="file" name="uploadedImage" />
            @Html.ValidationMessageFor(m => m.Content.Image.Source)
        </div>
    
        <div class="editor-label">
        @Html.LabelFor(m => m.Content.YardOwner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Content.YardOwner)
            @Html.ValidationMessageFor(m => m.Content.YardOwner)
        </div>
    }

    if (Model.Content.SectionName == "Yard Lad Video")
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.Content.Source)
        </div>
        <div class="editor-field">
            <p>
                Please enter the embed link for the video.<br />
                For YouTube, click share and select the "Embed" option, then copy and paste the URL shown in quotations.
            </p>
            @Html.TextBoxFor(m => m.Content.Source, new { style = "width: 95%; max-width: 280px;" })
            @Html.ValidationMessageFor(m => m.Content.Source)
        </div>
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}