﻿@model YardLad.Models.View.ContentListViewModel

@{
    ViewBag.Title = "Content Listing";
}


@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Content Listing</h2>

<div id="contentList">
@foreach (var content in Model.ContentList)
{
    <div class="content">
        @Html.ActionLink(content.SectionName, "Details", "Content", new { id = content.ContentId }, new { style = "color: forestgreen;" }) |
        @Html.ActionLink("Edit", "Edit", new { id = content.ContentId, returnUrl = "Admin/ControlPanel/" }, new { style = "color: orange" })
    </div>
}
</div>




