﻿@model YardLad.Models.Domain.Survey
@{
    ViewBag.Title = "Survey";
}

<script>
    $(document).ready(function() {

        $('.editor-field input[type=radio]').change(function () {
            $(this).parent().children('.save').remove();
            var answer = $(this).val();
            var id = $(this).parent().parent().children().val();

            var data = {
                'id': id,
                'answer': answer
            };

            $.post('@Url.Action("AnswerQuestion", "Survey")', data);

            var confirm = $('<span class="save" style="color: forestgreen;">*your answer has been saved</span>');
            $(this).parent().append(confirm);
        });

        $('.editor-field textarea').change(function () {
            $(this).next('.save').remove();

            var answer = $(this).val();
            var id = $(this).parent().parent().children().val();

            var data = {
                'id': id,
                'answer': answer
            };

            $.post('@Url.Action("AnswerQuestion", "Survey")', data);

            var confirm = $('<span class="save" style="color: forestgreen;">*your answer has been saved</span>');
            $(this).parent().append(confirm);

        });

        $('.editor-field select').change(function () {
            $(this).next('.save').remove();
            var answer = $(this).val();
            var id = $(this).parent().parent().children().val();

            var data = {
                'id': id,
                'answer': answer
            };

            $.post('@Url.Action("AnswerQuestion", "Survey")', data);

            var confirm = $('<span class="save" style="color: forestgreen;">*your answer has been saved</span>');
            $(this).parent().append(confirm);
        });


        function SaveAnswer() {

        }
    });
</script>

<h2>Yard Lad Survey</h2>

<p>
    Please answer all questions if applicable. Your answers will be saved automatically.<br />When you are finished, 
    please click the button below to send off the anonymous survey<br />If you accidentally leave this screen before submitting,
    you can access it again by visiting your service history.
</p>

@foreach (var surveyQuestion in Model.SurveyQuestions)
{
    if (surveyQuestion.Question.QuestionType.Name == "text")
    {
        using (Html.BeginForm("Edit", "SurveyQuestion", FormMethod.Post))
        {
            <input type="hidden" name="SurveyQuestionId" value="@surveyQuestion.SurveyQuestionId" />  
           
            <div class="editor-label">
                @Html.DisplayFor(m => surveyQuestion.Question.Text)
            </div>
        
            <div class="editor-field">
                <textarea name="Answer" style="min-width: 300px; max-width: 100%;">@surveyQuestion.Answer</textarea>
            </div>
        }
    }
    
    if (surveyQuestion.Question.QuestionType.Name == "dropdown")
    {
        using (Html.BeginForm("Edit", "SurveyQuestion", FormMethod.Post))
        {
            <input type="hidden" name="SurveyQuestionId" value="@surveyQuestion.SurveyQuestionId" />  
        
            <div class="editor-label">
                @Html.DisplayFor(m => surveyQuestion.Question.Text)
            </div>
        
            <div class="editor-field">
                <select>
                    <option value="">[ - make a selection - ]</option>
                    @foreach (var answer in surveyQuestion.Question.Answers)
                    {
                        if (surveyQuestion.Answer == answer.Text)
                        {
                            <option value="@answer.Text" selected="selected">@answer.Text</option>
                        }
                        else
                        {
                            <option value="@answer.Text">@answer.Text</option>
                        }
                    }
                </select>
            </div>
        }
    }
    
    if (surveyQuestion.Question.QuestionType.Name == "rating")
    {
        using (Html.BeginForm("Edit", "SurveyQuestion", FormMethod.Post))
        {
            <input type="hidden" name="SurveyQuestionId" value="@surveyQuestion.SurveyQuestionId" />  
        
            <div class="editor-label">
                @Html.DisplayFor(m => surveyQuestion.Question.Text)
            </div>
        
            <div class="editor-field">
		        1 @Html.RadioButtonFor(m => surveyQuestion.Answer, "1")
                2 @Html.RadioButtonFor(m => surveyQuestion.Answer, "2")
                3 @Html.RadioButtonFor(m => surveyQuestion.Answer, "3")
                4 @Html.RadioButtonFor(m => surveyQuestion.Answer, "4")
                5 @Html.RadioButtonFor(m => surveyQuestion.Answer, "5")
            </div>
        }
    }

    
    
}

@using (Html.BeginForm("CompleteSurvey", "Survey", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.SurveyId" />
        
    <p>
        <input type="submit" />
    </p>
}