﻿@{
    ViewBag.Title = "Survey Complete";
}

<h2>Survey Complete</h2>

<p>
    Thanks for completing our anonymous survey! Your input is much appreciated.<br />
    Click @Html.ActionLink("here", "MyAccount", "Account") to return to your account.
</p>