﻿@model YardLad.Models.Domain.ServiceOption

@{
    ViewBag.Title = "Delete Service Option";
}

<script>
    $(document).ready(function () {
        var isConfirmed = false;

        $("form").submit(function (e) {
            if (!isConfirmed)
            {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "Yes": function () {
                            $(this).dialog("close");
                            isConfirmed = true;
                            $("form").submit();
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });

                e.preventDefault();
                return false;
            }
            else
            {
                return true;
            }
        });
      });
  </script>

<h2>Delete</h2>

<h3>Are you sure you want to delete this service option?</h3>

<div class="display-label">Service</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Service.Name)
</div>

<div class="display-label">Option Name</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Name)
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsActive)
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" id="btnSubmit" value="Delete" />
    </p>
}

<div>
    @Html.ActionLink("Back", "Index", new { id = Model.ServiceId }, null)
</div>



<div id="dialog-confirm" title="Delete this service option?" class="hidden">
  <p>This service option will be permanently deleted. Are you sure?</p>
</div>