﻿@model YardLad.Models.Domain.ServiceOption

@{
    ViewBag.Title = "Service Option Details";
}

<h2>Service Option Details | <span class="admin">@Html.ActionLink("back", "Index", new { id = Model.ServiceId }, new { @class = "admin" })</span></h2>

<div class="display-label">Service</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Service.Name)
</div>

<div class="display-label">Option</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Name)
</div>

<div class="display-label">
    Option Items
</div>

<div class="display-field" style="margin-top: 0; margin-bottom: 1em;">
        @foreach (var serviceOptionItem in ViewBag.ServiceOptionItems)
        {
            <div>
                @if (serviceOptionItem.ServiceOptionId == Model.ServiceOptionId)
                {
                    @serviceOptionItem.Name
                    <span style="color: orange; margin-left: .5em; font-weight: bold;">
                        @String.Format("{0:c}", serviceOptionItem.Price)
                    </span>
                }
            </div>
        }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceOptionId }, new { @class = "admin" })
    
</p>
