﻿@model YardLad.Models.Domain.ServiceOption

@{
    ViewBag.Title = "Edit Service Option";
}

<h2>Edit Service Option | <span class="admin">@Html.ActionLink("delete", "Delete", "ServiceOption", new { id = Model.ServiceOptionId }, null)</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.ServiceOptionId)
        @Html.HiddenFor(m => m.ServiceId)
        @Html.HiddenFor(m => m.DateCreated)

        <div class="editor-label">
            @Html.LabelFor(m => m.ServiceId, "Service")
        </div>
        <div class="editor-field">
            @Model.Service.Name
        </div>

        <div class="editor-label">
            <span style="width: 50px; display: inline-block;">@Html.LabelFor(m => m.Order, "Order")</span>
            <span>@Html.LabelFor(m => m.Name, "Option Name")</span>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Order, new { style = "width: 25px;" })
            @Html.TextBoxFor(m => m.Name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.IsActive)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.IsActive)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
}

<div>
    @Html.ActionLink("Back", "Index", new { id = Model.ServiceId }, new { @class = "admin" })
</div>
