﻿@model IEnumerable<YardLad.Models.Domain.Payment>

@{
    ViewBag.Title = "Payments";
}

<script>
    $(document).ready(function () {
        $('table').dataTable({
            'iDisplayLength': 100,
            'order': [[ 2, 'desc']],
            'oLanguage': {
                "sEmptyTable": "no payment history"
            },
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Content/swf/copy_csv_xls_pdf.swf"
            }

        });
    });
</script>



@if (User.IsInRole("admin"))
{
    @Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
    <h2>Customer Payment History</h2>
    
    @*<div style="margin: 1em 0;">
        @Html.ActionLink("View Service History", "History", "Account", null, new { @class = "admin" })
    </div>*@
    
    <table class="display">
        <thead>
        <tr>
            <th style="text-align: left;">
                Transaction ID
            </th>
            <th>
                User
            </th>
            <th>
                Requested Service
            </th>
            <th>
                Date Submitted
            </th>
            <th>
                Amount
            </th>
            <th>
                Is Completed
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TransactionId, "Details", new { id = item.PaymentId }, new { @class = "admin" })
                </td>
                <td style="text-align: center;">
                    <span>
                        @Html.ActionLink(Membership.GetUser(item.RequestedService.UserId, false).UserName, "Details", "User", new { id = item.RequestedService.UserId, returnUrl = "Payment" }, new { @class = "admin" })<br />
                        <span style="font-size: .9em;">@item.RequestedService.UserProfile.FirstName @item.RequestedService.UserProfile.LastName</span>
                    </span>
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.RequestedService.ContractorService.Service.Name)
                </td>
                <td style="text-align: center;">
                    @item.DateSubmitted.ToString("d")
                </td>
                <td style="text-align: center;">
                    @item.Amount.ToString("c")
                </td>
                <td style="text-align: center;">
                    @if (item.IsCompleted == true)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    @Html.ActionLink("back to My Account", "MyAccount", "Account")
    <h2 style="margin: 0 auto;">Your Payment History</h2>
    
    <table class="display">
        <thead>
        <tr>
            <th style="text-align: left;">
                Transaction ID
            </th>
            <th>
                Requested Service
            </th>
            <th>
                Date Submitted
            </th>
            <th>
                Amount
            </th>
            <th>
                Is Completed
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TransactionId, "Details", new { id = item.PaymentId }, null)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.RequestedService.ContractorService.Service.Name)
                </td>
                <td style="text-align: center;">
                    @item.DateSubmitted.ToString("d")
                </td>
                <td style="text-align: center;">
                    -@item.Amount.ToString("c")
                </td>
                <td style="text-align: center;">
                    @if (item.IsCompleted == true)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}