﻿@model YardLad.Models.Domain.RequestedService

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>RequestedService</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractorId, "Contractor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ContractorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ContractorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractorServiceId, "ContractorService")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ContractorServiceId", String.Empty)
            @Html.ValidationMessageFor(model => model.ContractorServiceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRequestMade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRequestMade)
            @Html.ValidationMessageFor(model => model.DateRequestMade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestedStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestedStartDate)
            @Html.ValidationMessageFor(model => model.RequestedStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestedEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestedEndDate)
            @Html.ValidationMessageFor(model => model.RequestedEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressId)
            @Html.ValidationMessageFor(model => model.AddressId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recurring)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recurring)
            @Html.ValidationMessageFor(model => model.Recurring)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerComment)
            @Html.ValidationMessageFor(model => model.CustomerComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractorComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractorComment)
            @Html.ValidationMessageFor(model => model.ContractorComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminComment)
            @Html.ValidationMessageFor(model => model.AdminComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsCompleted)
            @Html.ValidationMessageFor(model => model.IsCompleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
