﻿@model YardLad.Models.Domain.RequestedService

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RequestedService</legend>

    <div class="display-label">UserProfile</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.FirstName)
    </div>

    <div class="display-label">Contractor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contractor.Name)
    </div>

    <div class="display-label">ContractorService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContractorService.ContractorServiceId)
    </div>

    <div class="display-label">DateRequestMade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRequestMade)
    </div>

    <div class="display-label">RequestedStartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestedStartDate)
    </div>

    <div class="display-label">RequestedEndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestedEndDate)
    </div>

    <div class="display-label">AddressId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressId)
    </div>

    <div class="display-label">Recurring</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Recurring)
    </div>

    <div class="display-label">CustomerComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerComment)
    </div>

    <div class="display-label">ContractorComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContractorComment)
    </div>

    <div class="display-label">AdminComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminComment)
    </div>

    <div class="display-label">IsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCompleted)
    </div>

    <div class="display-label">Rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
