﻿@model IEnumerable<YardLad.Models.Domain.RequestedService>
@{
    ViewBag.Title = "Requested Services";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Requested Services</h2>

<table class="display dataTable">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Contractor
            </th>
            <th>
                Service
            </th>
            <th>
                Request Made
            </th>
            <th>
                Start Date
            </th>
            <th>
                Completed?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(Membership.GetUser(item.UserId, false).UserName, "Details", "User", new { id = (int)Membership.GetUser(item.UserId, false).ProviderUserKey }, new { @class = "admin" })<br />
                <span style="font-size: .9em;">@item.UserProfile.FirstName @item.UserProfile.LastName</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.ContractorService.Service.Name)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.DateRequestMade)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.RequestedStartDate)
            </td>
            <td style="text-align: center;">
                @if (item.IsCompleted == true)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.RequestedServiceId }, new { @class = "admin" })
            </td>
        </tr>
    }
    </tbody>
</table>
