﻿@model YardLad.Models.View.AddRatingViewModel

@{
    ViewBag.Title = "Rate Service";
}

<script>
    $(document).ready(function () {

        $(".accordion").accordion({
            collapsible: false,
            active: 1,
            heightStyle: "content"
        });

        $('#rate').raty({
            path: '../../Content/Images/Raty/',
            hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
            cancel: false,
            //starOff: 'star-off.png',
            //starOn: 'star-on.png',
            //starHalf: 'star-half.png',
            //cancelOff: 'cancel-off.png',
            //cancelOn: 'cancel-on.png',
            starOff: 'star-off-big.png',
            starOn: 'star-on-big.png',
            starHalf: 'star-half-big.png',
            cancelOff: 'cancel-off-big.png',
            cancelOn: 'cancel-on-big.png',
            //half: true,
            //halfShow: true,
            size: 24,
            target: '#hint',
            targetFormat: '{score}',
            targetKeep: true,
            targetText: '',
            targetType: 'hint'
            
        });

        $('#Comments').attr("placeholder", 'Write your review here (required)');

        $('#rate img').click(function () {
            $('#Value').val($('input[name=score]').val());
        });

        $('#Comments').inputlimiter({
            limit: 160,
            boxId: 'limitingtext',
            boxAttach: false,
            remText: '%n character%s remaining...',
            remFullText: '',
            limitText: 'comments are limited to 160 characters'
        });

        
    });
</script>

<style>
    .validation-summary-errors ul {
        padding-left: 0;
        list-style: none;
    }

    .rating textarea {
        width: 97.5%;
    }
</style>


<div class="rating">
    @*<h2>Rate Service | <span class="link">@Html.ActionLink("back", "History", "Account")</span></h2>*@

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.RequestedServiceId)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.ContractorId)
        @Html.HiddenFor(m => m.Value)

        <div class="accordion">
            <h3>Service Details</h3>
            <div style="font-size: .9em;">
                <div>Service: @Html.DisplayFor(m => m.RequestedService.ContractorService.Service.Name)</div>
                <div>Contractor: @Html.DisplayFor(m => m.RequestedService.Contractor.Name)</div>
                <div>Date Completed: @Model.RequestedService.DateCompleted.Value.ToString("d")</div>
            </div>
            <h3>Rating: <span id="hint" style="font-weight: normal;"></span></h3>
            <div>
                <div id="rate"></div>
                <div>
                    @Html.EditorFor(model => model.Comments)
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>
                <p style="margin: 0 auto; overflow: auto;">
                    <span>
                        @Html.ActionLink("view tips and guidelines", "TipsAndGuidelines", "Rating", new { returnUrl = "RequestedService/Rate/" + Model.RequestedServiceId }, new { @style = "color: forestgreen", id = "tips" })
                        | <span id="limitingtext">comments are limited to 160 characters</span>
                    </span>
                    <input style="float: right;" type="submit" value="Submit Rating" />
                </p>
            </div>
        </div>
    }

</div>

<div id="tipDialog" style="display: none;">
    <p style="margin: 1em 0;">
        <strong>Yard Lad wants your opinions to be heard</strong><br />
        We want customers to get the information they need to make better decisions when selecting contractors, and we'd love your input! 
        As an Yard Lad customer, you can submit written reviews for services rendered to you by our contractors.
        We encourage you to share your opinions, both favorable and unfavorable.
    </p>

    <p style="margin: 1em 0;">
        <strong>Tips on writing a great review</strong>
        <ul style="margin: .5em 0;">
            <li><strong>Include the "why"</strong>: The best reviews include not only whether the service was great or not, but also why. </li>
            <li><strong>Be specific</strong>: Your review should focus on specific details of the service and your experience with the contractor.</li>
            <li><strong>Not too short, not too long</strong>: Written reviews are limited to 160 characters. The ideal length is 75 to 500 words.</li>
            <li><strong>Be sincere</strong>: We welcome your honest opinion about the service--positive or negative. We do not remove reviews because they are critical. We believe all helpful information can inform our customers’ buying decisions.</li>
        </ul>
    </p>

    <p style="margin: 1em 0;">
        <strong>What's not allowed</strong>
        Yard Lad is pleased to provide this option for you to share your opinions on products. While we appreciate your time and comments, we limit customer participation to one review per product and reserve the right to remove reviews that include any of the following: 

        <em>Objectionable material</em>:
        <ul style="margin: .5em 0;">
            <li>Obscene or distasteful content</li>
            <li>Profanity or spiteful remarks</li>
            <li>Promotion of illegal or immoral conduct</li>
        </ul>
        <em>Promotional content</em>:
        <ul style="margin: .5em 0;">
            <li>Advertisements, promotional material or repeated posts that make the same point excessively</li>
        </ul>
        <em>Inappropriate content</em>:
        <ul style="margin: .5em 0;">
            <li>Other people's material (this includes excessive quoting)</li>
            <li>Phone numbers, postal mailing addresses, and URLs external to YardLad.com</li>
        </ul>
        <ul style="margin: .5em 0;">
        <em>Off-topic information</em>:
            <li>Material that isn't related to the service or contractors performance.</li>
        </ul>
    </p>

    @*<p style="margin: 1em 0;">
        If you have a question or you'd like to tell us about a specific problem with Customer Reviews, please 
        @Html.ActionLink("contact us", "Contact", "Admin", new { @subject = "Ratings" }, null). 
    </p>*@
</div>