﻿@model YardLad.Models.Domain.ServiceArea

@{
    ViewBag.Title = "Add Service Area";
}

<h2>Add Service Area | <span class="admin">@Html.ActionLink("back", "Index", "ServiceArea", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.IsActive)

    <div class="editor-label">
        State
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
        @Html.ValidationMessageFor(model => model.StateId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
}
