﻿@model YardLad.Models.Domain.my_aspnet_users

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<p>
    @Html.ActionLink("Edit User Profile", "Edit", "UserProfile", new { id = Model.id }, new { @class = "admin", returnUrl = "User/Index" })
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.applicationId)
    @Html.HiddenFor(m => m.isAnonymous)
    @Html.HiddenFor(m => m.lastActivityDate)

    <div class="editor-label">
        @Html.LabelFor(model => model.name, "Username")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.name)
        @Html.ValidationMessageFor(model => model.name)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    
</div>
