﻿@model YardLad.Models.Domain.my_aspnet_users
@{
    ViewBag.Title = "User Details";
}

<h2>User Details | <span class="admin">
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@Url.Content("~/" + ViewBag.ReturnUrl)" class="admin">back</a>
    }
    else
    {
        @Html.ActionLink("back", "Index", "User", null, new { @class = "admin" })
    }
    </span></h2>

<h3 style="margin: 1em 0;">Account Info | @Html.ActionLink("edit", "Edit", new { id = Model.id }, new { @class = "admin" })</h3>

<div class="display-label">Username</div>
<div class="display-field">
    @Html.DisplayFor(model => model.name)
</div>

<div class="display-label">Email</div>
<div class="display-field">
    @Membership.GetUser(Model.name, false).Email
</div>

<div class="display-label">Roles</div>
@if (Model.my_aspnet_roles.Count != 0)
{
    <div class="display-field">
    @foreach (var role in Model.my_aspnet_roles)
    {
        @role.name<br />
    }
    </div>
}
else
{
    <div class="display-field">
        web user
    </div>
}

<div class="display-label">Last Activity Date</div>
<div class="display-field">
    @Model.lastActivityDate.Value.ToString("F")
</div>

<div class="display-label">Member Since</div>
<div class="display-field">
    @Membership.GetUser(Model.id, false).CreationDate.ToString("F")
</div>

<h3 style="margin: 1em 0;">User Profile | @Html.ActionLink("edit", "Edit", "UserProfile", new { id = Model.id }, new { @class = "admin", returnUrl = "User/Details/" + Model.id })</h3>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.FirstName) @Html.DisplayFor(model => model.UserProfile.LastName)
</div>

<div class="display-label">Address</div>
<div class="display-field">
    <address style="margin-bottom: 0;">
        @if (Model.UserProfile.AddressId != null)
        {
            @Model.UserProfile.Address.Line1
        }
        else
        {
            <p>This user has not saved an primary address.</p>
        }
        
        @if (Model.UserProfile.AddressId != null)
        {
            @Model.UserProfile.Address.Line2<br />
        }
        else
        {
            <p>This user has not entered in a secondary address</p>
        }
        
        @* Was used to display further address details, causes server error
        @Model.UserProfile.Address.City, @Model.UserProfile.Address.State.Abbreviation, @Model.UserProfile.Address.PostalCode*@
        @if (Model.UserProfile.AddressId == null)
        {
            @Html.ActionLink("create address", "Create", "Address", new { id = Model.UserProfile.AddressId, returnUrl = "User/Details/", userId = Model.id }, new { @class = "admin" })
        }
        else
        {
            @Html.ActionLink("edit address", "Edit", "Address", new { id = Model.UserProfile.AddressId, returnUrl = "User/Details/" + Model.id }, new { @class = "admin" })
        }
    </address>
</div>

<div class="display-label">Phone</div>
<div class="display-field">
    Main: @Html.DisplayFor(model => model.UserProfile.Phone)<br />
    Mobile: @Html.DisplayFor(model => model.UserProfile.Mobile)<br />
    Accept SMS: @Html.DisplayFor(model => model.UserProfile.AcceptSMS)
</div>

<div class="display-label">Date of Birth</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.DateOfBirth)
</div>

<div class="display-label">Gender</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.Gender)
</div>



<p style="margin: 1em 0;">
    
</p>
