﻿@model IEnumerable<YardLad.Models.Domain.my_aspnet_users>

@{
    ViewBag.Title = "Users";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Yard Lad Users</h2>

<p>
    This is a list of current users in the system.
</p>

<table class="display dataTable">
    <thead>
    <tr>
        <th>
            User ID
        </th>
        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th>
            Role
        </th>
        <th>
            Contractor Type
        </th>
        <th>
            Is Active
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td style="text-align: center;">
            @foreach (var role in item.my_aspnet_roles)
            {
                if (role.name == "admin")
                {
                    <div style="color: orange;">@item.name</div>
                }
                else if (role.name == "contractor" || role.name == "contractor2")
                {
                    foreach (var contractor in item.ContractorUsers.Where(cu => cu.UserId == item.id))
                    {
                        @Html.ActionLink(item.name, "Details", "Contractor", new { id = contractor.ContractorId, returnUrl = "User/Index" }, new { @class = "contractor", style = "color: cornflowerblue;" })
                    }
                }
                else
                {
                    <div style="color: cornflowerblue;">@item.name</div>
                }
            }

            @if (item.my_aspnet_roles.Count() == 0)
            {
                @Html.ActionLink(item.name, "Details", "User", new { id = item.id }, null)
            }
        </td>
        <td style="text-align: center;">
            @item.name
        </td>
        <td style="text-align: center;">
            @foreach (var role in item.my_aspnet_roles)
            {
                if (role.name == "contractor")
                {
                    @:contractor admin
                }
                else if (role.name == "contractor2")
                {
                    @:contractor secondary admin
                }
                else
                {
                   @role.name 
                }                
            }

            @if (item.my_aspnet_roles.Count() == 0)
            {
                @:web user
            }
        </td>
        <td style="text-align: center;">
            @if (Roles.IsUserInRole(item.name, "contractor") || Roles.IsUserInRole(item.name, "contractor2"))
            {
                foreach (var contractorUser in item.ContractorUsers.Where(cu => cu.UserId == item.id))
                {
                    
                    if (contractorUser.Contractor.ContractorType.Type.ToLower() == "business")
                    {
                        @:professional business
                    }
                    else if (contractorUser.Contractor.ContractorType.Type.ToLower() == "freelance")
                    {
                        @:freelance professional
                    }
                    else if (contractorUser.Contractor.ContractorType.Type.ToLower() == "student")
                    {
                        @:apprentice
                    }
                    else
                    {
                        @contractorUser.Contractor.ContractorType.Type.ToLower()
                    }
                }
            }
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.UserProfile.IsActive)
        </td>
        <td>
            <span class="admin">@Html.ActionLink("Edit User", "Edit", new { id = item.id })</span>
        </td>
    </tr>
}
    </tbody>
</table>
