﻿@model YardLad.Models.View.AddContractorUserViewModel

@{
    ViewBag.Title = "Add New User";
}

<script>
    $(document).ready(function () {
        $('#DateOfBirth').val('');
    });
</script>

<h2>Add New User</h2>
<p style="width: 100%; max-width: 665px;">
    You are currently adding another user to your contractor profile. If you select this user to be a secondary admin, they will only be able to view service related details
    and will not be able to change account information (such as tax, payee, qualifications, etc.) If you add them as a primary admin, they will have full control.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")

    @Html.HiddenFor(m => m.ContractorId)
        
    <div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Role)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.RoleId, "[ - select a role - ]")
            @Html.ValidationMessageFor(m => m.Role)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "datepicker" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Mobile)
            @Html.ValidationMessageFor(m => m.Mobile)
        </div>

        <div class="editor-field">
            <span>@Html.CheckBoxFor(m => m.AcceptSMS)</span>
            <span class="editor-label">
                @Html.LabelFor(m => m.AcceptSMS)
            </span>
            <p style="width: 50%; min-width: 300px;">
                this free service allows the user to send and receive text updates for easier access to making payments, scheduling reoccurring services, rating services, etc.<br />
                <span style="font-size: .9em; color: forestgreen;">standard SMS charges still apply (based on your mobile carrier and plan)</span>
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Gender)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(m => m.Gender, "male") @Html.LabelFor(m => m.Gender, "male")
            @Html.RadioButtonFor(m => m.Gender, "female") @Html.LabelFor(m => m.Gender, "female")
            @Html.ValidationMessageFor(m => m.Gender)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </div>
}