﻿@model YardLad.Models.View.ChecklistViewModel

@{
    ViewBag.Title = "Checklist";
}

<style>
    #checklist li:before {
        content: none;
        margin-left: -1em;
        margin-right: .100em;
    }

    #checklist li.checked:before {
        content: '✓';
        margin-left: -1.3em;
        margin-right: .5em;
    }

    li.checked {
        list-style: none;
    }
</style>

<div id="checklist">

    <div class="contractor">@Html.ActionLink("continue to my account", "MyAccount", "Account", new { access = true }, new { @class = "contractor" })</div>
    <h2>Contractor Checklist</h2>

    <p style="margin-bottom: .5em;">These are the next steps you will need to take before you can get started:</p>
    <ul>
        @if (Model.HasSubmittedQualifications == true)
        {
            <li class="checked">Submit your qualifications.
                <span style="color:cornflowerblue">COMPLETED</span> |
                @Html.ActionLink("view", "Details", "Qualification", new { id = Model.ContractorId, returnUrl = "Account/MyAccount" }, new { @class = "contractor" })
            </li>
        }
        else
        {
            <li>Submit your qualifications.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("submit qualifications", "Create", "Qualification", new { id = Model.ContractorId, returnUrl = "Account/MyAccount" }, new { @class = "contractor" })
            </li>
        }
        
        
        @if (Model.HasSubmittedQualifications == true)
	    {
            if (Model.IsQualified == true)
            {
                <li class="checked">Once submitted, an admin will review those qualifications and you will be notified when you are approved.<br />Approval Status:
                    <span style="color:cornflowerblue">APPROVED</span>
                </li>
            }
            else
            {
                <li>Once submitted, an admin will review those qualifications and you will be notified when you are approved.<br />Approval Status:
                    <span style="color:red">AWAITING APPROVAL</span>
                </li>
            }
	    }
        
        @if (Model.HasAddedAService == true)
        {
            <li class="checked">Manage the services you offer.
                <span style="color:cornflowerblue">COMPLETED</span> |
                @Html.ActionLink("update services", "Index", "ContractorService", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
        else
        {
            <li>Manage the services you offer.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("update services", "Index", "ContractorService", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
        
        @if (Model.HasSetTax == true)
        {
            <li class="checked">Manage your tax rate information and the service area your company resides.
                <span style="color:cornflowerblue">COMPLETED</span> |
                @Html.ActionLink("update tax rate", "Edit", "Tax", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
        else
        {
            <li>Manage your tax rate information and the service area your company resides.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("update tax rate", "Edit", "Tax", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }

        @if (Model.HasSetPrimaryServiceArea == true)
        {
            <li class="checked">Select a primary service area.
                <span style="color:cornflowerblue">COMPLETED</span> |
                @Html.ActionLink("update service area", "ServiceArea", "Contractor", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
        else
        {
              <li>Select a primary service area.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("update service area", "ServiceArea", "Contractor", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>  
        }

        @if (Model.HasSetAvailability == true)
        {
            <li class="checked">Set your availability.
                <span style="color:cornflowerblue">COMPLETED</span> |
                @Html.ActionLink("update availability", "Availability", "Contractor", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
        else
        {
              <li>Set your availability.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("update availability", "Availability", "Contractor", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>  
        }
        
        @if (Model.HasPaid == true && Model.HasActiveSubscription == true)
        {
            <li class="checked">Before you can be listed, you will also need to submit payment.
                <span style="color:cornflowerblue">COMPLETED</span>
            </li>
        }
        @if (Model.HasPaid && Model.HasActiveSubscription == false)
        {
            <li>Before you can be listed, you will also need to submit payment.
                <span style="color:red">YOU HAVE AN EXPIRED SUBSCRIPTION</span>
            </li>
        }
        @if (Model.HasPaid == false)
        {
            <li>Before you can be listed, you will also need to submit payment.
                <span style="color:red">INCOMPLETE</span> |
                @Html.ActionLink("make a payment", "MakePayment", "Contractor", new { id = Model.ContractorId }, new { @class = "contractor" })
            </li>
        }
    </ul>

    @if (Model.ReadyToBeListed == true)
    {
        <p style="margin-bottom: 0;">
            Congratulations! You have completed all the necessary steps and are now ready for listing.<br />
            You can publish your listing by clicking the button below, you will be notified when a customer requests a service from you or your company!
        </p>
        using (Html.BeginForm("GetListed", "Contractor", FormMethod.Post)) {
            <input type="hidden" name="id" value="@Model.ContractorId" />
            <input style="margin-bottom: 1em;" type="submit" value="GET LISTED" />
        }
    }

    <p>
        Thank you for becoming a part of our network! If you have any questions or concerns please contact us.
        <br />-The Yard Lad team
    </p>

</div>

