﻿@model YardLad.Models.View.PayeeEditViewModel

@{
    ViewBag.Title = "Payee Info";
}

<script>
    $(document).ready(function () {

        var selection = $('#depositViaSelection').html()

        if (selection == 'Electronic Funds Transfer (EFT)') {
            $('#DepositVia').val('Electronic Funds Transfer (EFT)');
        }

        if (selection == 'send a check') {
            $('#DepositVia').val('send a check');
        }

        if (selection == 'use PayPal') {
            $('#DepositVia').val('use PayPal');
        }

        var myForm = $('form');

        $('#check').css('display', 'none');
        $('#EFT').css('display', 'none');
        $('#PayPal').css('display', 'none');

        GetForm();

        $('#DepositVia').change(function () {
            $('.validation-summary-errors').html("");
            clearValidation(myForm);
            $('input').not(':submit, :hidden').val("").removeAttr('checked').removeAttr('selected');
            $('#StateId').val(null);
            GetForm();
        });

        function GetForm() {
            var paymentVia = $('#DepositVia').val();

            //if ($('.validation-summary-errors').html() == "") {
            //    $('input').not(':submit, :hidden').val("").removeAttr('checked').removeAttr('selected');
            //    $('#StateId').val(null);
            //}

            if (paymentVia == 'send a check') {
                $('#check').css('display', 'block');
                $('#EFT').css('display', 'none');
                $('#PayPal').css('display', 'none');
            }

            if (paymentVia == 'Electronic Funds Transfer (EFT)') {
                $('#check').css('display', 'none');
                $('#EFT').css('display', 'block');
                $('#PayPal').css('display', 'none');
            }

            if (paymentVia == 'use PayPal') {
                $('#check').css('display', 'none');
                $('#EFT').css('display', 'none');
                $('#PayPal').css('display', 'block');
            }
        };

        function clearValidation(formElement) {
            //Internal $.validator is exposed through $(form).validate()
            var validator = $(formElement).validate();
            //Iterate through named elements inside of the form, and mark them as error free
            $('[name]', formElement).each(function () {
                validator.successList.push(this);//mark as error free
                validator.showErrors();//remove error messages if present
            });
            validator.resetForm();//remove error class on name elements and clear history
            validator.reset();//remove all error and success data
        }

    });
</script>

<h2>Edit Payee Information | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

<p>
    The following information is needed before we are to send out payments after you have completed at least one service.<br />
    <span class="warning">Please make sure you fill out the form below accurately.</span>
</p>

<h4>Tax Information</h4>

<p>
    We are required by law to obtain this information from you when making a reportable payment to you. If you do not provide us
    with this information, your payments may be subject to 28% federal income tax backup withholding. Also, if you do not provide 
    us with this information, you may be subject to a $50 penalty imposed by the Internal Revenue Service under section 6723.
</p>

<p>
    Federal law on backup withholding preempts any state or local law remedies, such as any right to a mechanic's lien. If you do 
    not furnish a valid TIN, or if you are subject to backup withholding, the person or entity paying is required to withhold 28% 
    of its payment to you. Backup withholding is not a failure to pay you. It is an advance tax payment. You should report all 
    backup withholding as a credit for taxes paid on your federal income tax return.
</p>

<p>
    You may use this form to sign and submit your information electronically. You may also reference the IRS 
    <a class="contractor" href="http://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">W-9 Form</a>, and <a class="contractor" href="http://www.irs.gov/pub/irs-pdf/iw9.pdf" target="_blank">W-9 instructions</a> 
    from the IRS website: <a class="contractor" href="http://www.irs.gov" target="_blank">www.irs.gov</a>.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "correct the following errors and try again")

    @Html.HiddenFor(m => m.PayeeId)
    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.AddressId)

    <div id="depositViaSelection" style="display: none;">@ViewBag.DepositViaSelection</div>
    
    <div class="editor-label">
        Deposit commission payments via
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.DepositVia, (SelectList)ViewBag.DepositVia)
        @Html.ValidationMessageFor(m => m.DepositVia)
    </div>
    
    <div id="check" style="display: none;">
        <div class="editor-label">
            @Html.LabelFor(m => m.PayTo)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.PayTo)
            @Html.ValidationMessageFor(m => m.PayTo)
        </div>

        <div class="editor-label">
            Address @Html.LabelFor(m => m.Line1)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Line1)
            @Html.ValidationMessageFor(m => m.Line1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Line2)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Line2)
            @Html.ValidationMessageFor(m => m.Line2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.City)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.City)
            @Html.ValidationMessageFor(m => m.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.StateId)
        </div>
        
        <div class="editor-field">
            @Html.DropDownListFor(m => m.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
            @Html.ValidationMessageFor(m => m.StateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.PostalCode)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.PostalCode)
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.DaytimePhone)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.DaytimePhone, new { @class = ".phone" })
            @Html.ValidationMessageFor(m => m.DaytimePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.EveningPhone)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.EveningPhone, new { @class = ".phone" })
            @Html.ValidationMessageFor(m => m.EveningPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Fax)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Fax, new { @class = ".phone" })
            @Html.ValidationMessageFor(m => m.Fax)
        </div>
    </div>
    
    <div id="EFT" style="display: none;">

        <div class="editor-label">
            Account type
        </div>
        <div class="editor-field">
            <span style="margin-right: .5em;">@Html.RadioButtonFor(m => m.AccountType, "Checking") Checking</span>
            <span>@Html.RadioButtonFor(m => m.AccountType, "Savings") Savings</span>
            @Html.ValidationMessageFor(m => m.AccountType)
        </div>
    
        <div class="editor-label">
            Is this a business or personal account?
        </div>
        <div class="editor-field">
            <span style="margin-right: .5em;">@Html.RadioButtonFor(m => m.BusinessOrPersonal, "Business") Business</span>
            <span>@Html.RadioButtonFor(m => m.BusinessOrPersonal, "Personal") Personal</span>
            @Html.ValidationMessageFor(m => m.BusinessOrPersonal)
        </div>
    
        <div style="margin: 1em 0;">
            <img src="@Url.Content("~/Content/Images/check.gif")" />
        </div>

        <div class="editor-label">
            Name on account
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.NameOnAccount)
            @Html.ValidationMessageFor(m => m.NameOnAccount)
        </div>

        <div class="editor-label">
            Account number
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.AccountNumber)
            @Html.ValidationMessageFor(m => m.AccountNumber)
        </div>
    
        <div class="editor-label">
            Account number confirm
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.AccountNumberConfirm)
            @Html.ValidationMessageFor(m => m.AccountNumberConfirm)
        </div>

        <div class="editor-label">
            Routing number
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.RoutingNumber)
            @Html.ValidationMessageFor(m => m.RoutingNumber)
        </div>

    </div>
    
    
    <div id="PayPal" style="display: none;">
        <div class="editor-label">
            PayPal email
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.PayPalEmail)
            @Html.ValidationMessageFor(m => m.PayPalEmail)
        </div>

        <div class="editor-label">
            PayPal email confirm
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.PayPalEmailConfirm)
            @Html.ValidationMessageFor(m => m.PayPalEmailConfirm)
        </div>
    </div>
    
    <p>
        <input type="submit" value="Update" />
    </p>
}