﻿@model YardLad.Models.Domain.Contractor

@{
    ViewBag.Title = "Make a Payment";
}

<div style="margin-right: 0;">
    @using (Html.BeginForm("ContractorPayment", "PayPal"))
    {
        <h2 style="margin: 1em 0 .5em 0;">Make a Payment</h2>
        <p style="width: 85%;">
            This is a once per year fee in order to be listed on the Yard Lad network.
            You currently have a @Model.ContractorType.Type.ToLower() account.
            If you have any questions or concerns please 
            @Html.ActionLink("contact", "Contact", "Admin", new { subject = "Contractor Payment", returnUrl = "/Contractor/MakePayment/" + Model.ContractorId }, new { @class = "contractor" }) a Yard Lad admin.
        </p>
        
        <div>Total: @ViewBag.Price.ToString("c")</div>
        
        <input type="hidden" id="contractorId" name="contractorId" value="@Model.ContractorId" />
        <input type="hidden" id="contractorTypeId" name="contractorTypeId" value="@Model.ContractorTypeId" />
        <input type="hidden" id="price" name="price" value="@ViewBag.Price.ToString()" />
        
        <input type="submit" value="Submit Payment" />
    }
</div>


