﻿@model YardLad.Models.View.ServiceAreaEditViewModel

@{
    ViewBag.Title = "Update Service Area";
}

<script>
    $(document).ready(function () {

        $("#StateId").change(function () {
            $.getJSON("/ServiceArea/GetServiceAreasByState", { stateId: $("#StateId").val() },
                function (serviceAreas) {
                    $("#ServiceAreaId").empty();

                    $.each(serviceAreas, function (i, serviceArea) {
                        $("#ServiceAreaId").append(
                            $('<option/>')
                         .attr('value', this.ServiceAreaId)
                         .text(this.Name)
                        );
                    });

                    if (serviceAreas.length == 0) {
                        $("#ServiceAreaId").append(
                        $('<option/>')
                     .attr('value', 0)
                     .text('sorry, there are no service areas in this state')
                        );

                        $("input[type=submit").prop('disabled', true);
                    }

                    if (serviceAreas.length > 0) {
                        $("input[type=submit").prop('disabled', false);
                    }
                });
        });
    });
</script>

<h2 style="margin-bottom: 0;">Update Primary Service Area | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

@if (Model.Contractor.ServiceAreaId != null)
{
    <div class="contractor">@Html.ActionLink("update secondary service areas", "Index", "ContractorServiceArea", new { id = Model.ContractorId }, new { @class = "contractor" })</div>
}

<p style="margin: 1em 0;">
    Do you offer services in a service area that isn't listed?<br />Click @Html.ActionLink("here", "Contact", "Admin", new { subject = "Service Area Request" }, new { @class = "contractor" })
    to make a request and an admin can make it available for selection.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ContractorId)
    
    <div class="editor-label">
        State
    </div>
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
    </div>
    
    
    <div class="editor-label">
        Service Area
    </div>
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ServiceAreaId, (SelectList)ViewBag.ServiceArea, "[ - select a service area - ]", new { style = "width: auto" })
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}