﻿@model IEnumerable<YardLad.Models.Domain.OptionItem>

@{
    ViewBag.Title = "Index";
}

<h2>Service Option Items</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.OptionId }, null)
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Is Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OptionItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OptionItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OptionItemId })
        </td>
    </tr>
}

</table>
