﻿@model YardLad.Models.Domain.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create Survey Question | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.QuestionTypeId, "Question Type")
    </div>
    <div class="editor-field">
        @Html.DropDownList("QuestionTypeId", "[ - select a type - ]")
        @Html.ValidationMessageFor(model => model.QuestionTypeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Text, new { style = "width: 95%; max-width: 350px;" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    

    <p>
        <input type="submit" value="Create" />
    </p>
}