﻿@model YardLad.Models.Domain.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Question | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.QuestionId)

    <div class="editor-label">
        @Html.LabelFor(model => model.QuestionTypeId, "QuestionType")
    </div>
    <div class="editor-field">
        @Html.DropDownList("QuestionTypeId", String.Empty)
        @Html.ValidationMessageFor(model => model.QuestionTypeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Text, new { style = "width: 95%; max-width: 450px;" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IsActive)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsActive)
        @Html.ValidationMessageFor(model => model.IsActive)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}