﻿@model IEnumerable<YardLad.Models.Domain.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New Question", "Create", "Question", null, new { @class = "admin" })
</p>

<p>
    The questions entered here will be copied and carried over to a new survey if a user opts to fill out a survey after rating a contractor.
    If you want to remove a question from future surveys, simply deactivate it and it will not be copied over to any new surveys. Any old surveys that
    have not been completed before the change will retain the same questions.
</p>

<p>
    Once you create a question, it will be inactive. Make sure you populate available answers (if applicable) and then activate
    the question when completed.
</p>

<table class="display dataTable">
    <thead>
        <tr>
            <th style="text-align: left;">
                Question
            </th>
            <th>
                Type
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @item.Text
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.QuestionType.Name)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @if (item.QuestionType.Name != "text" && item.QuestionType.Name != "rating")
                {
                    if (item.Answers.Count == 0)
	                {
                        @Html.ActionLink("Create Available Answers", "Index", "Answer", new { id = item.QuestionId }, new { @class = "admin" }) @:|
	                }
                    else
	                {
                        @Html.ActionLink("View Available Answers", "Index", "Answer", new { id = item.QuestionId }, new { @class = "admin" }) @:|
	                }
                }
                @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }, new { @class = "admin" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId }, new { @class = "admin" })
            </td>
        </tr>
        }
    </tbody>
</table>
