﻿@model YardLad.Models.Domain.Service

@{
    ViewBag.Title = "Deactivate Service";
}

<h2>Deactivate Service | <span class="admin">@Html.ActionLink("back", "Index", new { manage = "yes", mode = "all" })</span></h2>
<h3>Are you sure you want to deactivate this service?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deactivate" />
    </p>
}