﻿@model YardLad.Models.Domain.Service

@{
    ViewBag.Title = "Delete Service";
}

<script>
    $(document).ready(function () {
        var isConfirmed = false;

        $("form").submit(function (e) {
            if (!isConfirmed)
            {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "Yes": function () {
                            $(this).dialog("close");
                            isConfirmed = true;
                            $("#deleteService").submit();
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });

                e.preventDefault();
                return false;
            }
            else
            {
                return true;
            }
        });
    });
 </script>

<h2>Delete</h2>

<h3>Are you sure you want to delete this service?</h3>

<div class="display-label">Service Category</div>
<div class="display-field">
    @Html.DisplayFor(m => m.ServiceCategory.Name)
</div>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Name)
</div>

<div class="display-label">Description</div>
<div class="display-field">
    @if (Model.Description == null)
    {
        @:No Description
    }
    else
    {
        @Html.DisplayFor(m => m.Description)
    }
    
</div>

<div class="display-label">Base Price</div>
<div class="display-field">
    @Html.DisplayFor(m => m.BasePrice)
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsActive)
</div>

@using (Html.BeginForm("Delete", "Service", null, FormMethod.Post, new { id = "deleteService" }))
{
    <p>
        <input type="submit" id="btnSubmit" value="Delete" />
    </p>
}

<div>
    @Html.ActionLink("Back", "Index", new { manage = "yes" })
</div>


<div id="dialog-confirm" title="Delete this service?" class="hidden">
  <p>This service will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>