﻿@model YardLad.Models.View.ContractorUserViewModel

@{
    ViewBag.Title = "Service Providers";
}

<script>
    $(document).ready(function () {
        var page = $('#Page').val();

        $(document).tooltip({

        });

        $('#signUpBtn').click(function () {
            $('.signUp').css('display', 'block');
            $('#pre').css('display', 'none');
        });

        if (page == "2") {
            $('.signUp').css('display', 'block');
            $('#pre').css('display', 'none');
        }
    });
</script>

<style>
    .ui-tooltip {
        color: white;
        background: forestgreen;
        font-weight: bold;
        font-size: .9em;
        border-color: white;
    }
</style>


<div id="pre">
    <h2>Service Providers | <span class="link">@Html.ActionLink("back", "Index", "Home")</span></h2>
    
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", "Content", new { id = ViewBag.Content.ContentId }, new { @class = "admin" })
    }
    
    <div>
        @Html.Raw(ViewBag.Content.ContentBody)
    </div>

    <div style="margin: 1em 0;">
        <input id="signUpBtn" type="submit" value="Sign Up" />
    </div>

</div>


<div class="signUp" style="display: none;">
    <h3 style="margin-bottom: 0;">Sign up your business to be a part of our network:</h3>
    <p style="margin-top: 0;">Please complete the form: </p>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    if (Model.Page == 1)
    {
        <div id="businessInfo" class="signUp" style="display: none;">
            @Html.HiddenFor(cu => cu.Contractor.IsApproved)
            @Html.HiddenFor(cu => cu.Contractor.ApprovedOn)
            @Html.HiddenFor(cu => cu.Contractor.IsActive)
            @Html.HiddenFor(cu => cu.UserInfo.Address.IsActive)
            @Html.HiddenFor(cu => cu.DateCreated)
            @Html.HiddenFor(cu => cu.Page)

            <div>
                <h3>Business Information</h3>
                <p>Please supply your <strong>business information</strong> here. If you are a single contractor or student/apprentice, please enter your full name and billing address.</p>
                <div class="editor-label">
                    Business Name<br />
                    <div style="font-weight: normal; font-size: .8em;">your legal business name</div>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Contractor.Name)
                    @Html.ValidationMessageFor(m => m.Contractor.Name)
                </div>
    
                <div class="editor-label">
                    Type of Contractor
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.Contractor.ContractorTypeId, (SelectList)@ViewBag.ContractorType, "[ - select a contractor type - ]", null)
                    @Html.ValidationMessageFor(m => m.Contractor.ContractorTypeId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Contractor.BusinessPhone, "Business Phone")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Contractor.BusinessPhone)
                    @Html.ValidationMessageFor(m => m.Contractor.BusinessPhone)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.UserInfo.Address.Line1, "Address Line 1")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserInfo.Address.Line1)
                    @Html.ValidationMessageFor(m => m.UserInfo.Address.Line1)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.UserInfo.Address.Line2, "Address Line 2")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserInfo.Address.Line2)
                    @Html.ValidationMessageFor(m => m.UserInfo.Address.Line2)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.UserInfo.Address.City)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserInfo.Address.City)
                    @Html.ValidationMessageFor(m => m.UserInfo.Address.City)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.UserInfo.Address.StateId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.UserInfo.Address.StateId, (SelectList)(@ViewBag.State), " [ - select a state - ]", null)
                    @Html.ValidationMessageFor(m => m.UserInfo.Address.StateId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.UserInfo.Address.PostalCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UserInfo.Address.PostalCode)
                    @Html.ValidationMessageFor(m => m.UserInfo.Address.PostalCode)
                </div>
            </div>
    
            <p>
                <input type="submit" value="Next" />
            </p>
        </div>
    }
    else
    {
        
        @Html.HiddenFor(cu => cu.Contractor.ContractorId)
        @Html.HiddenFor(cu => cu.UserInfo.Address)
        @Html.HiddenFor(cu => cu.DateCreated)
        @Html.HiddenFor(cu => cu.Page)

        <div>
        <h3 style="margin-top: 1em;">Company Admin Profile</h3>
        <p>
            This information will be used for your user profile. You will be able to login to your account after successful account creation.
        </p>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Username)<br />
            <div style="font-weight: normal; font-size: .8em;">admin username</div>
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Username)
            @Html.ValidationMessageFor(m => m.UserInfo.Username)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Password)
            @Html.ValidationMessageFor(m => m.UserInfo.Password)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.UserInfo.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Email)
            @Html.ValidationMessageFor(m => m.UserInfo.Email)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.FirstName)
            @Html.ValidationMessageFor(m => m.UserInfo.FirstName)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.LastName)
            @Html.ValidationMessageFor(m => m.UserInfo.LastName)
        </div>
    
        @*<div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.DateOfBirth)
            @Html.ValidationMessageFor(m => m.UserInfo.DateOfBirth, "please enter a valid date")
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Phone)
            <br />
                <div style="font-weight: normal; font-size: .8em;">enter primary business phone (if applicable)</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserInfo.Phone)
            @Html.ValidationMessageFor(m => m.UserInfo.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserInfo.Mobile)
            @Html.ValidationMessageFor(m => m.UserInfo.Mobile)
        </div>

        <div class="editor-field" style="margin-top: 1.5em;">
            <span>@Html.CheckBoxFor(m => m.UserInfo.AcceptSMS, new { @checked = "checked" })</span>
            <span class="editor-label">
                @Html.LabelFor(m => m.UserInfo.AcceptSMS)
            </span>
            <p style="width: 50%; min-width: 300px;">
                this free service allows you to send and receive text updates for new service requests, etc.<br />
                <span style="font-size: .9em; color: forestgreen;">standard SMS charges still apply (based on your mobile carrier and plan)</span>
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Gender)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(m => m.UserInfo.Gender, "male") male
            @Html.RadioButtonFor(m => m.UserInfo.Gender, "female") female
            @Html.ValidationMessageFor(m => m.UserInfo.Gender)
        </div>

        <div class="editor-label">
            <span style="margin-left: .25em;">You must @Html.ActionLink("read and accept the terms and conditions", "Terms", "Home", null, new { target = "_blank" }) before continuing.</span>
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.TermsAccepted) <span style="margin-left: .25em;">I accept the terms and conditions</span>
            
        </div>

    </div>
    
    <p>
        <input type="submit" value="Create" />
    </p>
    }
}