﻿@model YardLad.Models.View.RequestServiceViewModel
@{
    ViewBag.Title = "Request a Service";
}

<style>
    div#summary, div#requestService {
        padding: 2.5em;
        box-shadow: 0px 1px 1px 0px;
    }

    div#requestService {
        width: auto;
        display: inline-block;
        min-width: 315px;
        max-width: 445px;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0em;
    }

    select {
        width: auto;
    }
</style>

<script>
    $(document).ready(function () {
        // initial page load
        GetAvailableStates();

        // every time the state ddl changes
        $('#StateId').change(function () {
            $("#ServiceAreaId").empty();
            $("#ServiceAreaId").append(
                        $('<option/>')
                        .attr('value', 0)
                        .text('loading service areas...')
                    );

            $("#ServiceId").empty();
            $("#ServiceId").append(
                        $('<option/>')
                        .attr('value', 0)
                        .text('loading available services...')
                    );

            $(".selectedService").css('display', 'none');
            GetAvailableServiceAreas();
        });

        // every time the service area ddl changes
        $('#ServiceAreaId').change(function () {
            $('#ServiceId').empty();
            $("#ServiceId").append(
                        $('<option/>')
                        .attr('value', 0)
                        .text('loading services...')
                    );

            $(".selectedService").css('display', 'none');
            GetServices();
        });

        // every time the service ddl changes
        $('#ServiceId').change(function () {
            GetServiceDescription();
        });

        $('#SubmitRequest').click(function (e) {
            CheckForAvailableContractors();
            e.preventDefault();
            return false;
        });

        function GetAvailableStates() {
            $.ajax({
                type: "GET",
                url: "/Service/GetAvailableStates",
                data: null,
                async: false
            })
            .done(function (states) {
                $('#StateId').empty();

                $.each(states, function (i, state) {
                    $("#StateId").append(
                        $('<option/>')
                        .attr('value', this.StateId)
                        .text(this.Name)
                    );
                });

                GetAvailableServiceAreas();
            });
        }

        function GetAvailableServiceAreas() {
            $.ajax({
                type: "GET",
                url: "/Service/GetAvailableServiceAreas",
                data: { stateId: $('#StateId').val() },
                async: false
            })
            .done(function (serviceAreas) {
                $('#ServiceAreaId').empty();

                $.each(serviceAreas, function (i, serviceArea) {
                    $("#ServiceAreaId").append(
                        $('<option/>')
                        .attr('value', this.ServiceAreaId)
                        .text(this.Name)
                    );
                });

                GetServices();
            });
        }

        function GetServices() {
            $.ajax({
                type: "GET",
                url: "/Service/GetServices",
                data: { serviceAreaId: $('#ServiceAreaId').val() },
                async: false
            })
            .done(function (services) {
                $('#ServiceId').empty();

                $.each(services, function (i, service) {
                    $("#ServiceId").append(
                        $('<option/>')
                        .attr('value', this.ServiceId)
                        .text(this.Name)
                    );
                });

                GetServiceDescription();
            });
        }

        function GetServiceDescription() {
            $.ajax({
                type: "GET",
                url: "/Service/GetServiceDetails",
                data: { serviceId: $('#ServiceId').val() },
                async: false
            })
            .done(function (service) {

                $.each(service, function (i, details) {
                    $('#ServiceDescription').empty();
                    $('#ServiceDescription').html(this.Description);
                    $('input[type=hidden].basePrice').val(this.BasePrice);
                });
            });

            GetServiceOptions();
        }

        function GetServiceOptions() {
            $.ajax({
                type: "GET",
                url: "/Service/GetServiceOptions",
                data: { serviceId: $('#ServiceId').val() },
                async: false
            })
            .done(function (serviceOptions) {
                $('#ServiceOptions').empty();
                
                $.each(serviceOptions, function (i, serviceOption) {

                    var selectOptions = '';
                    
                    // create the items first for the select
                    $.each(this.ServiceOptionItems, function (i, serviceOptionItem) {
                        selectOptions += '<option value="' + this.ServiceOptionItemId + '" data-price="' + this.Price + '">' + this.Name + '</option>';
                    });

                    // append HTML all at once, add select items at the end
                    $('#ServiceOptions').append(
                        $('<div>')
                        .addClass('display-label serviceOption')
                        .text(this.Name).append(
                            $('<div>')
                            .addClass('editor-field serviceOptionItem')
                            .append(
                                $('<select>')
                                .addClass('optionItems')
                                .attr('name', 'selectedServiceOptionItemIds')
                                .attr('data-id', this.ServiceOptionId)
                        .append(selectOptions))
                        )
                    );
                });
                
                $('.selectedService').slideDown(1500);
            });

            // have to bind the change event since the select lists are inserted after the DOM has been loaded
            $('select.optionItems').bind('change', function () {
                CalculatePrice();
            });

            CalculatePrice();
        }

        function CalculatePrice() {
            var serviceBasePrice = parseInt($('input[type=hidden].basePrice').val());
            var subtotal = 0;

            if (serviceBasePrice != null) {
                subtotal += serviceBasePrice;
            }

            $(".optionItems option:selected").each(function () {
                subtotal += $(this).data('price'); // add the data-price attribute to add to subtotal
            });

            $("span.subtotal").html(subtotal.toFixed(2));
            $("input[type=hidden].subtotal").val(subtotal.toFixed(2));
        }

        function CheckForAvailableContractors() {
            var serviceId = $('#ServiceId').val();

            var optionIds = [];
            $('.optionItems').each(function () {
                optionIds.push($(this).attr('data-id'));
            });

            var optionItemIds = [];
            $('.optionItems option:selected').each(function () {
                optionItemIds.push($(this).val());
            });

            var serviceAreaId = $('#ServiceAreaId').val();

            $.ajax({
                type: 'GET',
                url: '/Service/CheckForAvailableContractors',
                traditional: true,
                data: { serviceId: serviceId, serviceOptionIds: optionIds, serviceOptionItemIds: optionItemIds, serviceAreaId: serviceAreaId},
                async: false
            })
            .done(function (data) {

                if (data.contractorsAvailable == true) {
                    // get all necessary values to post and send to select a contractor screen
                    $('input[type=hidden].stateId').val($('#StateId').val());
                    $('input[type=hidden].serviceAreaId').val($('#ServiceAreaId').val());
                    $('input[type=hidden].serviceId').val($('#ServiceId').val());

                    $('.optionItems').each(function () {
                        $('input[type=hidden].basePrice').after('<input type="hidden" name="SelectedServiceOptionItems" value="'
                            + $(this).attr('data-id') + '" />')
                    });

                    $.each(data.contractorIds, function (i, contractorId) {
                        $('input[type=hidden].basePrice').after('<input type="hidden" name="AvailableContractorIds" value="'
                            + this + '" />')
                    });

                    // submit the form
                    $('form').submit();
                }

                else {
                    // display modal dialog indicating that the contractors in the selected service area don't offer the service options selected
                    $('#dialog').dialog({
                        title: 'No Contractors Available'
                    });
                }
            });
        }
    });
</script>

<div id="dialog" style="display: none;">
    <p>
        We're sorry, there are no contractors in the selected service area that offer the items you selected.
    </p>
</div>

@using (Html.BeginForm("RequestService", "Service", FormMethod.Post))
{
    <div class="two-third" style="margin-right: 0;">
        <div id="requestService" style="overflow: auto">
            <h2>Request a Service</h2>
            @Html.ValidationSummary(true)

            <div class="display-label">Select a State</div>
            <div class="editor-field">
                <select id="StateId" name="StateId">
                    <option value="0">loading states...</option>
                </select>
            </div>

            <div class="display-label">Select a Service Area</div>
            <div class="editor-field">
                <select id="ServiceAreaId" name="ServiceAreaId">
                    <option value="0">loading service areas...</option>
                </select>
            </div>

            <div class="display-label">Select a Service</div>
            <div class="editor-field">
                <select id="ServiceId" name="ServiceId">
                    <option value="0">loading services...</option>
                </select>
            </div>

            <div class="selectedService" style="display: none;">
                <div class="display-label">Service Description</div>
                <div class="editor-field" id="ServiceDescription"></div>
                <div class="serviceOptions" id="ServiceOptions"></div>
                <div style="text-align: right;">
                    <input type="submit" id="SubmitRequest" value="Select a Contractor" />
                </div>
            </div>
        </div>
    </div>

    <div class="one-third" style="float: right; margin-top: 0;">
        <div id="summary">
            <h3>Yard Lad Service Estimate</h3>
            <p>This is an initial Yard Lad estimate. The end total may be higher or lower based upon the contractor you choose, 
            as well as the contractors on-site assessment. Payment adjustments are easy to make on site or online after the 
            service has been completed.</p>
            <div style="font-weight: bold;">Subtotal: $<span class="subtotal">0.00</span></div>
        </div>
    </div>
    
    <input type="hidden" class="stateId" name="StateId" value="0" />
    <input type="hidden" class="serviceAreaId" name="ServiceAreaId" value="0" />
    <input type="hidden" class="serviceId" name="ServiceId" value="0" />
    <input type="hidden" class="basePrice" name="BasePrice" value="0" />
}