﻿@model YardLad.Models.View.RequestServiceViewModel

@{
    ViewBag.Title = "Select a Contractor";
}

<style>
    .rate {
        position: relative;
        top: 8px;
    }
</style>

<script>
    $(document).ready(function () {
        $('table').dataTable({
            "order": [[2, "asc"]]
        });

        $('.rate').each(function () {
            var value = $(this).prev('.value').html();

            $(this).raty({
                path: '../../Content/Images/Raty/',
                hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
                cancel: false,
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                starHalf: 'star-half.png',
                cancelOff: 'cancel-off.png',
                cancelOn: 'cancel-on.png',
                half: true,
                halfShow: true,
                size: 16,
                score: value,
                readOnly: true
            });
        });
    });
</script>

<div style="text-align: right;">@Html.ActionLink("select another service", "RequestService", "Service")</div>
<h2>Select a Contractor</h2>
<div style="margin-bottom: 1em;">
    Selected Service Area: @Model.SelectedServiceArea.Name<br />
    Selected Service: @Model.SelectedService.Name<br />
    @*<div>
        <ul>Selected Service Options:
        @foreach (var option in Model.SelectedServiceOptions)
        {
            <li>@option.Name: 
            @foreach (var item in Model.SelectedServiceOptionItems.Where(ssoi => ssoi.ServiceOptionId == option.ServiceOptionId))
            {
                @item.Name
            }
            </li>
        }
        </ul>
    </div>*@
</div>


    
    

<table class="display">
    <thead>
        <tr>
            <th style="text-align: left;">
                Contractor
            </th>
            <th>
                Contractor Type
            </th>
            @*<th>
                Service Base Price
            </th>*@
            <th>
                Service Price
            </th>
            <th>
                Rating
            </th>
            <th style="width: 215px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contractor in Model.AvailableContractors)
        {
            <tr>
                <td>
                    @contractor.Name
                </td>
                <td style="text-align: center;">
                    @if (contractor.ContractorType.Type.ToLower() == "business")
                    {
                        @: Professional Business
                    }
                    else if (contractor.ContractorType.Type.ToLower() == "freelance")
                    {
                        @: Independent Contractor
                    }
                    else if (contractor.ContractorType.Type.ToLower() == "student")
                    {
                        @: Apprentice
                    }
                </td>
                @*<td style="text-align: center;">
                    @contractor.ContractorServices.Where(cs => cs.ServiceId == Model.ServiceId).SingleOrDefault().BasePrice.ToString("c")
                </td>*@
                <td style="text-align: center;">
                    @{
                    YardLad.Models.Domain.YardLadEntities db = new YardLad.Models.Domain.YardLadEntities();
                    decimal price = contractor.ContractorServices.Where(cs => cs.ServiceId == Model.ServiceId).SingleOrDefault().BasePrice;
                    foreach (var serviceOptionItem in Model.SelectedServiceOptionItems)
                    {
                        foreach (var contractorServiceOptionItem in db.ContractorServiceOptionItems
                            .Where(csoi => csoi.ContractorServiceOption.ContractorService.ContractorId == contractor.ContractorId)
                            .Where(csoi => csoi.ContractorServiceOption.ContractorService.ServiceId == Model.ServiceId)
                            .Where(csoi => csoi.ContractorServiceOption.Name == serviceOptionItem.ServiceOption.Name).ToList())
                        {
                            if (contractorServiceOptionItem.Name == serviceOptionItem.Name)
                            {
                                price += contractorServiceOptionItem.Price;
                            }
                        }
                    }
                        
                        @price.ToString("c")
                    }
                </td>
                <td style="text-align: center;">
                    @if (contractor.Ratings.Count != 0)
                    {
                        // get the median
                        var count = contractor.Ratings.Count;

                        if (count % 2 == 0)
                        {
                            // count is even, need to get the middle two elements, add them together
                            var orderedRatings = contractor.Ratings.OrderBy(cr => cr.Value);
                            decimal median = orderedRatings.ElementAt(count / 2).Value + orderedRatings.ElementAt((count - 1) / 2).Value;
                            median /= 2;
                            <div class="value" style="display: none;">@median</div>
                            <div class="rate"></div>
                        }
                        else
                        {
                            // count is odd, simply get the middle element.
                            <div class="value" style="display: none;">@contractor.Ratings.OrderBy(cr => cr.Value).ElementAt(count / 2).Value</div>
                            <div class="rate"></div>
                        }
                    }
                    else if (contractor.ContractorType.Type.ToLower() == "business" && contractor.Ratings.Count == 0)
                    {
                        <div class="value" style="display: none;">3</div>
                        <div class="rate"></div>
                    }
                    else if (contractor.Ratings.Count == 0)
                    {
                        <div class="value" style="display: none;">0</div>
                        <div class="rate"></div>
                    }
                </td>
                <td style="text-align: center;">
                    @using (Html.BeginForm("SelectContractor", "Service", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.StateId)
                        @Html.HiddenFor(m => m.ServiceAreaId)
                        @Html.HiddenFor(m => m.ServiceId)

                        foreach (var id in Model.SelectedServiceOptionItemIds)
                        {
                            <input type="hidden" name="SelectedServiceOptionItemIds" value="@id" />
                        }

                        foreach (var id in Model.AvailableContractorIds)
                        {
                            <input type="hidden" name="AvailableContractorIds" value="@id" />
                        }
                        
                        <input type="hidden" name="SelectedContractorId" value="@contractor.ContractorId" />
                        <input type="hidden" name="SelectedContractorServiceId" value="@contractor.ContractorServices.Where(cs => cs.ServiceId == Model.ServiceId).SingleOrDefault().ContractorServiceId" />
                        
                        <input type="submit" value="Select Contractor" style="margin: .5em;"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>