﻿@model YardLad.Models.Domain.Service

@{
    ViewBag.Title = "Activate Service";
}

<h2>Activate Service | <span class="admin">@Html.ActionLink("back", "Index", new { manage = "yes", mode = "all" })</span></h2>
<h3>Are you sure you want to activate this service?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Activate" />
    </p>
}