﻿@model YardLad.Models.View.ContractorUserViewModel

@{
    ViewBag.Title = "Form Submitted";
}

<p>Thank you for signing your business up with Yard Lad!<br />You can now view your account
    @Html.ActionLink("here", "MyAccount", "Account", null, new { @class = "contractor" }).
</p>

<p style="margin-bottom: .5em;">These are the next steps you will need to take before you can get started.</p>
<ul>
    <li>Submit your qualifications.</li>
    <li>Once submitted, an admin will review those qualifications and you will be notified when you are approved.</li>
    <li>Manage the services you or your company offer along with your pricing model (unless you accept our default pricing).</li>
    <li>Manage your tax rate information and the service area your company resides.</li>
    <li>Set your availability (days of the week available to do Yard Lad services).</li>
    <li>Before you can be listed, you will also need to submit payment.</li>
    <li>After payment is completed, selecting the "get listed" button on your account page will finalize your listing, and you will be notified when a customer requests a service from you or your company!</li>
</ul>

<p>
    Thank you for becoming a part of our network! If you have any questions or concerns please contact us.
    <br />-The Yard Lad team
</p>

