﻿@model YardLad.Models.Domain.Service

@{
    ViewBag.Title = "Service Details";
}

<h2>
    Service Details |
    <span class="admin">
        @if (Model.ServiceOptions.Count == 0 || Model.ServiceOptions.Count == null)
        {
            @Html.ActionLink("Add Service Options", "Index", "ServiceOption", new { id = Model.ServiceId }, null)
        }
        else if (Model.ServiceOptions.Count >= 1)
        {
            @Html.ActionLink("View Service Options", "Index", "ServiceOption", new { id = Model.ServiceId }, null)
        }
    </span>
</h2>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">Description</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
    @if (Model.Description == null)
    {
        @:No description
    }
</div>

<div class="display-label">Base Price</div>
<div class="display-field">
    @Html.DisplayFor(m => m.BasePrice)
</div>

<div class="display-label">Service Category</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ServiceCategory.Name)
</div>

<div class="display-label">Is Active?</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsActive)
</div>

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ServiceId }) |
    @Html.ActionLink("Back", "Index", new { manage = "yes" })
</p>
