﻿@model YardLad.Models.View.ServiceViewModel

@{
    ViewBag.Title = "Edit Service";
}

<h2>
    Edit Service 
    @*<span class="admin">
        @Html.ActionLink("delete Service", "Delete", "Service", new { id = Model.ServiceId }, null)
    </span>*@
</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ServiceId)
    @Html.HiddenFor(m => m.ServiceCategoryId)
    @Html.HiddenFor(m => m.IsActive)

    <div class="editor-label">
        @Html.LabelFor(m => m.ServiceCategoryId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ServiceCategoryId, (SelectList)ViewBag.ServiceCategory)
        @Html.ValidationMessageFor(m => m.ServiceCategoryId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.BasePrice)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.BasePrice)
        @Html.ValidationMessageFor(m => m.BasePrice)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back", "Index", new { manage = "yes"}, new { @class = "admin" })
</div>
