﻿@model IEnumerable<YardLad.Models.Domain.Service>
@{
    if (Request["manage"] == "yes")
    {
        ViewBag.Title = "Admin Services";
    }
    else
    {
        ViewBag.Title = "Services";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        var tb = $(".seven_container").sevenslider({
            width: 450,
            height: 200,
            fullwidth: false,
            automation: true,
            autointerval: 3,
            progress: true,
            progresstype: 'linear',
            bullet: true,
            carousel: false,
            circular: true,
            responsive: true,
            swipe: true,
            keyboard: true,
            skin: "clean",
            lightbox: false,
            onanimstart: function () {
                //Your Code here
            },
            onanimend: function () {
                //Your Code here
            }
        });
    });
</script>

@if (User.IsInRole("admin") && Request["manage"] == "yes")
{
    @Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
}

<h2>Yard Lad Services</h2>

@if (Request["manage"] != "yes")
{
    <div class="seven_container">
        <div id="seven_viewport">
            <div class="seven_slider">
                <div class="seven_slide"><a class="seven_slide_title">Landscape Design</a><img src="@Url.Content("~/Content/Images/ServiceSlider/landscape-design.png")" /></div>
                <div class="seven_slide"><a class="seven_slide_title">Lawn Care</a><img src="@Url.Content("~/Content/Images/ServiceSlider/lawn-care.jpg")" /></div>
                <div class="seven_slide"><a class="seven_slide_title">Tree Removal</a><img src="@Url.Content("~/Content/Images/ServiceSlider/tree-removal.jpg")" /></div>
                <div class="seven_slide"><a class="seven_slide_title">Snow Removal</a><img src="@Url.Content("~/Content/Images/ServiceSlider/snow-removal.jpg")" /></div>
            </div>
        </div>
        <a id="left_btn" class="seven_nav">Previous Slide</a>
        <a id="right_btn" class="seven_nav right_btn">Next Slide</a>
    </div>

    <div>
        <h3>Our Services Include:</h3>
        <ul id="serviceList">
            @foreach (var c in ViewBag.Content)
            {
                if (c.SectionName == "Service Index (Service List)")
                {
                    if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Service/Index" }, new { @class = "admin" })
                    }
                    
                    @Html.Raw(c.ContentBody)
                }
            }
        </ul>
    </div>

}
else
{
    <p>
        This is an administrators list of services. Once activated, these services can be selected by a contractor
        as a service that they offer. Set the base price, add the options, and option items as a part of the service before activating.
        Once a contractor adds a service, it copies the values entered under the specific service listed here.
        They will not be able to modify what is listed under the service, just the base price and the price for each option item.
    </p>
    <div>
        @Html.ActionLink("Create New Service", "Create", "Service", null, new { @class = "admin" })

        @if (Request["mode"] != "all")
        {
	        <span style="float: right;">@Html.ActionLink("show all services", "Index", "Service", new { manage = "yes", mode = "all" }, new { @class = "admin" })</span>
        }
        else
        {
	        <span style="float: right;">@Html.ActionLink("show only active services", "Index", "Service", new { manage = "yes", mode = "" }, new { @class = "admin" })</span>
        }
    </div>
    
        foreach (var service in Model)
        {
        <div class="display-label">
            @Html.ActionLink(service.Name, "Details", "Service", new { id = service.ServiceId }, null) | 
            <span class="admin">@Html.ActionLink("Edit", "Edit", "Service", new { id = service.ServiceId }, null)</span> |
            @if (service.ServiceOptions.Count == 0)
            {
                <span class="admin">@Html.ActionLink("Add Service Options", "Index", "ServiceOption", new { id = service.ServiceId }, null)</span> @:|
            }
            else if (service.ServiceOptions.Count > 0)
            {
                <span class="admin">@Html.ActionLink("View Service Options", "Index", "ServiceOption", new { id = service.ServiceId }, null)</span> @:|
            }
            <span class="admin">
                @if (service.IsActive == true)
                {
                    @Html.ActionLink("Deactivate", "Deactivate", new { id = service.ServiceId }, null)
                }
                else if (service.IsActive == false)
                {
                    @Html.ActionLink("Activate", "Activate", new { id = service.ServiceId }, null)
                }
            </span>
            <span style="float: right;">@Html.DisplayFor(s => service.IsActive)</span>
        </div>
        }

        if (Model.Count() == 0 && Request["mode"] == "all")
        {
        <div style="text-align: center; margin-top: 1em;">no services have been entered</div>
        }

        if (Model.Count() == 0 && Request["mode"] != "all")
        {
        <div style="text-align: center; margin-top: 1em;">there are no active services currently in the database</div>
    }
}

