﻿@model YardLad.Models.View.RequestServiceViewModel

@{
    ViewBag.Title = "Contractor Service Details";
}

<style>
    div#summary, div#requestService {
        padding: 1em;
        box-shadow: 0px 1px 1px 0px;
    }

    div#requestService {
        width: auto;
        display: inline-block;
        min-width: 280px;
        max-width: 445px;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: .5em;
    }

    select {
        width: auto;
    }

    span.customAddress {
        color: forestgreen;
    }

    span.customAddress:hover {
        cursor: pointer;
        color: forestgreen;
    }

    address {
        font-style: normal;
        margin-bottom: 5px;
    }
</style>


<script>
    $(document).ready(function () {
        if ($('#CreateCustomAddress').val() == 'True') {
            $('#customAddress').slideDown(1000);
        }

        $('span.customAddress').click(function () {
            $('div.userAddress').slideUp(1000);
            $('#customAddress').slideDown(1000);
            $('input[type=hidden]#CreateCustomAddress').val(true);
        });
    });
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="two-third" style="margin-right: 0;">
        
    @using (Html.BeginForm("SubmitRequest", "Service"))
    {
        @Html.HiddenFor(m => m.StateId)
        @Html.HiddenFor(m => m.ServiceAreaId)
        @Html.HiddenFor(m => m.ServiceId)

        foreach (var id in Model.SelectedServiceOptionItemIds)
        {
            <input type="hidden" name="SelectedServiceOptionItemIds" value="@id" />
        }

        foreach (var id in Model.AvailableContractorIds)
        {
            <input type="hidden" name="AvailableContractorIds" value="@id" />
        }
                        
        @Html.HiddenFor(m => m.SelectedContractorId)
        @Html.HiddenFor(m => m.SelectedContractorServiceId)
        @Html.HiddenFor(m => m.SubTotal)
        @Html.HiddenFor(m => m.Tax)
        @Html.HiddenFor(m => m.SelectedContractorTaxRate)
        @Html.HiddenFor(m => m.Total)

        @Html.HiddenFor(m => m.UserIsLoggedIn)

        @Html.HiddenFor(m => m.UserAddressId)
        @Html.HiddenFor(m => m.CreateCustomAddress)
        
        <h3 style="margin: 1em 0 .5em 0;">Service Address</h3>
        
        <div class="userAddress">
            @if (User.Identity.IsAuthenticated && Model.CreateCustomAddress != true && Model.UserAddress != null)
            {
                <address>
                    @Model.UserAddress.Line1<br />
                    @if (Model.UserAddress.Line2 != null)
	                {
		                @Model.UserAddress.Line2<br />
	                }
                    @Model.UserAddress.City, @Model.UserAddress.State.Abbreviation @Model.UserAddress.PostalCode
                </address>
                <div>
                    <span class="customAddress">enter a different address</span>
                </div>
            }
        </div>
        
        <div id="customAddress" style="display: none;">
            Please enter the service address:
            <div class="editor-label">
                @Html.LabelFor(m => m.CustomAddress.Line1)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CustomAddress.Line1)
                @Html.ValidationMessageFor(m => m.CustomAddress.Line1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.CustomAddress.Line2)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CustomAddress.Line2)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.CustomAddress.City)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CustomAddress.City)
                @Html.ValidationMessageFor(m => m.CustomAddress.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.CustomAddress.StateId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.CustomAddress.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
                @Html.ValidationMessageFor(m => m.CustomAddress.StateId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.CustomAddress.PostalCode)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CustomAddress.PostalCode, new { style = "width: 75px" })
                @Html.ValidationMessageFor(m => m.CustomAddress.PostalCode)
            </div>

            <input type="hidden" id="CustomAddress_IsActive" name="CustomAddress.IsActive" value="true" />
        </div>
        
        
        <h3 style="margin: 1em 0 .5em 0;">Payment</h3>
        <p style="width: 85%;">
            The selected contractor will re-evaluate the original estimate on site. If changes need to be made, the price may be more or less than shown here.
            If the price is less than the original estimate, you will be credited the difference.
        </p>
        
        <input style="margin-top: 1em;" type="submit" value="Pay Now" />
    }

</div>

<div class="one-third" style="float: right; margin-top: 0;">
    <div id="summary">
        <h3>@Model.SelectedContractor.Name<br />Service Estimate</h3>
        <p>
            This is an initial estimate. The end total may be higher or lower based upon the contractors on-site assessment.
            Payment adjustments are easy to make on site or online after the service has been completed.
        </p>
        <div>Subtotal: $<span class="subtotal">@String.Format("{0:N2}", Model.SubTotal)</span></div>
        <div>Tax: $<span class="tax">@String.Format("{0:N2}", Model.Tax)</span></div>
        <div style="font-weight: bold;">Total: $<span class="total">@String.Format("{0:N2}", Model.Total)</span></div> 
    </div>
</div>