﻿<footer id="footer" class="clearfix">
    <div class="container">
        <div class="three-fourth">
            <nav id="footer-nav" class="clearfix">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="elements.html">@Html.ActionLink("Services", "Index", "Service")</a></li>
                    <li><a href="contact-us.html">@Html.ActionLink("Contact", "Index", "Contact")</a></li>
                    <li>@Html.Partial("_LogOnPartial")</li>
                </ul>
            </nav>
            <!-- end #footer-nav -->
            <ul class="contact-info">
                <li class="address">@ViewBag.YardLadAddress</li>
                <li class="phone">@ViewBag.YardLadPhoneNumber</li>
                <li class="email"><a href="mailto:@ViewBag.YardLadContactEmail">@ViewBag.YardLadContactEmail</a></li>
            </ul>
            <!-- end .contact-info -->
        </div>
        <!-- end .three-fourth -->

        <div class="one-fourth last">
            <span class="title">Stay connected</span>
            <ul class="social-links">
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="digg"><a href="#">Digg</a></li>
                <li class="vimeo"><a href="#">Vimeo</a></li>
                <li class="youtube"><a href="#">YouTube</a></li>
                <li class="skype"><a href="#">Skype</a></li>
            </ul>
            <!-- end .social-links -->
        </div>
        <!-- end .one-fourth.last -->
    </div>
    <!-- end .container -->
</footer>
<!-- end #footer -->

<footer id="footer-bottom" class="clearfix">
    <div class="container">
        <ul>
            <li>YardLad &copy @DateTime.Now.AddHours(2).Year</li>
            <li><a href="#">Legal Notice</a></li>
            <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
        </ul>
    </div>
    <!-- end .container -->
</footer>
<!-- end #footer-bottom -->
