﻿@model YardLad.Models.Domain.Rating

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Rating</legend>

    <div class="display-label">UserProfile</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.FirstName)
    </div>

    <div class="display-label">Contractor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contractor.Name)
    </div>

    <div class="display-label">Value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">DateRated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRated)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
