﻿@model YardLad.Models.Domain.Rating

@{
    ViewBag.Title = "View Rating";
}

<script>
    $(document).ready(function () {

        var ratingValue = $('#Value').val();

        $(".accordion").accordion({
            collapsible: false,
            active: 1,
            heightStyle: "content"
        });

        $('#rate').raty({
            path: '../../Content/Images/Raty/',
            hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
            cancel: false,
            //starOff: 'star-off.png',
            //starOn: 'star-on.png',
            //starHalf: 'star-half.png',
            //cancelOff: 'cancel-off.png',
            //cancelOn: 'cancel-on.png',
            starOff: 'star-off-big.png',
            starOn: 'star-on-big.png',
            starHalf: 'star-half-big.png',
            cancelOff: 'cancel-off-big.png',
            cancelOn: 'cancel-on-big.png',
            //half: true,
            //halfShow: true,
            size: 24,
            target: '#hint',
            targetFormat: '{score}',
            targetKeep: true,
            targetText: '',
            targetType: 'hint',
            score: ratingValue,
            readOnly: true
        });

        $('#Comments').attr("placeholder", 'Write your review here (required)');

        $('#rate img').click(function () {
            $('#Value').val($('input[name=score]').val());
        });
    });
</script>

@Html.HiddenFor(m => m.Value)

<div class="accordion">
    <h3>Service Details</h3>
    <div>
        <div>Service: @Model.RequestedServices.Where(rs => rs.RatingId == Model.RatingId).Single().ContractorService.Service.Name</div>
        <div>Contractor: @Model.RequestedServices.Where(rs => rs.RatingId == Model.RatingId).Single().Contractor.Name</div>
        <div>Date Completed: @Model.RequestedServices.Where(rs => rs.RatingId == Model.RatingId).Single().DateCompleted.Value.ToString("d")</div>
    </div>
    <h3>Rating: <span id="hint" style="font-weight: normal;"></span></h3>
    <div>
        <div id="rate"></div>
        @Html.DisplayFor(m => m.Comments)
        <div>Submitted by: @Model.UserProfile.FirstName @Model.UserProfile.LastName.Substring(0, 1). on @Model.DateRated.ToString("d")</div>
        
        @if (User.IsInRole("contractor"))
        {
            using (Html.BeginForm("Dispute", "Rating", FormMethod.Get))
            {
            <input type="hidden" name="id" value="@Model.RatingId" />
            <input style="float: right;" type="submit" value="Dispute Rating" />
            }
        }

        @if (User.IsInRole("admin"))
        {
            <div style="margin: 1em auto;">
                @Html.ActionLink("Edit Rating", "Edit", "Rating", new { id = Model.RatingId }, new { @class = "admin" })
            </div>
        }
        
    </div>
</div>