﻿@model YardLad.Models.Domain.Rating

@{
    ViewBag.Title = "Edit Rating";
}

<h2>Edit Rating | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.RatingId)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.Value)
    @Html.HiddenFor(m => m.Comments)
    @Html.HiddenFor(m => m.DateRated)

    <div class="editor-label">
        @Html.LabelFor(model => model.RatingId, "Rating ID")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.RatingId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.UserId, "Username")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UserProfile.my_aspnet_users.name)
        @Html.ValidationMessageFor(m => m.UserId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ContractorId, "Contractor")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Contractor.Name)
        @Html.ValidationMessageFor(m => m.ContractorId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Value)
        @Html.ValidationMessageFor(m => m.Value)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Comments)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Comments)
        @Html.ValidationMessageFor(model => model.Comments)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DateRated, "Date Rated")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.DateRated)
        @Html.ValidationMessageFor(model => model.DateRated)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IsActive, "Is Active")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsActive)
        @Html.ValidationMessageFor(model => model.IsActive)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    
</div>
