﻿@model YardLad.Models.Domain.ContractorServiceArea

@{
    ViewBag.Title = "Add Secondary Service Area";
}

<script>
    $(document).ready(function () {

        $("#ServiceAreaId").html('<option>loading...</option>');

        GetServiceAreas();

        $("#StateId").change(function () {
            GetServiceAreas();
        });

        function GetServiceAreas() {

            $.getJSON("/ServiceArea/GetSecondaryServiceAreasByState", { stateId: $("#StateId").val(), contractorId: $("#ContractorId").val() },
                function (serviceAreas) {
                    $("#ServiceAreaId").empty();

                    $.each(serviceAreas, function (i, serviceArea) {
                        $("#ServiceAreaId").append(
                            $('<option/>')
                         .attr('value', this.ServiceAreaId)
                         .text(this.Name)
                        );
                    });

                    if (serviceAreas.length == 0) {
                        $("#ServiceAreaId").append(
                        $('<option/>')
                     .attr('value', 0)
                     .text('sorry, there are no service areas in this state')
                        );

                        $("input[type=submit").prop('disabled', true);
                    }

                    if (serviceAreas.length > 0) {
                        $("input[type=submit").prop('disabled', false);
                    }
                });
        }
    });
</script>

<h2>Add Secondary Service Area | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorId }, new { @class = "contractor" })</span></h2>

<p>
    Select a secondary service area to add, if you need to charge more to cover travel expenses, indicate a price here that will be added to the customers total 
    upon checkout if they select one of your available services.
</p>

<p style="margin: 1em 0;">
    Do you offer services in a service area that isn't listed?<br />Click @Html.ActionLink("here", "Contact", "Admin", new { subject = "Service Area Request" }, new { @class = "contractor" })
    to make a request and an admin can make it available for selection.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ContractorId)
     
    <div class="editor-label">
        State
    </div>
        
    <div class="editor-field">
        @Html.DropDownList("StateId", (SelectList)ViewBag.State)
    </div>
    
    <div class="editor-label">
        Service Area
    </div>
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ServiceAreaId, (SelectList)ViewBag.ServiceArea, "[ - select a service area - ]", new { style = "width: auto" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <p>
        <input type="submit" value="Add" />
    </p>
}