﻿@model IEnumerable<YardLad.Models.Domain.ContractorServiceArea>

@{
    ViewBag.Title = "Index";
}

<h2>Secondary Service Areas | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

<p>
    @Html.ActionLink("Add New", "Create", new { id = ViewBag.ContractorId }, new { @class = "contractor" })
</p>

<p>
    If you need to offer services outside your primary service area, you can add them here.
    You can set a price modifier when adding a new service area to help cover travel expenses. The total amount will be updated
    for a customer when they select a service you offer upon checkout.
</p>

<table class="display dataTable">
    <thead>
    <tr>
        <th>
            State
        </th>
        <th>
            Service Area
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(csa => csa.ServiceArea.State.Name).ThenBy(csa => csa.ServiceArea.Name)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceArea.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceArea.Name)
            </td>
            <td>
                @item.Price.ToString("c")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContractorServiceAreaId }, new { @class = "contractor" }) |
                @Html.ActionLink("Remove", "Delete", new { id=item.ContractorServiceAreaId }, new { @class = "contractor" })
            </td>
        </tr>
    }
    </tbody>
</table>
