﻿@model YardLad.Models.View.ContractorServiceCreateViewModel

@{
    ViewBag.Title = "Add New Service";
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
    }
</style>

<script>
    $(document).ready(function () {

        if ($('#addedAll').html() != 'You have added all of the available services to your account') {
            GetServiceDescription();
        }
        

        $('#ServiceId').change(function () {
            GetServiceDescription()
        });

        function GetServiceDescription() {
            $.ajax({
                type: "GET",
                url: "/ContractorService/GetServiceDescription",
                data: { serviceId: $("#ServiceId").val() }
            })
            .done(function (description) {
                $('#ServiceDescription').text('');
                $('#ServiceDescription').text(description.toString());
            });
        }
    });
</script>

<h2>
    Add Service |
    <span class="contractor">
        @Html.ActionLink("back", "Index", new { id = Model.Contractor.ContractorId })
    </span>
</h2>

<p>
    Don't see a service you need? Click @Html.ActionLink("here", "Contact", "Admin", new { Subject = "New Service", returnUrl = "ContractorService/Create/" + Model.Contractor.ContractorId }, new { @class = "contractor" }) to make a request.
    <br />Once you add a service, the default values will be used. Be sure to edit the pricing and available options under each service you add.

</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Contractor.ContractorId)
    @Html.HiddenFor(m => m.Contractor.Name)
    @Html.HiddenFor(m => m.Contractor.BusinessPhone)
    
    if (ViewBag.AddedAll != true)
    {
        <div class="editor-label">
            Select a service to add
        </div>
    
        <div class="editor-field">
            @Html.DropDownListFor(m => m.ServiceId, (SelectList)ViewBag.ServiceId)
        </div>
    
        <div style="font-weight: bold; margin: 1em 0;">Service Description</div>
        <div id="ServiceDescription">
            
        </div>
    
        <p>
            <input type="submit" value="Add Service" />
        </p>
    }
    else
    {
        <div class="editor-field" id="addedAll">
            You have added all of the available services to your account
        </div>
    }
    
    
    
}

