﻿@model YardLad.Models.Domain.ContractorServiceOptionItem

@{
    ViewBag.Title = "Edit Contractor Service Option";
}

<h2>Edit Service Option Item | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorServiceOptionId }, new { @class = "contractor" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ContractorServiceOptionItemId)
    @Html.HiddenFor(m => m.ContractorServiceOptionId)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.IsActive)

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    
</div>
