﻿@{
    ViewBag.Title = "Payment Adjustment Return";
}

<script>
    $(document).ready(function () {
        window.setTimeout(function() {
            window.location.href = '@Url.Action("History", "Account")';
        }, 3000);

    });
</script>

@if (ViewBag.Success == "yes")
{
    <div style="text-align: center;">
        Thank you for your payment! Redirecting to service history...
    </div>
}
else
{
    
}