﻿@model YardLad.Models.View.ContactAdminViewModel
@{
    ViewBag.Title = "Contact";
}

@if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
{
   <h2>Contact a Yard Lad Admin | <span class="contractor"><a href="@Url.Content("~/" + Model.ReturnUrl)" class="contractor">back</a></span></h2> 
}
else
{
   <h2>Contact a Yard Lad Admin | <span class="contractor"><a href="@Url.Content("~/" + Model.ReturnUrl)" style="color: forestgreen !important;">back</a></span></h2> 
}

<p>
    Submit your message here and an email will be sent to a Yard Lad administrator.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.IsContractor)
    @Html.HiddenFor(m => m.TypeOfBusiness)
    @Html.HiddenFor(m => m.BusinessName)
    @Html.HiddenFor(m => m.BusinessPhone)
    @Html.HiddenFor(m => m.ReturnUrl)

    if (Model.Roles.Count() > 0)
    {
        for (int i = 0; i < Model.Roles.Length; i++)
        {
            <input type="hidden" name="Roles[@i]" value="@Model.Roles[i]" />
        }    
    }
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Subject)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Subject)
        @Html.ValidationMessageFor(model => model.Subject)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Message)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>
    
    <p>
        <input type="submit" value="Submit" />
    </p>
}
