﻿@{
    ViewBag.Title = "Admin Control Panel";
}

<div id="adminControlPanel">
    <h2>Admin Control Panel</h2>

    <h3>Users</h3>
    <ul>
        <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
        <li>@Html.ActionLink("Manage Contractors", "Index", "ContractorUser")
            <span style="font-size: .9em;">
                @if (ViewBag.NewContractors != 0 && ViewBag.NewContractors != null)
                {
                    if (ViewBag.NewContractors == 1)
                    {
                        <br /><span class="notification">(@ViewBag.NewContractors new contractor)</span>
                    }
                    else
                    {
                        <br /><span class="notification">(@ViewBag.NewContractors new contractors)</span>
                    }
                }
            </span>
            <span style="font-size: .9em;">
                @if (ViewBag.NewUploadedQualifications != 0 && ViewBag.NewUploadedQualifications != null)
                {
                    <br /><span class="notification">(@ViewBag.NewUploadedQualifications new qualifications submitted)</span>
                }
            </span>
        </li>
    </ul>

    <h3>Services</h3>
    <ul>
        <li>@Html.ActionLink("Manage Services", "Index", "Service", new { manage = "yes" }, null)</li>
        <li>@Html.ActionLink("Manage Service Areas", "Index", "ServiceArea")</li>
        @*<li>@Html.ActionLink("Service Option Requests" , "Requests", "ServiceOption")
            <span style="font-size: .9em;">
                @if (ViewBag.NewServiceOptionRequests != 0 && ViewBag.NewServiceOptionRequests != null)
                {
                    <br />@:(@ViewBag.NewServiceOptionRequests new service option requests)
                }
            </span>
        </li>*@
        <li>@Html.ActionLink("Service Option Item Requests" , "Requests", "ServiceOptionItem")
            <span style="font-size: .9em;">
                @if (ViewBag.NewServiceOptionItemRequests != 0 && ViewBag.NewServiceOptionItemRequests != null)
                {
                    <br />@:(@ViewBag.NewServiceOptionItemRequests new service option item requests)
                }
            </span>
        </li>
        <li>@Html.ActionLink("Manage Requested Services", "Index", "RequestedService")</li>
        <li>@Html.ActionLink("Manage Ratings", "Index", "Rating")</li>
    </ul>

    <h3>Payments</h3>
    <ul>
        <li>@Html.ActionLink("View Customer Payments", "Index", "Payment")</li>
        <li>@Html.ActionLink("View Contractor Payments", "Index", "ContractorPayment")</li>
    </ul>

    <h3>Content</h3>
    <ul>
        <li>@Html.ActionLink("Manage Website Content", "Index", "Content")</li>
        <li>@Html.ActionLink("Manage Site Settings", "Index", "SiteSetting")</li>
    </ul>

    <h3>Surveys</h3>
    <ul>
        <li>@Html.ActionLink("View Survey Data", "SurveyData", "Survey")</li>
        <li>@Html.ActionLink("Manage Survey Questions", "Index", "Question")</li>
    </ul>

    <h3>Other</h3>
    <ul>
        <li>@Html.ActionLink("Manage States", "Index", "State")</li>
    </ul>
</div>