﻿@model YardLad.Models.Domain.RequestedService

@{
    ViewBag.Title = "Requested Service Details";
}

<h2>Requested Service Details | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<div class="display-label">Customer</div>
<div class="display-field">
    Name: @Html.DisplayFor(model => model.UserProfile.FirstName) @Html.DisplayFor(model => model.UserProfile.LastName)<br />
    Username: @Membership.GetUser(Model.UserId).UserName
</div>

<div class="display-label">Contractor</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contractor.Name)
</div>

<div class="display-label">Service</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ContractorService.Service.Name)
</div>

<div class="display-label">Date Request Made</div>
<div class="display-field">
    @Html.DisplayFor(model => model.DateRequestMade)
</div>

<div class="display-label">Requested Start Date</div>
<div class="display-field">
    @Html.DisplayFor(model => model.RequestedStartDate)
</div>

<div class="display-label">Contractor Comment</div>
<div class="display-field">
    @if (Model.ContractorComment == null)
    {
        @:[ no comment entered ]
    }
    else
    {
        @Html.DisplayFor(model => model.ContractorComment)   
    }
</div>

<div class="display-label">Admin Comment</div>
<div class="display-field">
    @if (Model.AdminComment == null)
    {
        @:[ no comment entered ]
    }
    else
    {
        @Html.DisplayFor(model => model.AdminComment)   
    }
</div>

<div class="display-label">Is Completed</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsCompleted)
</div>

<div class="display-label">Rating</div>
<div class="display-field">
    @if (Model.RatingId == null)
    {
        @:[ not yet rated ]
    }
    else
    {
        @Html.DisplayFor(model => model.Rating.Value)    
    }
    
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsActive)
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestedServiceId }, new { @class = "admin" })
</p>*@
