﻿@model YardLad.Models.Domain.ContractorService

@{
    ViewBag.Title = "Remove Contractor Service";
}

<h2>Remove Service
    <span class="contractor">| @Html.ActionLink("back", "Index", "ContractorService", new { id = Model.ContractorId },  new { @class = "contractor" })</span>
</h2>

<h3>Are you sure you want to remove this service?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Yes" />
    </p>
}
