﻿@model YardLad.Models.Domain.ContractorService

@{
    ViewBag.Title = "Contractor Service Details";
}

<h2>Service Details |
    <span class="contractor">
        @if (Model.ContractorServiceOptions.Count == 0 || Model.ContractorServiceOptions.Count == null)
        {
            @Html.ActionLink("Add Service Options", "Index", "ContractorServiceOption", new { id = Model.ContractorServiceId }, null)
        }
        else if (Model.ContractorServiceOptions.Count >= 1)
        {
            @Html.ActionLink("View Service Options", "Index", "ContractorServiceOption", new { id = Model.ContractorServiceId }, null)
        }
    </span>
</h2>

<div class="display-label">Service</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Service.Name)
</div>

<div class="display-label">Your Base Price</div>
<div class="display-field">
    $@Html.DisplayFor(m => m.BasePrice)
</div>

<div class="display-label">Default Base Price</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Service.BasePrice)
</div>

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContractorServiceId }, new { @class = "contractor" }) |
    @Html.ActionLink("Back", "Index", new { id = Model.ContractorId }, new { @class = "contractor" })
</p>
