﻿@model YardLad.Models.Domain.ContractorService

@{
    ViewBag.Title = "Edit Contractor Service";
}

<h2>Edit Service | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorId }, new { @class = "contractor" })</span></h2>

@Html.ActionLink("View Service Options", "Index", "ContractorServiceOption", new { id = Model.ContractorServiceId }, new { @class = "contractor" })

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.ContractorServiceId)
    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.ServiceId)
    @Html.HiddenFor(m => m.IsActive)

    <div class="editor-label">
        @Html.LabelFor(m => m.ServiceId)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Service.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.BasePrice)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.BasePrice)
        @Html.ValidationMessageFor(m => m.BasePrice)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}