﻿@model YardLad.Models.View.ContractorServiceListViewModel

@{
    ViewBag.Title = "Add Contractor Service";
}

<script>
    $(document).ready(function () {
        $('table').dataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

@*@Html.ActionLink("back to My Account", "MyAccount", "Account", null, new { @class = "contractor" })*@
<h2>@Model.Contractor.Name Services</h2>

<p>
    This is a list of the services you currently offer. Once a service has been added, you are able to customize the <strong>base price</strong> for the service as well as the individual 
    pricing for the options that fall underneath the service. You will be provided with the default Yard Lad values. If you need to add another option, please make a request and 
    an admin will review and add the new option for you.
</p>

<p>
    @Html.ActionLink("Add a New Service", "Create", new { id = Model.Contractor.ContractorId },  new { @class = "contractor" })
</p>

<h3>Active Services</h3>
@if (Model.Services.Count != 0)
{
    if (Model.Services.Where(s => s.IsActive).Count() > 0)
    {
        <table class="display">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Base Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var contractorService in Model.Services.Where(s => s.IsActive == true)) {
                <tr>
                    <td>
                        @Html.ActionLink(contractorService.Service.Name, "Details", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        <span style="font-size: .9em;">
                            @if (contractorService.Service.ServiceOptions.Where(so => so.DateCreated > ViewBag.LastLoggedIn).Count() != 0)
                            {
                                <br /><span class="notification">(new options available)</span>
                            }
                        </span>
                    </td>
                    <td style="text-align: center;">@String.Format("{0:c}", contractorService.BasePrice)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" }) |
                        @Html.ActionLink("View Service Options", "Index", "ContractorServiceOption", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" }) |
                        @if (contractorService.RequestedServices.Count == 0)
                        {
                            @Html.ActionLink("Remove", "Delete", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        }
                        else
                        {
                            @Html.ActionLink("Deactivate", "Deactivate", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div style="margin: 1em 0;">You currently have no active services</div>
    }
    
    if (Model.Services.Where(s => s.IsActive == false).Count() > 0)
    {
        <h3 style="margin: 1em 0;">Inactive Services</h3>
        <table class="display">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Base Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var contractorService in Model.Services.Where(s => s.IsActive == false)) {
                <tr>
                    <td>
                        @Html.ActionLink(contractorService.Service.Name, "Details", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        <span style="font-size: .9em;">
                            @if (contractorService.Service.ServiceOptions.Where(so => so.DateCreated > ViewBag.LastLoggedIn).Count() != 0)
                            {
                                <br /><span class="notification">(new options available)</span>
                            }
                        </span>
                    </td>
                    <td style="text-align: center;">@String.Format("{0:c}", contractorService.BasePrice)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" }) |
                        @Html.ActionLink("View Service Options", "Index", "ContractorServiceOption", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" }) |
                        @if (contractorService.RequestedServices.Count == 0)
                        {
                            @Html.ActionLink("Remove", "Delete", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate", "Activate", new { id = contractorService.ContractorServiceId },  new { @class = "contractor" })
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
            
        }
    
}

@if (Model.Services.Count == 0)
{
    <div style="text-align: center;">
        you haven't added any services yet... 
        @Html.ActionLink("click here to add one now", "Create", new { id = Model.Contractor.ContractorId },  new { @class = "contractor" })
    </div>
}