﻿/**********************************************************
***********************************************************
CONTRACTOR PORTAL STYLES
***********************************************************
**********************************************************/
span.contractor {
    color: cornflowerblue;
    font-size: .9em;
    position: inherit;
    top: 0px;
}

span.contractor a {
    color: cornflowerblue !important;
}

a.contractor {
    color: cornflowerblue;
}

a.contractor:hover{
    color: cornflowerblue !important;
}

input[type=submit] {
    background: #3baae3 url("../CSS/jQueryUI/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x;
}

input[type=submit]:hover {
    background: #3baae3 url("../CSS/jQueryUI/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x;
}

::selection {
    background: #3baae3 url("../CSS/jQueryUI/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x;
    color: white;
}

#back-to-top {
    background-color: #3baae3;
}

#back-to-top:hover {
    background-color: #3baae3;
}

span.notification {
    color: red;
}