﻿@model YardLad.Models.Domain.ServiceOptionItem

@{
    ViewBag.Title = "Edit Service Option Item";
}

<h2>Edit Option Item
    <span class="admin">| @Html.ActionLink("back", "Index", new { id = Model.ServiceOptionId })</span>
</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.ServiceOptionItemId)
    @Html.HiddenFor(m => m.ServiceOptionId)
    @Html.HiddenFor(m => m.DateCreated)

    <div class="editor-label">
        @Html.LabelFor(m => m.ServiceOptionId, "ServiceOption")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.ServiceOption.Name)
    </div>

    <div class="editor-label">
        <span style="width: 50px; display: inline-block;">@Html.LabelFor(m => m.Order, "Order")</span>
        <span>@Html.LabelFor(m => m.Name, "Option Name")</span>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Order, new { style = "width: 25px;" })
        @Html.TextBoxFor(m => m.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.IsActive)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.IsActive)
        @Html.ValidationMessageFor(m => m.IsActive)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}