﻿@model List<YardLad.Models.Domain.ServiceOptionItemRequest>

@{
    ViewBag.Title = "Service Option Requests";
}

<script>
    $(document).ready(function () {
        $(".accordion").accordion({ collapsible: true });
        
        if ($('#message').html() != '') {
            $('#message').dialog();
        }

        $('.approve').click(function (e) {
            e.preventDefault();
            var link = this;

            $("<div>Are you sure that you have added and activated the option item under the service requested? The contractor will receive a notification that the new option is now available for selection.</div>").dialog({
                title: 'Approve Option Item Request',
                height: 200,
                buttons: {
                    "Ok": function () {
                        $(this).dialog("close");
                        window.location = link.href;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        $('.deny').click(function (e) {
            e.preventDefault();
            var link = this;

            $('<div>Please enter a description as to why you are denying the request.<br />'
                + '<textarea id="Description" name="description" style="display: block; width: 95%;" /></div>').dialog({
                title: 'Deny Option Item Request',
                height: 250,
                buttons: {
                    "Ok": function () {
                        var description = $('#Description').val();
                        $(this).dialog("close");
                        window.location = link.href + '?description=' + description;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

    });
</script>

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Service Option Item Requests</h2>

@if (ViewBag.Message != null)
{
    <div id="message" style="display: none;">@ViewBag.Message</div>
}

<p>
    This is the list of option items that contractors have requested to be added.
</p>

<p>
    Click @Html.ActionLink("here", "Index", "Service", new { manage = "yes" }, new { target = "_blank", @class = "admin" }) to view current Yard Lad services.
    This will open up a new page where you can compare the current available options and items against those desired in requests.</p>

<p>
    If you <strong>approve an addition</strong>, you will first need to create it. Configure the option to best fit the current Yard Lad pricing model for the service. 
    It will be created with an inactive status. When ready, you will need to activate the option to make it available for contractors to select.
    The contractor will then be able to add the new option and configure the price to fit their model.
</p>

<p>
    <strong>The last step is to approve the request here and an email will be sent to the requesting contractor notifying them that the option is now available for selection</strong>.
    Contractors who haven't logged in since the new addition will see notifications that a new option item is available. (if they have added the service the option is under)
</p>

<p>
    If you choose to <strong>deny a request</strong>, an email will be sent to the requesting contractor notifying them that their request has been denied.<br />
    The record will be removed from the the database as well.
</p>

<h3>Active Requests</h3>
<div id="requestedServiceList" class="accordion">
    @foreach (var serviceOptionItemRequest in Model.Where(soir => soir.OptionName != null).Where(soir => soir.IsActive == true).OrderBy(sor => sor.Name).ThenBy(sor => sor.Name))
    {
        <h3>Service: @serviceOptionItemRequest.ServiceName <span style="float: right;">requested by @Html.ActionLink(serviceOptionItemRequest.Contractor.Name, "Details", "Contractor", new { id = serviceOptionItemRequest.ContractorId }, new { @class = "contractor" }) on @serviceOptionItemRequest.DateRequested.ToShortDateString() </span></h3>
        <div style="font-family: Georgia;">
            Service Option: @serviceOptionItemRequest.OptionName<br />
		    Requested Item:<br /><span style="margin-left: .5em;">- @serviceOptionItemRequest.Name - @serviceOptionItemRequest.Price.ToString("c")</span><br />
            @Html.ActionLink("Approve", "ApproveItemRequest", "ServiceOptionRequests", new { id = serviceOptionItemRequest.ServiceOptionItemRequestId }, new { @class = "admin approve" }) |
            @Html.ActionLink("Deny", "DeleteItemRequest", "ServiceOptionRequests", new { id = serviceOptionItemRequest.ServiceOptionItemRequestId }, new { @class = "admin deny" })
        </div>
    }
</div>

@if (Model.Where(m => m.OptionName != null).Where(m => m.IsActive == true).Count() == 0)
{
    <div style="text-align: center;">no new requests have been made...</div>
}


@if (Model.Where(soir => soir.IsActive == false).Count() != 0)
{
    <h3>Inactive Requests</h3>
    <div id="inactiveRequestedServiceList" class="accordion">
        @foreach (var serviceOptionItemRequest in Model.Where(soir => soir.OptionName != null).Where(soir => soir.IsActive == false).OrderBy(sor => sor.Name).ThenBy(sor => sor.Name))
        {
            <h3>Service: @serviceOptionItemRequest.ServiceName <span style="float: right;">requested by @Html.ActionLink(serviceOptionItemRequest.Contractor.Name, "Details", "Contractor", new { id = serviceOptionItemRequest.ContractorId }, new { @class = "contractor" }) on @serviceOptionItemRequest.DateRequested.ToShortDateString() </span></h3>
            <div style="font-family: Georgia;">
                Service Option: @serviceOptionItemRequest.OptionName<br />
		        Requested Item:<br /><span style="margin-left: .5em;">- @serviceOptionItemRequest.Name - @serviceOptionItemRequest.Price.ToString("c")</span><br />
            </div>
        }
    </div>
}
