﻿@model IEnumerable<YardLad.Models.Domain.Content>
@{
    ViewBag.Title = "About Us";
}

<div id="aboutUs" class="container" style="max-width: 800px;">

@foreach (var c in Model)
{
    if (c.SectionName == "About Us")
    {
        if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Home/About" }, new { @class = "admin" })
        }
        
        @Html.Raw(c.ContentBody)
    }
}

</div>