﻿@model YardLad.Models.View.ContactViewModel
@{
    ViewBag.Title = "Home";
    YardLad.Models.Domain.YardLadDevSSEntities db = new YardLad.Models.Domain.YardLadDevSSEntities();
    var ratings = db.Ratings.Where(r => r.Value >= 3).OrderBy(r => r.DateRated).ThenBy(r => r.Value).Take(5).ToList();
}

<script>
    $(document).ready(function () {
        if ($('.dialog').html != "") {
            $('.dialog').dialog({
                title: 'No Available Contractors',
                height: 'auto',
                minHeight: '65'
            });
        }
    });
</script>

@if (ViewBag.Message != null)
{
    <div class="dialog" style="display: none;">
        @ViewBag.Message
    </div>
}

<div class="widget one-fourth" style="float: right; margin-right: 0;">
    
    <div id="featuredYard">
        <h6 class="widget-title"> Featured Yard</h6>
        @if (ViewBag.FeaturedYardImageFilePath == null)
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Content", new { id = 4 }, new { @class = "admin" })
            }
            <img src="@Url.Content("~/Content/Images/no_image.gif")" />
        }
        else
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Content", new { id = 4 },  new { @class = "admin" })
            }
            <img src="@Url.Content(ViewBag.FeaturedYardImageFilePath)" />
            <p>@ViewBag.YardOwner</p>
        }
        
    </div>

    <div class="contactForm side">
        @if (ratings.Count == 0)
        {
            <hr />
            <h2>Contact Us:</h2>
            <p>Please complete the form:</p>

            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

            using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "please correct the errors and try again")
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            
                <div class="editor-label">
                    @Html.LabelFor(m => m.Phone)
                </div>
                <div class="editor-field">
                    (@Html.EditorFor(m => m.Area)) @Html.EditorFor(m => m.Prefix) - @Html.EditorFor(m => m.Suffix)
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Subject)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Subject)
                    @Html.ValidationMessageFor(m => m.Subject)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Message)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Message)
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
    
                <p>
                    <input type="submit" value="Submit" />
                </p>
            }
        }
        
        <hr />
        @if (ratings.Count != 0)
        {
            <h2>Customer Quotes</h2>
            <div class="quoteList">
                @foreach (var rating in ratings)
                {
                    <div class="quote" style="text-align: justify;">
                        "@rating.Comments"<br />
                        <span style="margin-top: 6px; display: inline-block; font-size: .95em;">Contractor: @rating.RequestedServices.Where(rs => rs.RatingId == rating.RatingId).SingleOrDefault().Contractor.Name</span><br />
                        <span style="margin: .5em auto; font-size: .95em;">Submitted by @rating.UserProfile.FirstName @rating.UserProfile.LastName.Substring(0, 1). 
                        on @rating.DateRated.ToString("d")</span>
                    </div>
                    <hr style="margin-bottom: 1.25em;"/>
                }
            </div>
        }
    </div>
</div>

<div class="two-third last">

    <!-- Yard Lad YouTube Video -->
    @foreach (var c in ViewBag.Content)
    {
        if (c.SectionName == "Yard Lad Video")
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Home/Index" },  new { @class = "admin" })
            }
            <iframe id="homeVideo" src="@c.Source"></iframe>
        }
    }

    <!-- Welcome -->
    @foreach (var c in ViewBag.Content)
    {
        if (c.SectionName == "Home (Welcome)")
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Home/Index" },  new { @class = "admin" })
            }
            @Html.Raw(c.ContentBody)
            
        }
    }

    @if (!User.IsInRole("admin") && !User.IsInRole("contractor") && !User.IsInRole("contractor2"))
    {
        <div style="margin: 1.5em 0;">
            @Html.ActionLink("Request a Service Today!", "RequestService", "Service", null, new { @class = "customButton" })
        </div>
    }
    
    <!-- Services List -->
    @foreach (var c in ViewBag.Content)
    {
        if (c.SectionName == "Home (Services)")
        {
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Home/Index" },  new { @class = "admin" })
            }
            @Html.Raw(c.ContentBody)
            
        }
    }

    
    </div>

    <div class="contactForm bottom">
        <h2 style="font-size: 1.5em;">Contact Us For a Quote:</h2>
        <p>Please complete the form:</p>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <style>
                .validation-summary-errors ul {
                    list-style: none;
                    padding: 0;
                }
            </style>
            
            @Html.ValidationSummary(true)
    
            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.Phone)
            </div>
            <div class="editor-field">
                (@Html.TextBoxFor(m => m.Area, new { maxlength = 3 })) @Html.TextBoxFor(m => m.Prefix, new { maxlength = 3 }) - @Html.TextBoxFor(m => m.Suffix, new { maxlength = 4  })
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(m => m.Subject)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Subject)
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(m => m.Message)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message)
            </div>
    
            <p>
                <input type="submit" value="Submit" />
            </p>
        }
    </div>