﻿<ul>
    <li class="current">
        @Html.ActionLink("Home", "Index", "Home", null, new { data_description = "it all starts here" })
        <ul>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Terms and Conditions", "Terms", "Home")</li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Register", "Register", "Account")
                </li>
            }
        </ul>
    </li>
    <li>
        @Html.ActionLink("Services", "Index", "Service", null, new { data_description = "what we provide" })
        <ul>
            @if (User.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Manage Services", "Index", "Service", new { manage = "yes" }, null)</li>
            }
            @if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
            {
                <li>@Html.ActionLink("Manage Services", "Index", "ContractorService")</li>
            }
            @if (!User.IsInRole("admin") && !User.IsInRole("contractor") && !User.IsInRole("contractor2"))
            {
                <li>@Html.ActionLink("Request a Service", "RequestService", "Service")</li>
            }
            @if (ViewBag.HasRequestedServices == true)
            {
                <li>@Html.ActionLink("View Service History", "History", "Account")</li>
            }
            @if (!User.IsInRole("contractor") && !User.IsInRole("contractor2") && !User.IsInRole("admin") && !User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Service Providers", "Providers", "Service")</li>
            }
            @if (User.IsInRole("contractor"))
            {
                <li>@Html.ActionLink("View Service History", "ServiceHistory", "Contractor", new { id = ViewBag.ContractorId }, null)</li>
            }
        </ul>
    </li>

    <li>
        @Html.ActionLink("Contact", "Index", "Contact", null, new { data_description = "inquire here" })
        <ul>
            @if (!User.IsInRole("admin") && User.IsInRole("contractor"))
            {
                <li>@Html.ActionLink("Contact Yard Lad Admin", "Contact", "Admin")</li>
            }
        </ul>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("My Account", "MyAccount", "Account", null, new { data_description = "make changes" })
            <ul>
                @if (!User.IsInRole("admin") && !User.IsInRole("contractor"))
                {
                    @*<li>@Html.ActionLink("View Cart", "Index", "Cart")</li>*@
                }
                @if (User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Admin Control Panel", "ControlPanel", "Admin")</li>
                }
            </ul>
        </li>
    }
    <li>
        @Html.Partial("_LogOnPartial")
    </li>
</ul>