﻿@model IEnumerable<YardLad.Models.Domain.Content>
@{
    ViewBag.Title = "Terms";
}

<style>
    div#terms li {
        margin: 1em 0;
    }
</style>

<div id="terms">

    @foreach (var c in Model)
    {
        if (c.SectionName == "Terms and Conditions")
        {
            if (User.IsInRole("admin"))
            {
                <p style="margin: 0;">@Html.ActionLink("Edit", "Edit", "Content", new { id = c.ContentId, returnUrl = "Home/Terms" }, new { @class = "admin" })</p>
            }
            
            @Html.Raw(c.ContentBody)
        }
    }

</div>