﻿@model YardLad.Models.Domain.Answer

@{
    ViewBag.Title = "Edit Answer";
}

<h2>Edit Answer | <span class="admin">@Html.ActionLink("back", "Index", "Answer", new { id = Model.QuestionId }, new { @class="admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.AnswerId)
    @Html.HiddenFor(m => m.QuestionId)

    <div class="display-label">
        Question
    </div>
    <div class="display-field">
        @Model.Question.Text
    </div>

    <div class="editor-label">
        Answer Text
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <div class="editor-label">
        Is Active
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsActive)
        @Html.ValidationMessageFor(model => model.IsActive)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}