﻿@model IEnumerable<YardLad.Models.Domain.Answer>

@{
    ViewBag.Title = "Answers";
}

<h2>Answers | <span class="admin">@Html.ActionLink("back to questions", "Index", "Question", null, new { @class="admin" })</span></h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.QuestionId }, new { @class = "admin" })
</p>

<div style="font-weight: bold;">Question</div>
<p>
    @ViewBag.Question.Text
</p>

<table class="display dataTable">
    <thead>
        <tr>
            <th style="text-align: left;">
                Answer Text
            </th>
            <th>
                Selection Type
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Question.QuestionType.Name)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.AnswerId }, new { @class = "admin" }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.AnswerId }, new { @class = "admin" })
                </td>
            </tr>
        }
    </tbody>
</table>
