.seven_round{ border:solid 10px #3f3f3f;border-radius:7px;}
.seven_round .seven_bt_preview { top:-45px;}
.seven_round .seven_bullet_control{bottom:-40px;}
.seven_round .seven_bullet_control #seven_bullet_viewport{}
.seven_round .seven_bullet_control #seven_bullet_inner_viewport{ padding:10px; background-color:#3f3f3f; border-radius:0px 0px 10px 10px; display:inline-block;}
.seven_round #left_btn{ width:30px;height:55px;background-image:url(../../img/skin/round.png);left:-38px;}
.seven_round #right_btn{ width:30px;height:55px;background-image:url(../../img/skin/round.png); right:-38px;}
.seven_round .seven_hcarousel{margin-top:10px;}
.seven_round .seven_hcarousel.seven_bullet{ margin-top:40px !important;}
.seven_round .seven_hcarousel #seven_hviewport .carousel{border:solid 2px #3f3f3f;}
.seven_round .seven_circle{width:12px;height:12px;background-image:url(../../img/skin/c_round.png);}
.seven_round .seven_nav{top:50%;	margin-top:-28px;}
.seven_round .seven_a_play{ width:12px; height:12px; background-image:url(../../img/skin/p_round.png);}