﻿@model YardLad.Models.View.CartIndexViewModel
@{
    ViewBag.Title = "Cart";
}

<style>
    tfoot td {
        border-top: 1px dotted gray;
        font-weight: bold;
    }

    .actionButtons a, input.actionButtons {
        font: .8em Arial;
        color: White;
        margin: .5em;
        text-decoration: none;
        padding: .15em 1.5em .2em 1.5em;
        background-color: #353535;
        border: 1px solid black;
    }

    .actionButtons a:hover {
        color: white !important;
    }
</style>

@if (Model.Cart.Lines != null && Model.Cart.Lines.Count() > 0)
{
<table style="width: 90%; text-align: center;">
    <thead>
        <tr>
            <th style="text-align: center;">Quantity</th>
            <th style="text-align: left;">Item</th>
            <th style="text-align: right;">Price</th>
            <th style="text-align: right;">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td style="text-align: center;">1</td>
                <td style="text-align: left;">Single Mow</td>
                <td style="text-align: right;">$35.00</td>
                <td style="text-align: right;">$35.00</td>
            </tr>
            @foreach (var line in Model.Cart.Lines)
            {
            <tr>
                <td style="text-align: center;">@line.Quantity</td>
                <td style="text-align: left;">@line.RequestedService.ContractorService.Service.Name</td>
                <td style="text-align: right;">@line.Total.ToString("c")</td>
                <td style="text-align: right;">@((line.Quantity * line.Total).ToString("c"))</td>
            </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;">Tax:</td>
            <td style="text-align: right;">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;">Total:</td>
            <td style="text-align: right;">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
}
else
{
    <div style="text-align: center; margin: 1em 0;">You haven't added any services to your cart...</div>
}

<p style="text-align: center;" class="actionButtons">
    @if (Model.ReturnUrl != null)
    {
        <a href="@Model.ReturnUrl">Continue shopping</a>
    }
    else
    {
        @Html.ActionLink("Continue shopping", "RequestService", "Service")
    }
</p>
