﻿@model IEnumerable<YardLad.Models.Domain.ContractorServiceOption>

@{
    ViewBag.Title = "Index";
}

<h2>Service Options | <span class="contractor">@Html.ActionLink("back", "Index" ,"ContractorService", new { id = ViewBag.ContractorId }, new { @class = "contractor" })</span></h2>

<div style="margin: 1em auto">
    <h3>Add an Option</h3>
    @if (ViewBag.ServiceOptions != null)
    {
        using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
            @Html.DropDownList("ServiceOptions", (SelectList)ViewBag.ServiceOptions, "[ - select a service option to add - ]", new { style = "width: auto;" })
            <br /><input type="submit" value="Add " />
        
            @*<div style="margin: 1em auto;" class="contractor">
                Don't see an option you need? @Html.ActionLink("Request a new option for this service.", "RequestNew", new { id = ViewBag.ContractorId, serviceId = ViewBag.ServiceId, contractorServiceId = ViewBag.ContractorServiceId }, new { @class = "contractor" })
            </div>*@
        }
    }
    else
    {
        <div>You have added all available options for this service.</div>
        <div style="margin: 1em auto; margin-top: 0;" class="contractor">
            Don't see an option you need? @Html.ActionLink("Request a new option for this service.", "RequestNew", new { id = ViewBag.ContractorId, serviceId = ViewBag.ServiceId, contractorServiceId = ViewBag.ContractorServiceId }, new { @class = "contractor" })
        </div>
    }
</div>



<h3>Current Options</h3>
<table class="display dataTable">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("View Option Items", "Index", "ContractorServiceOptionItem", new { id=item.ContractorServiceOptionId,  },  new { @class = "contractor" }) |
            @Html.ActionLink("Remove Option", "Remove", "ContractorServiceOption", new { id=item.ContractorServiceOptionId,  },  new { @class = "contractor" })
        </td>
    </tr>
}
    </tbody>
</table>
