﻿@model YardLad.Models.Domain.Payment

@{
    ViewBag.Title = "Payment Details";
}

<h2>Payment Details</h2>

<div class="display-label">Transaction Id</div>
<div class="display-field">
    @Html.DisplayFor(model => model.TransactionId)
</div>

<div class="display-label">Requested Service</div>
<div class="display-field">
    Selected Contractor: @Html.DisplayFor(m => m.RequestedService.Contractor.Name)<br />
    Service: @Html.DisplayFor(model => model.RequestedService.ContractorService.Service.Name)
    <ul style="margin: 0 auto;">
        @foreach (var option in Model.RequestedService.RequestedServiceOptions)
        {
            foreach (var optionItem in option.RequestedServiceOptionItems.Where(rsoi => rsoi.RequestedServiceOptionId == option.RequestedServiceOptionId))
            {
                <li>@option.Name: @optionItem.Name</li>
            }
        }
    </ul>
    @if (Model.RequestedService.DateCompleted != null)
    {
        <span>Date Service Completed: @Model.RequestedService.DateCompleted.Value.ToString("d")</span>
    }
    else
    {
        <span>Date Service Complete: [ not yet completed ]</span>
    }
</div>

<div class="display-label">Date Payment Submitted</div>
<div class="display-field">
    @Model.DateSubmitted.ToString("d")
</div>

<div class="display-label">Amount</div>
<div class="display-field">
    @Model.Amount.ToString("c")
</div>

<div class="display-label">Email</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Email)
</div>

<div class="display-label">Is Completed</div>
<div class="display-field">
    @if (Model.IsCompleted == true)
    {
        @:Yes
    }
    else
    {
        @:No
    }
</div>


@*<div class="display-label">Is Active</div>
<div class="display-field">
    @if (Model.IsActive == true)
    {
        @:Yes
    }
    else
    {
        @:No
    }
</div>*@