﻿@model YardLad.Models.View.ContactViewModel

@{
    ViewBag.Title = "Contact Us";
}

<div class="container clearfix">
	<header class="page-header">
		<h1 class="page-title">We'd love to hear from you!</h1>
	</header>
</div>

<section id="map">
	<p class="">Something went wrong... Try to enable your JavaScript!</p>
</section>

<div class="container clearfix">
	<div class="one-fourth">
		<h3>Contact Info</h3>
        <p style="margin: 0 auto;">Address</p>
		<p>@ViewBag.Address</p>

		<p>Phone: @ViewBag.Phone<br/>
		Email: @ViewBag.Email<br/>
		Web: www.yardlad.com</p>
	</div><!-- end .one-fourth -->
		
	<div class="three-fourth last">
		<h3>Contact Us</h3>
		
        <div class="contactForm">
            <p>Please complete the form:</p>

            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

            @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "please correct the errors and try again")
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Phone)
                </div>
                <div class="editor-field">
                    (@Html.TextBoxFor(m => m.Area, new { maxlength = 3 })) @Html.TextBoxFor(m => m.Prefix, new { maxlength = 3 }) - @Html.TextBoxFor(m => m.Suffix, new { maxlength = 4  })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(m => m.Subject)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Subject)
                    @Html.ValidationMessageFor(m => m.Subject)
                </div>
                
                <br />
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Message)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Message)
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
    
                <p>
                    <input type="submit" value="Submit" />
                </p>
            }
        </div>
	</div><!-- end .three-fourth.last -->
</div><!-- end .container -->

