﻿@model YardLad.Models.Domain.Qualification

@{
    ViewBag.Title = "Qualification Details";
}

@if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
{
    <style>
        #content a {
            color: cornflowerblue;
        }

            #content a:hover {
                color: cornflowerblue;
            }

    </style>
}

@if (ViewBag.IsApproved == true)
{
    <div class="warning">
        Your current qualifications will expire on @ViewBag.ExpirationDate.ToShortDateString()
    </div>
}

<h2>Submitted Qualifications | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

<div class="display-label" style="margin: 0 auto;">Citizenship: <span style="font-weight: normal;">@Model.Citizenship</span></div>
<div class="display-label" style="margin: 0 auto;">Filing Status: <span style="font-weight: normal;">@Model.FilingStatus</span></div>
<div class="display-label" style="margin: 0 auto;">Business Owner: <span style="font-weight: normal;">@Model.BusinessOwner</span></div>

@if (Model.EIN != null)
{
    <div class="display-label">EIN</div>
    <div class="display-field">
        @Model.EIN
    </div>
}

@if (Model.TaxId != null)
{
<div class="display-label">Tax Id</div>
<div class="display-field">
    xxx-xx-@Model.TaxId.Substring(7)
</div>
}

<div class="display-label">Address</div>
<address style="margin-bottom: 0;">
    <div>@Model.Address.Line1</div>
    @if (Model.Address.Line2 != null)
    {
        <div>@Model.Address.Line2</div>
    }
    <div>@Model.Address.City, @Model.Address.State.Abbreviation @Model.Address.PostalCode</div>
</address>
@if (ViewBag.IsApproved != true)
{
    <div>@Html.ActionLink("Edit Address", "Edit", "Address", new { returnUrl = "Qualification/Details/9", id = Model.AddressId }, null) </div>
}


@if (Model.TaxExemption != null)
{
    <div class="display-label">Tax Exemption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxExemption)
    </div>
}

<div class="display-label">Uploaded Qualification</div>
<div class="display-field">
    @if (Model.Source != null)
    {
        if (Model.MimeType == ".jpg" || Model.MimeType == ".jpeg" || Model.MimeType == ".gif")
        {
            <img style="display:block; max-width: 300px;" src="@Url.Content("~/Content/Qualifications/" + Model.FileName + Model.MimeType)" alt="contractor qualification" />
        }
        
        if (ViewBag.IsApproved == true)
        {
            @: your file has been uploaded and you have been approved!
        }
        else
        {
            @: your file has been uploaded and is pending review.
        }
        
        <p>
            @Html.ActionLink("Download File", "Download", "Qualification", new { id = Model.QualificationId }, null)
        </p>
    }
    
</div>

<p style="margin-top: 1em;">
    @if (ViewBag.IsApproved != true)
    {
        @Html.ActionLink("Edit Qualification", "Edit", new { id = Model.QualificationId })
    }
</p>

@if (ViewBag.IsApproved == true)
{
    <p class="warning">
        You cannot make changes to your qualifications if you have already been approved.<br />
        If you wish to make changes or change your account type, please contact an administrator.
    </p>
}

