﻿@model YardLad.Models.Domain.Qualification

@{
    ViewBag.Title = "Update Qualifications";
}

<script>
    $(document).ready(function () {

        // if the user has already selected a tax exemption, the appropriate checkbox will be checked on/off
        $('.taxexemption').each(function () {
            if ($(this).attr('checked') == 'checked') {
                $('#Exempt').attr('checked', 'checked');
            }
        });

        // if the "I am exempt from 1099 reporting" checkbox is clicked, the radio buttons below it will be unchecked
        $('#Exempt').click(function () {
            $('.taxexemption').each(function () {
                $(this).prop('checked', false);
            });
        });

        // if the user selects a tax exemption radio button, the "I am exempt from 1099 reporting" checkbox is checked
        $('.taxexemption').click(function () {
            $('#Exempt').each(function () {
                $(this).prop('checked', true);
            });
        });
    });
</script>

<h2>Update Qualifications | <span class="contractor">@Html.ActionLink("back", "Details", "Qualification", new { id = ViewBag.ContractorId }, new { @class = "contractor" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Qualification", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.QualificationId)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.AddressId)
    @Html.HiddenFor(m => m.Address.AddressId)
    @Html.HiddenFor(m => m.FileName)
    @Html.HiddenFor(m => m.MimeType)
    @Html.HiddenFor(m => m.DateSubmitted)
    @Html.HiddenFor(m => m.Source)

    <div class="editor-label">@Html.LabelFor(m => m.Citizenship)</div>
    <div>@Html.RadioButton("Citizenship", "U.S. person (including U.S. resident alien)") I am a U.S. person (including U.S. resident alien)</div>
    <div>@Html.RadioButton("Citizenship", "Not a U.S. citizen or U.S. resident alien") I am not a U.S. citizen or U.S. resident alien</div>
    <div>@Html.ValidationMessageFor(m => m.Citizenship)</div>

    <div class="editor-label">@Html.LabelFor(m => m.FilingStatus)</div>
    <div>@Html.RadioButton("FilingStatus", "Individual") Individual</div>
    <div>@Html.RadioButton("FilingStatus", "Sole Proprietor") Sole Proprietor (or an LLC with one owner)</div>
    <div>@Html.RadioButton("FilingStatus", "Partnership") Partnership (or an LLC with multiple owners)</div>
    <div>@Html.RadioButton("FilingStatus", "Corporation") Corporation (or tax exempt entity)</div>
    <div>@Html.ValidationMessageFor(m => m.FilingStatus)</div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.BusinessOwner)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.BusinessOwner)
        @Html.ValidationMessageFor(m => m.BusinessOwner)
    </div>
    
    if (ViewBag.ContractorType != 2 && ViewBag.ContractorType != 1)
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.EIN)<br />
            <div style="font-weight: normal; font-size: .8em;">employee identification number</div>
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.EIN, new { id = "tin" })
            @Html.ValidationMessageFor(m => m.EIN)
        </div>
            
        <div>or</div>
    
        <div class="editor-label" style="margin-top: 0;">
            @Html.LabelFor(m => m.TaxId)<br />
            <div style="font-weight: normal; font-size: .8em;">social security number</div>
        </div>
    
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TaxId, new { id = "ssn" })
        </div>
                
    }

    if (ViewBag.ContractorType == 2 || ViewBag.ContractorType == 1)
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.TaxId)<br />
            <div style="font-weight: normal; font-size: .8em;">social security number</div>
        </div>
    
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TaxId, new { id = "ssn" })
            @Html.ValidationMessageFor(m => m.TaxId)
        </div>
    }
    
    <h3 style="margin: 1em 0;">Address</h3>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line1)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.Line1)
        @Html.ValidationMessageFor(m => m.Address.Line1)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line2)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.Line2)
        @Html.ValidationMessageFor(m => m.Address.Line2)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.City)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.City)
        @Html.ValidationMessageFor(m => m.Address.City)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.StateId)<br />
    </div>
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Address.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
        @Html.ValidationMessageFor(m => m.Address.StateId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.PostalCode)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.PostalCode)
        @Html.ValidationMessageFor(m => m.Address.PostalCode)
    </div>

    <div class="editor-label">
        Upload Qualification
        <div style="font-weight: normal; font-size: .8em;">scanned image or document</div>
    </div>
    <div class="editor-field">
        <input type="file" id="UploadUrl" name="source" value="" />
    </div>
    
    @Html.HiddenFor(m => m.Source)
    
    <div class="editor-label">@Html.LabelFor(m => m.TaxExemption)</div>
    <div><input type="checkbox" id="Exempt" /> I am exempt from 1099 reporting</div>
    <div>Choose your exemption:</div>
    <div>@Html.RadioButtonFor(m => m.TaxExemption, "Corporation", new { @class = "taxexemption" }) Corporation</div>
    <div>@Html.RadioButtonFor(m => m.TaxExemption, "Tax Exempt Entity under 501(a) (includes 501(c)(3), or IRA)", new { @class = "taxexemption" }) Tax Exempt Entity under 501(a) (includes 501(c)(3), or IRA)</div>
    <div>@Html.RadioButtonFor(m => m.TaxExemption, "The United States or any of its agencies or instrumentalities", new { @class = "taxexemption" }) The United States or any of its agencies or instrumentalities</div>
    <div>@Html.RadioButtonFor(m => m.TaxExemption, "A State, the District of Columbia, a possession of the United States, or any of their political subdivisions or agencies", new { @class = "taxexemption" }) A State, the District of Columbia, a possession of the United States, or any of their political subdivisions or agencies</div>
    <div>@Html.ValidationMessageFor(m => m.TaxExemption)</div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    <div>
        
    </div>
</div>
