﻿@model YardLad.Models.Domain.ContractorServiceArea

@{
    ViewBag.Title = "Remove Secondary Service Area";
}

<h2>Remove Secondary Service Area | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorId }, new { @class = "contractor" })</span></h2>
<h3>Are you sure you want to remove this?</h3>

@using (Html.BeginForm()) {
    <input type="submit" value="Delete" />
        
}
