﻿@model YardLad.Models.Domain.ContractorServiceArea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ContractorServiceArea</legend>

    <div class="display-label">Contractor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contractor.Name)
    </div>

    <div class="display-label">ServiceArea</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceArea.Name)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContractorServiceAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
