﻿@model YardLad.Models.Domain.ContractorServiceArea

@{
    ViewBag.Title = "Edit Service Area";
}

<h2>Edit Service Area | <span class="contractor">@Html.ActionLink("back", "Index", new { id = Model.ContractorId }, new { @class = "contractor" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ContractorServiceAreaId)

    <div class="editor-label">
        @Html.LabelFor(model => model.ContractorId, "Contractor")
    </div>
    <div class="editor-field">
        @Html.DropDownList("ContractorId", String.Empty)
        @Html.ValidationMessageFor(model => model.ContractorId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ServiceAreaId, "ServiceArea")
    </div>
    <div class="editor-field">
        @Html.DropDownList("ServiceAreaId", String.Empty)
        @Html.ValidationMessageFor(model => model.ServiceAreaId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}