﻿@model YardLad.Models.Domain.PaymentAdjustment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PaymentAdjustment</legend>

    <div class="display-label">RequestedService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestedService.ContractorComment)
    </div>

    <div class="display-label">TransactionId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionId)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">IsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCompleted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
