﻿@model YardLad.Models.Domain.PaymentAdjustment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PaymentAdjustment</legend>

    <div class="display-label">RequestedService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestedService.ContractorComment)
    </div>

    <div class="display-label">TransactionId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionId)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">IsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCompleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PaymentAdjustmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
