﻿@model YardLad.Models.Domain.Qualification

@{
    ViewBag.Title = "Submit Qualifications";
}

<h2>Submit Qualifications</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {

        // if the user has already selected a tax exemption, the appropriate checkbox will be checked on/off
        $('.taxexemption').each(function () {
            if ($(this).attr('checked') == 'checked') {
                $('#Exempt').attr('checked', 'checked');
            }
        });

        $('#Exempt').click(function () {
            $('.taxexemption').each(function () {
                $(this).prop('checked', false);
            });
        });

        $('.taxexemption').click(function () {
            $('#Exempt').each(function () {
                $(this).prop('checked', true);
            });
        });

        $('input[type=submit]').click(function () {
            $('.certification').each(function () {
                if ($(this).prop('checked') == false) {
                    $('[type=submit]').prop('disabled', true);
                    $('.message').css('display', 'inline');
                }
            });
        });

        $('.certification').click(function () {
            if ($('#1').prop('checked') == true && $('#3').prop('checked') == true) {
                $('[type=submit]').prop('disabled', false);
                $('.message').css('display', 'none');
            }
        });

    });
</script>

<p style="margin-bottom: 0;">
    You will need to submit your qualifications before you can be listed in the system.<br />
</p>

@if (ViewBag.ContractorType == 1)
{
    <p style="margin-top: 0">
        Since you are a freelance contractor, you will need to provide your tax ID number along with a scanned photo of your proof of insurance.
    </p>
}

@if (ViewBag.ContractorType == 2)
{
    
    <p style="margin-top: 0;">
        Since you are a student contractor, you will need to provide your tax ID number along with proof that you are a student.<br />
        This would typically be a photo or a scan of your student ID card.
    </p>
    
}

@if (ViewBag.ContractorType == 3)
{
    <p style="margin-top: 0">
        Since you are a business, you will need to provide your EIN and or tax ID number along with a scanned photo of your proof of insurance<br />
    </p>
}

@using (Html.BeginForm("Create", "Qualification", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "please correct the following errors and try again")

    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.DateSubmitted)
    
    <div class="editor-label">@Html.LabelFor(m => m.Citizenship)</div>
    <div>@Html.RadioButton("Citizenship", "U.S. person (including U.S. resident alien)") I am a U.S. person (including U.S. resident alien)</div>
    <div>@Html.RadioButton("Citizenship", "Not a U.S. citizen or U.S. resident alien") I am not a U.S. citizen or U.S. resident alien</div>
    <div>@Html.ValidationMessageFor(m => m.Citizenship)</div>

    <div class="editor-label">@Html.LabelFor(m => m.FilingStatus)</div>
    <div>@Html.RadioButton("FilingStatus", "Individual") Individual</div>
    <div>@Html.RadioButton("FilingStatus", "Sole Proprietor") Sole Proprietor (or an LLC with one owner)</div>
    <div>@Html.RadioButton("FilingStatus", "Partnership") Partnership (or an LLC with multiple owners)</div>
    <div>@Html.RadioButton("FilingStatus", "Corporation") Corporation (or tax exempt entity)</div>
    <div>@Html.ValidationMessageFor(m => m.FilingStatus)</div>

    <div class="editor-label">
        @Html.LabelFor(m => m.BusinessOwner)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.BusinessOwner)
        @Html.ValidationMessageFor(m => m.BusinessOwner)
    </div>
    
    if (ViewBag.ContractorType != 2 && ViewBag.ContractorType != 1)
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.EIN)<br />
            <div style="font-weight: normal; font-size: .8em;">employee identification number</div>
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(m => m.EIN, new { id = "tin" })
            @Html.ValidationMessageFor(m => m.EIN)
        </div>
            
        <div>or</div>
    
        <div class="editor-label" style="margin-top: 0;">
            @Html.LabelFor(m => m.TaxId)<br />
            <div style="font-weight: normal; font-size: .8em;">social security number</div>
        </div>
    
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TaxId, new { id = "ssn" })
        </div>
                
    }

    if (ViewBag.ContractorType == 2 || ViewBag.ContractorType == 1)
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.TaxId)<br />
            <div style="font-weight: normal; font-size: .8em;">social security number</div>
        </div>
    
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TaxId, new { id = "ssn" })
            @Html.ValidationMessageFor(m => m.TaxId)
        </div>
    }
    
    <h3 style="margin: 1em 0;">Address</h3>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line1)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.Line1)
        @Html.ValidationMessageFor(m => m.Address.Line1)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line2)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.Line2)
        @Html.ValidationMessageFor(m => m.Address.Line2)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.City)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.City)
        @Html.ValidationMessageFor(m => m.Address.City)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.StateId)<br />
    </div>
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Address.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
        @Html.ValidationMessageFor(m => m.Address.StateId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Address.PostalCode)<br />
    </div>
        
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address.PostalCode)
        @Html.ValidationMessageFor(m => m.Address.PostalCode)
    </div>
    
    <div class="editor-label">
        Upload Qualification
        <div style="font-weight: normal; font-size: .8em;">scanned image or document</div>
    </div>
    <div class="editor-field">
        <input type="file" id="Source" name="Source" />
        @Html.ValidationMessageFor(m => m.Source)
    </div>
    
    <div class="editor-label">@Html.LabelFor(m => m.TaxExemption)</div>
    <div><input type="checkbox" id="Exempt" /> I am exempt from 1099 reporting</div>
    <div>Choose your exemption:</div>
    <div>@Html.RadioButton("TaxExemption", "Corporation", false, new { @class = "taxexemption" }) Corporation</div>
    <div>@Html.RadioButton("TaxExemption", "Tax Exempt Entity under 501(a) (includes 501(c)(3), or IRA)", false, new { @class = "taxexemption" }) Tax Exempt Entity under 501(a) (includes 501(c)(3), or IRA)</div>
    <div>@Html.RadioButton("TaxExemption", "The United States or any of its agencies or instrumentalities", false, new { @class = "taxexemption" }) The United States or any of its agencies or instrumentalities</div>
    <div>@Html.RadioButton("TaxExemption", "A State, the District of Columbia, a possession of the United States, or any of their political subdivisions or agencies", false, new { @class = "taxexemption" }) A State, the District of Columbia, a possession of the United States, or any of their political subdivisions or agencies</div>
    <div>@Html.ValidationMessageFor(m => m.TaxExemption)</div>
    
    <div class="editor-label">Certification</div>
    <div>Under penalties of perjury, I certify that:*</div>
    <div><input type="checkbox" class="certification" id="1" /> The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me).<span class="message" style="display: none; color: red; margin: 1em 0; font-size: .85em;"> this must be checked</span></div>
    <div><input type="checkbox" /> I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding.</div>
    <div><input type="checkbox" class="certification" id="3" /> I am a U.S. person (including U.S. resident alien). Note: You must uncheck item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because you have failed to report all interest and dividends on your tax return.<span class="message" style="display: none; color: red; margin: 1em 0; font-size: .85em;"> this must be checked</span></div>
    
    <input type="submit" value="Submit" />
        
}

@*@if (Request["returnUrl"] != null)
{
    <div style="margin-top: 1.5em;">
        <a href="@Url.Content("~/" + @Request["returnUrl"])">Back</a>
    </div>
}*@
