﻿@model YardLad.Models.Domain.ContractorAvailability

@{
    ViewBag.Title = "Contractor Availability";
}

<h2>Contractor Availability | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('#Availability').DataTable({
            paging: false,
            searching: false,
            ordering: false
        });
    });
</script>

<p>
    Please select the days you that you are available. This will be used in filtering out requests in the system.<br />
    You will only be available for selection by users if you are available for work on that day that they select.<br />
    <span class="warning">It is important that you keep this section updated regularly!</span>
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ContractorAvailabilityId)
    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.UpdatedOn)

    <table class="display" id="Availability">
        <thead>
            <tr style="text-align: center;">
                <td>@Html.LabelFor(m => m.Monday)</td>
                <td>@Html.LabelFor(m => m.Tuesday)</td>
                <td>@Html.LabelFor(m => m.Wednesday)</td>
                <td>@Html.LabelFor(m => m.Thursday)</td>
                <td>@Html.LabelFor(m => m.Friday)</td>
                <td>@Html.LabelFor(m => m.Saturday)</td>
                <td>@Html.LabelFor(m => m.Sunday)</td>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td>@Html.EditorFor(m => m.Monday)</td>
                <td>@Html.EditorFor(m => m.Tuesday)</td>
                <td>@Html.EditorFor(m => m.Wednesday)</td>
                <td>@Html.EditorFor(m => m.Thursday)</td>
                <td>@Html.EditorFor(m => m.Friday)</td>
                <td>@Html.EditorFor(m => m.Saturday)</td>
                <td>@Html.EditorFor(m => m.Sunday)</td>
            </tr>
        </tbody>
    </table>
    
    <p><input type="submit" value="Update" /></p>
}


