﻿@model YardLad.Models.Domain.Contractor

@{
    ViewBag.Title = "Contractor Details";
}

<style>
    #content a {
        color: orange;
    }

        #content a:hover {
            color: orange;
        }
</style>

<script>
    $(document).ready(function () {
        $('#SendReminder').click(function () {
            $.ajax({
                type: "GET",
                url: "/Contractor/SendReminder",
                data: { id: $("#ContractorId").val() }
            })
            .done(function (data) {
                // display message (success or error)
                $('#Message').html(data);
            });
        });
    });
</script>


@if (ViewBag.ReturnUrl != null)
{
    <h2>Contractor Details | <span class="admin"><a class="admin" href="@Url.Content("~/" + ViewBag.ReturnUrl)">back</a></span></h2>
}
else
{
    <h2>Contractor Details | <span class="admin">@Html.ActionLink("back", "Index", "ContractorUser", null, new { @class = "admin" })</span></h2>
}


<div class="two-third">
    <p style="margin: 0; clear: both;">
        @Html.ActionLink("Edit Contractor", "Edit", new { id = Model.ContractorId })
    </p>

    @Html.HiddenFor(m => m.ContractorId)

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Name)
    </div>

    <div class="display-label">Contractor Type</div>
    <div class="display-field">
        @Html.DisplayFor(m => m.ContractorType.Type)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @if (Model.IsApproved == true)
        {
            @: Approved
        }
        else
        {
            @: Not approved
        }
    </div>

    @if (Model.ApprovedOn != null)
    {
        <div class="display-label">Approved On</div>
        <div class="display-field">
            @Html.DisplayFor(m => m.ApprovedOn)
        </div>
    }
</div>

<div class="one-third last" style="float: right;">

    <h3>Submitted Qualifications</h3>
    @if (Model.QualificationId != null && Model.IsApproved == false)
    {
        if (Model.Qualification.MimeType == ".jpg" || Model.Qualification.MimeType == ".jpeg" || Model.Qualification.MimeType == ".gif")
        {
            <img style="display:block; max-width: 300px;" src="@Url.Content("~/Content/Qualifications/" + Model.Qualification.FileName + Model.Qualification.MimeType)" alt="contractor qualification" />
        }
        <p class="warning" style="margin-top: 1em;">This contractor has submitted their qualifications and is awaiting approval.</p>
        <p>
            @Html.ActionLink("Download File", "Download", "Qualification", new { id = Model.QualificationId }, null)
        </p>
    }

    @if (Model.QualificationId != null && Model.IsApproved == true)
    {
        if (Model.Qualification.MimeType == ".jpg" || Model.Qualification.MimeType == ".jpeg" || Model.Qualification.MimeType == ".gif")
        {
            <img style="display:block; max-width: 300px;" src="@Url.Content("~/Content/Qualifications/" + Model.Qualification.FileName + Model.Qualification.MimeType)" alt="contractor qualification" />
        }
        <p style="margin-top: 1em;">
            @Html.ActionLink("Download File", "Download", "Qualification", new { id = Model.QualificationId }, null)
        </p>
    }

    @if (Model.QualificationId != null)
    {
        <div>
            <div>Date Submitted: @Model.Qualification.DateSubmitted.ToShortDateString()</div>
            <div>Business Owner: @Model.Qualification.BusinessOwner</div>
            <div>Citizenship:<br />@Model.Qualification.Citizenship</div>
            <div>Filing Status: @Model.Qualification.FilingStatus</div>
            
            @if (Model.Qualification.EIN != null)
            {
                <div>EIN: @Model.Qualification.EIN</div>
            }
            
            @if (Model.IsApproved == true)
            {
                if (Model.Qualification.TaxId != null)
                {
                    <div>Tax ID: xxx-xx-@Model.Qualification.TaxId.Substring(7, 4)</div>
                }
            }
            else if (Model.IsApproved == false)
            {
                if (Model.Qualification.TaxId != null)
                {
                    <div>Tax ID: @Model.Qualification.TaxId</div>
                }
	        }

            @if (Model.Qualification.TaxExemption != null)
            {
                <div>Tax Exemption: @Model.Qualification.TaxExemption</div>
            }    
            
            @if (Model.IsApproved != true)
            {
                <div style="margin: 1em 0;">
                    @Html.ActionLink("Approve Contractor", "Approve", "Contractor", new { id = Model.ContractorId }, null)
                </div>
            }
            else
	        {
                <div style="margin: 1em 0;">
                    @Html.ActionLink("Disapprove Contractor", "Disapprove", "Contractor", new { id = Model.ContractorId }, null)
                </div>
	        }
            
        </div>
    }

    @if (Model.QualificationId == null)
    {
        <p class="warning" style="margin-top: 1em; margin-bottom: 0;">
            This contractor has NOT submitted their qualifications yet.
        </p>
        
        <div style="margin-top: 0;">
            <input type="submit" value="SEND A REMINDER" id="SendReminder" />
        </div>
        
        <div style="margin: 1em 0;" id="Message">

        </div>
    }
</div>




