﻿@model YardLad.Models.Domain.Contractor

@{
    ViewBag.Title = "Edit Contractor";
}

<h2>Edit Contractor | <span class="admin">@Html.ActionLink("back", "Details", "Contractor", new { id = Model.ContractorId }, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ContractorId)
    @Html.HiddenFor(m => m.ApprovedOn)
    @Html.HiddenFor(m => m.DateCreated)
    @Html.HiddenFor(m => m.BusinessPhone)

    @Html.HiddenFor(m => m.ServiceAreaId)
    @Html.HiddenFor(m => m.IsActive)
    
    @Html.HiddenFor(m => m.ContractorType.ContractorTypeId)
    @Html.HiddenFor(m => m.ContractorType.Type)
    @Html.HiddenFor(m => m.ContractorType.IsActive)

    @Html.HiddenFor(m => m.Qualification.QualificationId)
    @Html.HiddenFor(m => m.Qualification.TaxId)
    @Html.HiddenFor(m => m.Qualification.Source)
    @Html.HiddenFor(m => m.Qualification.FileName)
    @Html.HiddenFor(m => m.Qualification.MimeType)
    @Html.HiddenFor(m => m.Qualification.Citizenship)
    @Html.HiddenFor(m => m.Qualification.FilingStatus)
    @Html.HiddenFor(m => m.Qualification.BusinessOwner)
    @Html.HiddenFor(m => m.Qualification.IsActive)

    @Html.HiddenFor(m => m.QualificationId)

    @Html.HiddenFor(m => m.ExpiresOn)
    
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ContractorTypeId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ContractorTypeId, (SelectList)ViewBag.ContractorType, "[ - select a contractor type - ]")
        @Html.ValidationMessageFor(model => model.ContractorTypeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IsApproved)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsApproved)
        @Html.ValidationMessageFor(model => model.IsApproved)
    </div>

    if (Model.ApprovedOn != null)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.ApprovedOn)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ApprovedOn)
            @Html.ValidationMessageFor(model => model.ApprovedOn)
        </div>
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}