﻿@model YardLad.Models.View.ContractorServiceHistoryViewModel

@{
    ViewBag.Title = "Contractor Service History";
}

<link href="@Url.Content("~/Content/CSS/jQueryUI/themes/cupertino/jquery-ui-1.10.4.custom.min.css")" rel="stylesheet" />

<style>
    .requestedService {
        padding: 1em; 
        margin: 0 auto;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }

    .ui-accordion .ui-accordion-content {
        padding: 0 !important;
    }

    .requestedService .contractor:hover {
        cursor: pointer;
    }

</style>

<script>
    $(document).ready(function () {
        $(".accordion").accordion({ collapsible: false, heightStyle: "content", active: 0 });
        $('.setDate').css('display', 'none');

        setTimeout(function () {
            $('#incompleteServices .serviceContainer:first-of-type span.viewComment').click();
            $('#incompleteServices .serviceContainer:first-of-type span.viewRating').click();
            $('#completeServices .serviceContainer:first-of-type span.viewComment').click();
            $('#completeServices .serviceContainer:first-of-type span.viewRating').click();
        }, 10);

        if ($('#message').html() != '') {
            $('#message').dialog();
        }

        $('.enterDate').each(function() {
            
            $(this).click(function () {
                var subscriber = $(this);
                var sign = subscriber.children('.sign').html();

                if (sign == '+') {
                    subscriber.children('.sign').html('-');
                    subscriber.next('.setDate').slideDown(1000);
                }

                if (sign == '-') {
                    subscriber.children('.sign').html('+');
                    subscriber.next('.setDate').slideUp(1000);
                }
            });
        });

        $('.complete .btn').click(function (e) {
            e.preventDefault();

            btn = this;

            $('#dialog').dialog({
                title: 'Completion Confirmation' ,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        $(btn).closest('form.complete').submit();

                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        $('.contractor.addComment').click(function (e) {
            e.preventDefault();

            anchor = this;

            $('#contractorComment').dialog({
                title: 'Enter Note',
                width: 300,
                height: 'auto',
                resizeable: false,
                autoResize: true,
                draggable: false,
                buttons: {
                    "Submit": function () {
                        $(this).dialog("close");
                        var comment = $('#contractorComment > textarea').val();
                        var hidden = $(anchor).siblings('input[type=hidden]');
                        hidden.val(comment);
                        $('#contractorComment > textarea').val("");
                        $(anchor).closest('form').submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                        $('#contractorComment > textarea').val("");
                    }
                }
            });
        });

        $('.contractor.editComment').click(function (e) {
            e.preventDefault();

            anchor = this;
            var comment = $(this).closest('.contractorComment').find('div').html();
            $('#contractorComment > textarea').val(comment)

            $('#contractorComment').dialog({
                title: 'Edit Note',
                width: 300,
                height: 'auto',
                autoResize: true,
                resizeable: false,
                draggable: false,
                buttons: {
                    "Submit": function () {
                        $(this).dialog("close");
                        var comment = $('#contractorComment > textarea').val();
                        var hidden = $(anchor).siblings('input[type=hidden]');
                        hidden.val(comment);
                        $('#contractorComment > textarea').val("");
                        $(anchor).closest('form').submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                        $('#contractorComment > textarea').val("");
                    }
                }
            });
        });

        $('.viewComment').click(function () {

            var link = $(this);

            if ($(link).html() == "hide note") {
                $(link).prev().hide('blind', 1000);
                $(link).html('view note')
            }
            else {
                $(link).prev().show('blind', 1000);
                $(link).html('hide note')
            }
        });

        $('.viewRating').click(function () {

            var link = $(this);
            var ratingValue = $(link).prev().find('.value').val();
            var target = $(link).prev().find('.target');

            $(link).prev().find('.rated').raty({
                path: '../../Content/Images/Raty/',
                hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
                cancel: false,
                starOff: 'star-off-big.png',
                starOn: 'star-on-big.png',
                starHalf: 'star-half-big.png',
                cancelOff: 'cancel-off-big.png',
                cancelOn: 'cancel-on-big.png',
                half: true,
                halfShow: true,
                size: 24,
                target: target,
                targetFormat: '{score}',
                targetKeep: true,
                targetText: '',
                targetType: 'hint',
                score: ratingValue,
                readOnly: true
            });

            if ($(link).html() == "hide rating") {
                $(link).prev().hide('blind', 1000);
                $(link).html('view rating')
            }
            else {
                $(link).prev().show('blind', 1000);
                $(link).html('hide rating')
            }
        });

    });
</script>

<div id="message" style="display: none;">@ViewBag.Message</div>

<div id="dialog" style="display: none;">
    Are you sure you want to mark this service as complete?
</div>

<div id="contractorComment" style="display: none;">
    <div>This comment section is for your use only, the customer will not be able to view them.</div>
    <textarea style="width: 250px; max-width: 250px; height: auto;"></textarea>
</div>

@Html.ActionLink("back to My Account", "MyAccount", "Account", null, new { @class = "contractor" })
<h2>Service History</h2>

<h3 style="margin: 1em 0;">Incomplete Services
    @if (Model.IncompleteServices != 0)
    {
        <span class="contractor" style="font-size: .75em;">(@Model.IncompleteServices services to complete)</span>
    }
</h3>

@if (Model.GroupedRequestedServices.Count == 0)
{
    <div style="margin: 1em 0; text-align: center;">
        You currently don't have any new services to complete...
    </div>
}

<div id="incompleteServices">
<div class="accordion requestedServiceList">
@foreach (var date in Model.GroupedRequestedServices)
{
    <h3>
        @if (date.Count() == 1)
        {
            @date.Count() @:Service
        }
        else
        {
            @date.Count() @:Services
	    }
        <span style="float: right;">@date.Key.Date.ToShortDateString()</span></h3>
    <div class="serviceContainer" style="font-size: .9em;">
    @foreach (var requestedService in date)
    {
        if (requestedService.IsCompleted != true)
        {
            <div class="requestedService">
                <div>Service: <strong>@requestedService.ContractorService.Service.Name</strong></div>
                <div>Date Request Made: @requestedService.DateRequestMade.ToShortDateString() at @requestedService.DateRequestMade.ToShortTimeString()</div>
                <div>Requested By: @requestedService.UserProfile.FirstName @requestedService.UserProfile.LastName </div>
                <div>
                    <div>Selected Options</div>
                    <ul style="margin-bottom: .25em;">
                    @foreach (var requestedServiceOption in requestedService.RequestedServiceOptions)
                    {
                        foreach (var requestedServiceOptionItem in requestedServiceOption.RequestedServiceOptionItems)
                        {
                            <li>@requestedServiceOption.Name: @requestedServiceOptionItem.Name</li>
                        }
                    }
                    </ul>
                </div>
            
                @if (requestedService.RequestedStartDate == null)
                {
                    <div style="color: cornflowerblue">contact this user to set up a date and time to initiate service</div>
                    <div class="enterDate" style="color: red;"><span class="sign">+</span> click to enter the date to initiate service</div>
                    
                    using (Html.BeginForm("SetDate", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "setDate" }))
                    {
                        <div style="margin: .5em 0;">
                            Start Date: <input type="text" id="startDate" name="startDate" class="datepicker" placeholder="@DateTime.Now.AddHours(2).ToShortDateString()" value="@DateTime.Now.AddHours(2).ToShortDateString()" /> 
                            at <input type="text" id="startTime" name="startTime" placeholder="@DateTime.Now.AddHours(2).ToShortTimeString()" value="@DateTime.Now.AddHours(2).ToShortTimeString()" />
                            <input type="hidden" id="contractorId", name="contractorId", value="@Model.ContractorId"/>
                            <input style="margin: 0 auto;" type="submit" value="submit" />
                        </div>
                    }

                }
                else if (requestedService.RequestedStartDate != null && requestedService.RequestedEndDate == null)
                {
                    <div style="margin: .5em 0; margin-bottom: 0;">Requested Date/Time: @String.Format("{0:D}", requestedService.RequestedStartDate) at @String.Format("{0:t}", requestedService.RequestedStartDate)</div>
                    <div class="enterDate" style="color: red;"><span class="sign">+</span> click to make changes to the date and time</div>
                    
                    using (Html.BeginForm("SetDate", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "setDate" }))
                    {
                        <div style="margin: .5em 0;">
                            New Start Date: <input type="text" id="startDate" name="startDate" class="datepicker" placeholder="@DateTime.Now.AddHours(2).ToShortDateString()" value="@DateTime.Now.AddHours(2).ToShortDateString()" /> 
                            at <input type="text" id="startTime" name="startTime" placeholder="@DateTime.Now.AddHours(2).ToShortTimeString()" value="@DateTime.Now.AddHours(2).ToShortTimeString()" />
                            <input type="hidden" id="contractorId", name="contractorId", value="@Model.ContractorId"/>
                            <input style="margin: 0 auto;" type="submit" value="submit" /><br />
                            <div>
                                @Html.ActionLink("remove date", "RemoveDate", "RequestedService", new { id = requestedService.RequestedServiceId, contractorId = Model.ContractorId }, new { style = "color: red;" })
                            </div>
                        </div>
                    }
                }
                else if (requestedService.RequestedStartDate != null && requestedService.RequestedEndDate != null)
                {
		            <div>Requested Date/Time: @String.Format("{0:D}", requestedService.RequestedStartDate) to @requestedService.RequestedEndDate</div>
                }

                <div>
                    @using (Html.BeginForm("AddContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "contractor" }))
                    {
                        <div style="margin: .5em auto;">
                            @if (requestedService.ContractorComment == null)
                            {
		                        <span class="contractor">
                                    <a href="#" class="contractor addComment">add a note</a>
                                    <input type="hidden" class="comment" name="comment" value="" />
		                        </span>
                            }
                        </div>
                    }

                    @using (Html.BeginForm("EditContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "contractor" }))
                    {
                        if (requestedService.ContractorComment != null && requestedService.ContractorComment != "")
                        {
                            <div class="contractorComment" id="comment" style="display: none; margin: .5em auto; padding: 1em; background-color: white; border-radius: 8px;">
                                <div>@requestedService.ContractorComment</div>
                                <span class="contractor" style="display: block;">
                                    <a href="#" class="contractor editComment">edit note</a> |
                                    @Html.ActionLink("remove note", "RemoveContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, new { @class = "contractor" })
                                    <input type="hidden" class="comment" name="comment" value="" />
                                </span>
                            </div>
                                
                            <span class="contractor viewComment" id="viewComment">view note</span>
                        }
                    }
                </div>

                <div style="margin-top: .5em;">Phone: @requestedService.UserProfile.Phone</div>
                <div>Mobile: 
                    @if (requestedService.UserProfile.Mobile != null) 
                    { 
                        @requestedService.UserProfile.Mobile 
                    } 
                    else { 
                        @: not provided
                    }
                </div>
                <div>Email: @Membership.GetUser(requestedService.UserId, false).Email</div>

                @if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                {
                    <div style="margin: 1em auto; color: red;">
                        AWAITING CUSTOMER TO COMPLETE PAYMENT ADJUSTMENT OF @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c")
                    </div>
                }
                else if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount < 0M)
                {
                    <div style="margin: 1em auto; color: red; margin-top: 0;">
                        YARD LAD CREDIT TO CUSTOMER OF @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c")
                    </div>
                }
                else if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId != null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                {
                    <div style="margin: 1em auto; color: cornflowerblue; margin-top: 0;">
                        CUSTOMER COMPLETED PAYMENT ADJUSTMENT OF @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c") on @requestedService.PaymentAdjustments.FirstOrDefault().DateSubmitted.Value.ToString("D")<br />
                        <br /><span style="color: #362b36;">Service Total: $@(requestedService.PaymentAdjustments.SingleOrDefault().Amount + requestedService.Payments.FirstOrDefault().Amount)</span>
                    </div>
                }

                @if (requestedService.RequestedStartDate != null)
                {
                    if (requestedService.PaymentAdjustments.Count == 0)
                    {
                        using (Html.BeginForm("Create", "PaymentAdjustment", new { id = requestedService.RequestedServiceId, returnUrl = "Contractor/ServiceHistory/" + Model.ContractorId }, FormMethod.Post, new { @class = "paymentAdjustment", style = "display: inline-block;" }))
                        {
                            <div style="margin: 1em; text-align: left; display: inline-block; margin-left: 0">
                                @Html.ActionLink("Make Payment Adjustment", "Create", "PaymentAdjustment", new { id = requestedService.RequestedServiceId, returnUrl = "Contractor/ServiceHistory/" + Model.ContractorId }, new { @class = "btn" })
                            </div>
                        }
                    }
                    
                    
                    using (Html.BeginForm("Complete", "RequestedService", new { id = requestedService.RequestedServiceId, returnUrl = "Contractor/ServiceHistory/" + Model.ContractorId }, FormMethod.Post, new { @class = "complete", style = "display: inline-block;" }))
                    {
                        <div style="margin: 1em auto; text-align: left; display: inline-block;">
                            @Html.ActionLink("Mark Service as Complete", "Complete", "RequestedService", new { id = requestedService.RequestedServiceId, returnUrl = "Contractor/ServiceHistory/" + Model.ContractorId }, new { @class = "btn" })
                        </div>
                    }
                }
            </div>
        }
    }
    </div>
}
</div>
</div>

@if (Model.GroupedCompletedRequestedServices.Count != 0)
{
    <h3 style="margin: 1em 0;">Completed Services <span class="contractor" style="font-size: .75em;">(@Model.CompletedServices services completed)</span></h3>
    <div id="completeServices">
    <div class="accordion requestedServiceList">
    @foreach (var date in Model.GroupedCompletedRequestedServices)
    {
        <h3>
            @if (date.Count() == 1)
            {
                @date.Count() @:Service
            }
            else
            {
                @date.Count() @:Services
	        }
            <span style="float: right;">@date.Key.Date.ToShortDateString()</span></h3>
        <div class="serviceContainer" style="font-size: .9em;">
        @foreach (var requestedService in date)
        {
            if (requestedService.IsCompleted == true)
            {
                <div class="requestedService">
                    <div>Service: <strong>@requestedService.ContractorService.Service.Name</strong></div>
                    <div>Date Request Made: @requestedService.DateRequestMade.ToShortDateString() at @requestedService.DateRequestMade.ToShortTimeString()</div>
                    <div></div>
                    <div>Requested By: @requestedService.UserProfile.FirstName @requestedService.UserProfile.LastName</div>
        
                    <div>
                        <div>Selected Options</div>
                        <ul style="margin-bottom: .25em;">
                        @foreach (var requestedServiceOption in requestedService.RequestedServiceOptions)
                        {
                            foreach (var requestedServiceOptionItem in requestedServiceOption.RequestedServiceOptionItems)
                            {
                                <li>@requestedServiceOption.Name: @requestedServiceOptionItem.Name</li>
                            }
                        }
                        </ul>
                    </div>
                    
                    <div style="margin: .5em auto">
                        <div>Requested Date/Time: @String.Format("{0:D}", requestedService.RequestedStartDate) at @requestedService.RequestedStartDate.Value.ToShortTimeString()</div>
                        <div>Completed On: @String.Format("{0:D}", requestedService.DateCompleted)</div>
                    </div>

                    <div>
                        @using (Html.BeginForm("AddContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "contractor" }))
                        {
                            <div style="margin: .5em auto;">
                                @if (requestedService.ContractorComment == null)
                                {
		                            <span class="contractor">
                                        <a href="#" class="contractor addComment">add a note</a>
                                        <input type="hidden" class="comment" name="comment" value="" />
		                            </span>
                                }
                            </div>
                        }

                        @using (Html.BeginForm("EditContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post, new { @class = "contractor" }))
                        {
                            if (requestedService.ContractorComment != null && requestedService.ContractorComment != "")
                            {
                                <div class="contractorComment" id="comment" style="display: none; margin: .5em auto; padding: 1em; background-color: white; border-radius: 8px;">
                                    <div>@requestedService.ContractorComment</div>
                                    <span class="contractor" style="display: block;">
                                        <a href="#" class="contractor editComment">edit note</a> |
                                        @Html.ActionLink("remove note", "RemoveContractorComment", "RequestedService", new { id = requestedService.RequestedServiceId }, new { @class = "contractor" })
                                        <input type="hidden" class="comment" name="comment" value="" />
                                    </span>
                                </div>
                                
                                <span class="contractor viewComment" id="viewComment">view note</span>
                            }
                        }
                    </div>

                    <div style="margin-top: .5em;">Phone: @requestedService.UserProfile.Phone</div>
                    <div>Mobile: 
                        @if (requestedService.UserProfile.Mobile != null) 
                        { 
                            @requestedService.UserProfile.Mobile 
                        } 
                        else { 
                            @: not provided
                        }
                    </div>
                    <div style="margin-bottom: 1em;">Email: @Membership.GetUser(requestedService.UserId, false).Email</div>

                    @if (requestedService.Payments.Where(p => p.IsActive == false).FirstOrDefault() != null)
                    {
                        foreach (var payment in requestedService.Payments.Where(p => p.IsActive == false))
                        {
                            <div>Original Payment: $@payment.Amount paid on @payment.DateSubmitted.ToShortDateString()</div>
                        }
                    }
                    
                    @*@foreach (var payment in requestedService.Payments.Where(p => p.IsActive == true))
                    {
                        <div style="margin-top: 1em;">Payment: $@payment.Amount paid on @payment.DateSubmitted.ToShortDateString()</div>
                    }*@

                    @if (requestedService.PaymentAdjustments.Count != 0 &&
                        requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                        && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                    {
                        <div style="margin: 1em auto; color: red;">
                            AWAITING CUSTOMER TO COMPLETE PAYMENT ADJUSTMENT OF @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c")
                        </div>
                    }
                    else if (requestedService.PaymentAdjustments.Count != 0 &&
                        requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                        && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount < 0M)
                    {
                        <div style="margin: 0 auto; color: red; margin-top: 0;">
                            YARD LAD CREDIT TO CUSTOMER OF @requestedService.Payments.OrderBy(p => p.DateSubmitted).FirstOrDefault().Amount.ToString("c") 
                            @if (requestedService.Payments.Where(p => p.IsActive).Count() == 0)
                            {
                                <br />@:AWAITING NEW PAYMENT OF 
                                var amount = (requestedService.Payments.Where(p => p.IsActive == false).SingleOrDefault().Amount + requestedService.PaymentAdjustments.SingleOrDefault().Amount);
                                //var tax = amount * (requestedService.Contractor.Taxes.FirstOrDefault().Rate * .01M);
                                //var x = amount + tax;
                             
                                @:$@String.Format("{0:F2}", amount)
	                        }
                        </div>
                    }
                    else if (requestedService.PaymentAdjustments.Count != 0 &&
                        requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId != null
                        && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                    {
                        <div style="margin: 1em auto; color: cornflowerblue; margin-top: 0;">
                            CUSTOMER COMPLETED PAYMENT ADJUSTMENT OF @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c")
                            <br /><span style="color: #362b36;">Service Total: $@(requestedService.PaymentAdjustments.SingleOrDefault().Amount + requestedService.Payments.FirstOrDefault().Amount)</span>
                        </div>
                    }

                    @foreach (var payment in requestedService.Payments.Where(p => p.IsActive == true))
                    {
                        if (payment.RequestedService.PaymentAdjustments.Where(p => p.Amount < 0).Count() > 0)
                        {
                            <div>Adjusted Payment: $@payment.Amount paid on @payment.DateSubmitted.ToShortDateString()</div>
                        }
                    }

                    @if (requestedService.RatingId != null)
                    {
                        <div class="rating" style="display: none; margin: .5em auto; padding: 1em; background-color: white; border-radius: 8px;">
                            <strong>Rating</strong>: <div class="target" style="display: inline-block; margin-bottom: .5em;"></div>
                            <div class="rated"></div>
                            <div class="ratingComments" style="margin:.5em auto;">
                                "@Html.DisplayFor(m => requestedService.Rating.Comments)"
                            </div>
                            <div>
                                Submitted by: @requestedService.Rating.UserProfile.FirstName @requestedService.Rating.UserProfile.LastName.Substring(0, 1). on @requestedService.Rating.DateRated.ToString("d")
                            </div>
                            <div style="text-align: right">
                                @using (Html.BeginForm("Dispute", "Rating", FormMethod.Get))
                                {
                                    <input type="hidden" name="id" value="@requestedService.RatingId" />
                                    <input type="hidden" name="value" class="value" value="@requestedService.Rating.Value" />
                                    <input type="submit" value="Dispute Rating" style="margin-top: 0;" />
                                }
                            </div>
                            
                        </div>
                        
                        <span class="contractor viewRating">view rating</span>
                    }
                </div>
            }
        }
        </div>
    }
    </div>
    </div>
}