﻿@model YardLad.Models.View.ViewListingViewModel
@{
    ViewBag.Title = "View Listing";
}

<style>
    div#summary, div#requestService {
        padding: 2.5em;
        box-shadow: 0px 1px 1px 0px;
    }

    div#requestService {
        width: auto;
        display: inline-block;
        min-width: 315px;
        max-width: 445px;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0em;
    }

    select {
        width: auto;
    }
</style>

<script>
    $(document).ready(function () {
        // INITIAL PAGE LOAD

        GetServiceArea();
        GetServiceDescription();
        GetServiceOptions();
        GetBasePrice();
        //CalculatePrice();

        // get service areas by state (using JSON service)
        $("#StateId").change(function () {
            GetServiceArea();
        });

        // every time a service option item ddl changes:
        $("select.optionItems").change(function () {
            GetBasePrice();
        });

        // if the user didn't select a service area
        if ($("#ServiceAreaId").hasClass("input-validation-error")) {
            $("#ServiceId").val(0);
        }

        // if the user changes the service area selection (page 2)
        if ($("#ServiceAreaId").change(function () {
            $("#ServiceId").val(0); // clears service ddl
        }));

        // if there isn't a service area available for the state selection
        $("#StateId").change(function () {
            var serviceAreaId = $("#ServiceAreaId").val();
            if (serviceAreaId == 0) {
                $("#ServiceId").prop("disabled", true);
            }
        });

        // if there are non-property validation errors, reset the service selection
        if ($("div").hasClass("validation-summary-errors")) {
            $("#ServiceId").val(0);
        }

        // JSON Service
        function GetServiceArea() {
            $.getJSON("/Contractor/GetServiceAreasByState", { stateId: $("#StateId").val(), contractorId: $("#ContractorId").val() },
                function (serviceAreas) {
                    $("#ServiceAreaId").empty();

                    $.each(serviceAreas, function (i, serviceArea) {
                        $("#ServiceAreaId").append(
                            $('<option/>')
                            .attr('value', this.ServiceAreaId)
                            .text(this.Name)
                        );
                    });

                    if (serviceAreas.length == 0) {
                        $("#ServiceAreaId").append(
                        $('<option/>')
                        .attr('value', 0)
                        .text('sorry, there are no service areas in this state')
                        );

                        $("#ServiceId").prop('disabled', true);
                        $("#SubmitOpt").prop('disabled', true);
                    }

                    if (serviceAreas.length > 0) {
                        $("#ServiceId").prop('disabled', false);
                        $("#SubmitOpt").prop('disabled', false);
                    }
                });
        }

        // get service areas by state (using JSON service)
        $("#ServiceId").change(function () {
            GetServiceDescription();
            GetServiceOptions();
            GetBasePrice();
        });

        function GetServiceDescription() {
            $.ajax({
                type: "GET",
                url: "/Contractor/GetServiceDescription",
                data: { serviceId: $("#ServiceId").val(), contractorId: $("#ContractorId").val() }
            })
            .done(function (contractorServices) {
                $('#ContractorServiceDescription').text('');
                $('#ContractorServiceDescription').text(contractorServices.toString());
            });
        }

        function GetServiceOptions() {
            $.ajax({
                type: "GET",
                url: "/Contractor/GetServiceOptions",
                data: { serviceId: $("#ServiceId").val(), contractorId: $("#ContractorId").val() }
            })
            .done(function (contractorServiceOptions) {
                $('#contractorServiceOptions').empty();

                $.each(contractorServiceOptions, function (i, contractorServiceOption) {

                    var a = '';

                    $('#manageService').attr('href', '/ContractorService/Edit/' + this.contractorServiceId);

                    $.each(this.items, function (i, item) {
                        a += '<option value="' + item.id + '" data-price="' + item.price + '">' + item.name + '</option>';
                    })

                    $('#contractorServiceOptions').append(
                        $('<div>')
                        .addClass('display-label contractorServiceOptionName')
                        .text(this.name).append(
                            $('<div>')
                            .addClass('editor-field contractorServiceOptionItem')
                            .append(
                                $('<select>')
                                .addClass('optionItems')
                                .attr('id', 'ServiceOptionItemIds')
                                .attr('name', 'ServiceOptionItemIds')
                            .append(a))
                        )
                    )
                });

                // every time a service option item ddl changes:
                $("select.optionItems").change(function () {
                    GetBasePrice();
                });
            });
        }

        function GetBasePrice() {
            $.ajax({
                type: "GET",
                url: "/Contractor/GetBasePrice",
                data: { serviceId: $("#ServiceId").val(), contractorId: $("#ContractorId").val() }
            })
            .done(function (data) {
                var serviceBasePrice = parseInt(data);

                // start with the base price for the subtotal
                var subtotal = 0 + serviceBasePrice;

                $(".optionItems option:selected").each(function () {
                    subtotal += $(this).data('price'); // add the data-price attribute to add to subtotal
                });

                var taxRate = $('#TaxRate').val() * .01; // this is currently hard coded
                var tax = taxRate * subtotal;

                var total = tax + subtotal;

                // display updated values dynamically in the estimate box
                $("span.subtotal").html(subtotal.toFixed(2));
                $("span.tax").html(tax.toFixed(2));
                $("span.total").html(total.toFixed(2));

                // save the values to the hidden inputs to send to controller on POST
                $("input[type=hidden].subtotal").val(subtotal.toFixed(2));
                $("input[type=hidden].tax").val(tax.toFixed(2));
                $("input[type=hidden].total").val(total.toFixed(2));
            });
        }

        function CalculatePrice() {
            var subtotal = $('#SubTotal').val();

            $(".optionItems option:selected").each(function () {
                subtotal += $(this).data('price'); // add the data-price attribute to add to subtotal
            });

            var taxRate = $('#TaxRate').val() * .01; // this is currently hard coded
            var tax = taxRate * subtotal;

            var total = tax + subtotal;

            // display updated values dynamically in the estimate box
            $("span.subtotal").html(subtotal.toFixed(2));
            $("span.tax").html(tax.toFixed(2));
            $("span.total").html(total.toFixed(2));

            // save the values to the hidden inputs to send to controller on POST
            $("input[type=hidden].subtotal").val(subtotal.toFixed(2));
            $("input[type=hidden].tax").val(tax.toFixed(2));
            $("input[type=hidden].total").val(total.toFixed(2));
        }

    });
</script>

<style>
    #manageService {
        background: #f15a23;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        font-weight: 400;
        height: auto;
        overflow: visible;
        padding: 7px 20px;
        -webkit-transition: background-color .2s ease;
        -moz-transition: background-color .2s ease;
        -ms-transition: background-color .2s ease;
        -o-transition: background-color .2s ease;
        transition: background-color .2s ease;
        width: auto;
        font-size: 13px;
        text-transform: uppercase;
        background-color: forestgreen;
        margin-top: 1em;
        display: inline-block;
    }

        #manageService:hover {
            color: white !important;
        }
</style>

@using (Html.BeginForm())
{
    <p style="margin: 2em 0;">
        This menu will allow you to see what the user sees when they are looking for a service.
    </p>
    <div class="two-third" style="margin-right: 0;">
        <div id="requestService">
            <h2>View Listing</h2>

            @Html.HiddenFor(m => m.ContractorId)
            @Html.HiddenFor(m => m.TaxRate)

            @Html.ValidationSummary(true)

            <div class="display-label">
                Select a State
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(m => m.StateId, (SelectList)ViewBag.StateId)
            </div>

            <div class="display-label">
                Select a Service Area
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(m => m.ServiceAreaId, (SelectList)ViewBag.ServiceAreaId)
            </div>

            <div class="display-label">
                Select a Service
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(m => m.ServiceId, (SelectList)ViewBag.ServiceId)
            </div>

            <h3 style="margin: 1em 0;">Service Details / Available Options</h3>
            <div id="ContractorServiceDescription">
            </div>
            <div id="contractorServiceOptions">
            </div>

            <div>
                <a id="manageService" style="margin-top: 1.5em; background-color: forestgreen; font-size: 13px; text-transform: uppercase;">
                    Manage Service
                </a>
            </div>
        </div>
    </div>

    <div class="one-third" style="float: right; margin-top: 0;">
        <div id="summary">

            <input type="hidden" class="subtotal" name="SubTotal" id="SubTotal" value="0" />
            <input type="hidden" class="tax" name="Tax" id="Tax" value="0" />
            <input type="hidden" class="total" name="Total" id="Total" value="0" />

            <h3>@Model.Contractor.Name Estimate</h3>
            <div>Subtotal: $<span class="subtotal"></span></div>
            <div>Tax: $<span class="tax"></span></div>
            <div>Total: $<span class="total"></span></div>
        </div>
    </div>
    
}