﻿@model YardLad.Models.Domain.Answer

@{
    ViewBag.Title = "Create Answer";
}

<h2>Create Answer | <span class="admin">@Html.ActionLink("back", "Index", "Answer", new { id = ViewBag.QuestionId }, new { @class="admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <input type="hidden" name="QuestionId" id="QuestionId" value="@ViewBag.Question.QuestionId" />
    
    <div class="display-label">
        Question
    </div>
    <div class="display-field">
        @ViewBag.Question.Text
    </div>
    
    <div class="editor-label">
        Answer Text
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
}