﻿@model YardLad.Models.Domain.Answer

@{
    ViewBag.Title = "Delete Answer";
}

<h2>Delete Answer | <span class="admin">@Html.ActionLink("back", "Index", "Answer", new { id = Model.QuestionId }, new { @class="admin" })</span></h2>

<h3>Are you sure you want to delete this answer?</h3>

<div class="display-label">Question</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Question.Text)
</div>

<div class="display-label">Answer Text</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Text)
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsActive)
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}
