﻿@model YardLad.Models.View.ContractorUserViewModel

@{
    ViewBag.Title = "Create Contractor User";
}

<h2>Create Contractor User | <span class="admin">@Html.ActionLink("back", "Index", null, new { @class = "admin" })</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(cu => cu.Contractor.IsApproved)
    @Html.HiddenFor(cu => cu.Contractor.ApprovedOn)
    @Html.HiddenFor(cu => cu.Contractor.IsActive)
    @Html.HiddenFor(cu => cu.UserInfo.Address.IsActive)
    @Html.HiddenFor(cu => cu.DateCreated)
    
    <div>
        <h3>Contractor Information</h3>
        <div class="editor-label">
            @Html.LabelFor(m => m.Contractor.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Contractor.Name)
            @Html.ValidationMessageFor(m => m.Contractor.Name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.Contractor.ContractorTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Contractor.ContractorTypeId, (SelectList)@ViewBag.ContractorType, "[ - select a contractor type - ]", null)
            @Html.ValidationMessageFor(m => m.Contractor.ContractorTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Contractor.BusinessPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Contractor.BusinessPhone)
            @Html.ValidationMessageFor(m => m.Contractor.BusinessPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Address.Line1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Address.Line1)
            @Html.ValidationMessageFor(m => m.UserInfo.Address.Line1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Address.Line2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Address.Line2)
            @Html.ValidationMessageFor(m => m.UserInfo.Address.Line2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Address.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Address.City)
            @Html.ValidationMessageFor(m => m.UserInfo.Address.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Address.StateId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.UserInfo.Address.StateId, (SelectList)(@ViewBag.State), " [ - select a state - ]", null)
            @Html.ValidationMessageFor(m => m.UserInfo.Address.StateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Address.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Address.PostalCode)
            @Html.ValidationMessageFor(m => m.UserInfo.Address.PostalCode)
        </div>
    </div>
    
    <div>
        <h3 style="margin-top: 1em;">Contractor User Profile</h3>
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Username)
            @Html.ValidationMessageFor(m => m.UserInfo.Username)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Password)
            @Html.ValidationMessageFor(m => m.UserInfo.Password)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.UserInfo.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.Email)
            @Html.ValidationMessageFor(m => m.UserInfo.Email)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.FirstName)
            @Html.ValidationMessageFor(m => m.UserInfo.FirstName)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.LastName)
            @Html.ValidationMessageFor(m => m.UserInfo.LastName)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserInfo.DateOfBirth)
            @Html.ValidationMessageFor(m => m.UserInfo.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserInfo.Phone)
            @Html.ValidationMessageFor(m => m.UserInfo.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserInfo.Mobile)
            @Html.ValidationMessageFor(m => m.UserInfo.Mobile)
        </div>

        <div class="editor-field">
            <span>@Html.CheckBoxFor(m => m.UserInfo.AcceptSMS)</span>
            <span class="editor-label">
                @Html.LabelFor(m => m.UserInfo.AcceptSMS)
            </span>
            <p style="width: 50%; min-width: 300px;">
                this free service allows you to send and receive text updates for new service requests, etc.<br />
                <span style="font-size: .9em; color: orange;">standard SMS charges still apply (based on your mobile carrier and plan)</span>
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.UserInfo.Gender)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(m => m.UserInfo.Gender, "male") male
            @Html.RadioButtonFor(m => m.UserInfo.Gender, "female") female
            @Html.ValidationMessageFor(m => m.UserInfo.Gender)
        </div>

        
    </div>
    
    <p>
        <input type="submit" value="Create" />
    </p>
}