﻿@model IEnumerable<YardLad.Models.Domain.ContractorUser>

@{
    ViewBag.Title = "Contractor Users";
}

@if (User.IsInRole("admin"))
{
    <style>
        #content a {
            color: orange;
        }

        #content a:hover {
            color: orange;
        }
    </style>
}

<script>
    $(document).ready(function () {
        $('table').dataTable({
            "order": [[1, "desc"]],
            'iDisplayLength': 100,
            "oLanguage": {
                "sEmptyTable": "no data available"
            }
            
        });
    });
</script>

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Contractor Users</h2>

<p>
    This is a list of all current contractor user accounts.<br />You are able to view and create contractor accounts from here, 
    as well as administer approval status updates.
</p>

<p>
    @Html.ActionLink("Create A New Contractor Account", "Create")
</p>

<h3>Current Contractors</h3> 

<table class="display" style="margin: 1em 0;">
    <thead>
        <tr>
            <th style="text-align: left;">Contractor Name</th>
            <th style="text-align: center;">Date Created</th>
            <th style="text-align: center;">Contractor Type</th>
            <th style="text-align: center;">Approved?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contractorUser in Model)
        {
            if (!Roles.IsUserInRole(contractorUser.my_aspnet_users.name, "contractor2"))
            {
                <tr>
                    <td style="text-align: left;">
                        @Html.ActionLink(contractorUser.Contractor.Name, "Details", "Contractor", new { id = contractorUser.ContractorId }, new { @class = "contractor", style = "color: cornflowerblue;" })
                        @if (contractorUser.Contractor.Qualification != null 
                            && contractorUser.Contractor.Qualification.DateSubmitted > ViewBag.LastLoginDate
                            && contractorUser.Contractor.IsApproved != true)
                        {
                            <span class="notification" style="font-size: .9em;">(awaiting approval)</span>
                        }
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(cu => contractorUser.DateCreated)</td>
                    <td style="text-align: center;">
                        @if (contractorUser.Contractor.ContractorType.Type.ToLower() == "business")
                        {
                            @:Professional Business
                        }
                        else if (contractorUser.Contractor.ContractorType.Type.ToLower() == "freelance")
                        {
                            @:Independent Contractor
                        }
                        else if (contractorUser.Contractor.ContractorType.Type.ToLower() == "student")
                        {
                            @:Apprentice
                        }
                    </td>
                    @if (contractorUser.Contractor.IsApproved == true)
                    {
                        <td style="text-align: center;">Yes</td>
                    }
                    else
                    {
                        <td style="text-align: center;">No</td>
                    }
                    
                </tr>
            }
        }
    </tbody>
</table>
    