﻿@model IEnumerable<YardLad.Models.Domain.ServiceArea>

@{
    ViewBag.Title = "Service Areas";
}

@Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
<h2>Service Areas</h2>

<p>
    @Html.ActionLink("Add New Service Area", "Create", "ServiceArea", null, new { @class = "admin" })
</p>
<table class="display dataTable">
    <thead>
        <tr>
            <th>
                State
            </th>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Edit Service Area", "Edit", new { id = item.ServiceAreaId }, new { @class = "admin" })
            </td>
        </tr>
    }
    </tbody>
</table>
