﻿@model YardLad.Models.View.ContractorPaymentIndexViewModel

@{
    ViewBag.Title = "Contractor Payments";
}

<script>
    $(document).ready(function () {
        $('table').dataTable({
            'iDisplayLength': 100,
            'order': [[ 2, 'desc']],
            'oLanguage': {
                "sEmptyTable": "no data available"
            },
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            }

        });
    });
</script>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("back to Admin Control Panel", "ControlPanel", "Admin", null, new { @class = "admin" })
}

<h2>Contractor Payments |
    @if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
    {
        <span class="contractor">
        @Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span>
    }
    else if (User.IsInRole("admin"))
    {
        <span class="admin">
        @Html.ActionLink("back", "ControlPanel", "Admin", null, new { @class = "admin" })</span>
    }
</h2>


@if (User.IsInRole("contractor") && (ViewBag.ExpirationDate <= DateTime.Now.AddHours(2)))
{
    <div style="margin: 1em 0;">
    @Html.ActionLink("Make a New Payment", "MakePayment", "Contractor", new { id = ViewBag.ContractorId }, new { @class = "contractor" })</div>
}


@if (ViewBag.Expired == false && !User.IsInRole("admin"))
{
    <div style="margin: 1em 0;">
        You currently have an active Yard Lad subscription.<br />Your subscription will expire on <strong>@ViewBag.ExpirationDate.ToString("d")</strong>.
        Click @Html.ActionLink("here", "MakePayment", "Contractor", new { id = ViewBag.ContractorId }, new { @class = "contractor" }) to make a new payment.
    </div>
}

<table class="display">
    <thead>
        <tr>
            <th style="text-align: left;">
                Transaction ID
            </th>
            <th>
                Contractor
            </th>
            <th>
                Date Submitted
            </th>
            <th>
                Amount
            </th>
            <th>
                Is Completed
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ContractorPayments)
    {
        <tr>
            <td>
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink(item.TransactionId, "Details", "ContractorPayment", new { id = item.ContractorPaymentId }, new { @class = "admin" })
                }
                else
                {
                    @Html.ActionLink(item.TransactionId, "Details", "ContractorPayment", new { id = item.ContractorPaymentId }, new { @class = "contractor" })
                }
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td style="text-align: center;">
                @item.DateSubmitted.ToString("d")
            </td>
            <td style="text-align: center;">
                @if (!User.IsInRole("admin"))
                {
                    @:-@item.Amount.ToString("c")
                }
                else
                {
                    @item.Amount.ToString("c")
                }
            </td>
            <td style="text-align: center;">
                @if (item.IsCompleted == true)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (!User.IsInRole("admin"))
{
    <h2 style="margin: 1em auto; margin-top: 2em;">Customer Payments | <span class="contractor">
        @Html.ActionLink("view service history", "ServiceHistory", "Contractor", new { id = ViewBag.ContractorId }, new { @class = "contractor" })</span></h2>
    <p style="margin: .5em auto;">This is the list of all customer payments for services requested.</p>

    <table class="display">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Requested Service
                </th>
                <th>
                    Date Submitted
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Commission
                </th>
            </tr>
            
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerPayments)
            {
                <tr>
                    <td style="text-align: center;">
                        <span>
                            <span style="font-size: .9em;">@item.RequestedService.UserProfile.FirstName @item.RequestedService.UserProfile.LastName</span>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.RequestedService.ContractorService.Service.Name)
                    </td>
                    <td style="text-align: center;">
                        @item.DateSubmitted.ToString("d")
                    </td>
                    <td style="text-align: center;">
                        @item.Amount.ToString("c")
                    </td>
                    <td style="text-align: center;">
                        @((item.Amount * .75M).ToString("c"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

