﻿@model YardLad.Models.Domain.ContractorServiceOption

@{
    ViewBag.Title = "Remove";
}

<h2>Remove Service Option | <span class="contractor">@Html.ActionLink("back", "Index", new { @class = "contractor" })</span></h2>

<h3>Are you sure you want to remove this service option?</h3>

@using (Html.BeginForm()) {

    @Html.HiddenFor(m => m.ContractorServiceId)
    @Html.HiddenFor(m => m.ContractorServiceOptionId)
    @Html.HiddenFor(m => m.Order)
    @Html.HiddenFor(m => m.IsActive)

    <p>
        <input type="submit" value="Remove" />
    </p>
}
