﻿@model YardLad.Models.View.AddressCreateViewModel

@{
    ViewBag.Title = "Create Address";
}

@if (ViewBag.Message != null)
{
    <div style="color: red; margin: 1em 0;">
        @Html.Raw(ViewBag.Message)
    </div>
}

<h2>
    New Address
    @if (Request["returnUrl"] != null && Request["userId"] != null) { <span style="font-size: .75em; top: 0;">| <a href="@Url.Content("~/" + Request["returnUrl"] + "/" + Request["userId"])">Back</a></span>}
</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Address.IsActive)

    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line1)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Address.Line1)
        @Html.ValidationMessageFor(m => m.Address.Line1)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Address.Line2)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Address.Line2)
        @Html.ValidationMessageFor(m => m.Address.Line2)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Address.City)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Address.City)
        @Html.ValidationMessageFor(m => m.Address.City)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Address.StateId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Address.StateId, (SelectList)ViewBag.State, "[ - select a state - ]")
        @Html.ValidationMessageFor(m => m.Address.StateId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Address.PostalCode)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Address.PostalCode)
        @Html.ValidationMessageFor(m => m.Address.PostalCode)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
}

