﻿@model YardLad.Models.View.ContentDetailsViewModel

@{
    ViewBag.Title = "Content Details";
}

<div class="display-field">
    @Html.Raw(Model.Content.ContentBody)

    @if (Model.Content.Image != null && Model.Content.Image.ImageId != 1)
    {
        <img src="@Url.Content(Model.Content.Image.Source)" />
    }

    @if (Model.Content.Source != null)
    {
        <iframe id="homeVideo" src="@Model.Content.Source"></iframe>
    }
</div>

@if (Model.Content.Image != null && Model.Content.Image.ImageId != 1)
{
    <div class="display-label">Image File Path</div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Content.Image.Source)
    </div>
}

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContentId }) |
    @Html.ActionLink("Back", "Index")
</p>
