﻿@model YardLad.Models.View.ServiceOptionItemCreateViewModel

@{
    ViewBag.Title = "Create Service Option Item";
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
    }
</style>

<script>
    $(document).ready(function () {

        // variable to hold the number of service options (initial value)
        var serviceOptionItemCount = $('.serviceOptionItem').length;

        $("#add").click(function () {
            var arrayCount = serviceOptionItemCount; // used for the array index (used for model binding to list)
            // var orderNumber = serviceOptionCount + 1; // don't need this, will be calculated based on order in the list (top to bottom)

            // add a service option at the bottom of the service option list
            $(".serviceOptionItem:last-of-type").after('<div class="serviceOptionItem"><div class="editor-field">'
                + '<input type="text" name="ServiceOptionItems[' + arrayCount + '].Name" id="ServiceOptionItems[' + arrayCount + '].Name" value="" />'
                + '<input type="text" name="ServiceOptionItems[' + arrayCount + '].Price" id="ServiceOptionItems[' + arrayCount + '].Price" value="0.00" style="max-width: 45px; margin-left: .25em;" />'
                + '<input type="hidden" name="ServiceOptionItems[' + arrayCount + '].ServiceOptionId" id="ServiceOptionItems[' + arrayCount + '].ServiceOptionId" value="@Model.ServiceOptionId" />'
                + '<input type="hidden" name="ServiceOptionItems[' + arrayCount + '].IsActive" id="ServiceOptionItems[' + arrayCount + '].IsActive" value="true" />'
                + '<input type="button" class="remove" value="remove" style="margin-left: .25em;" />'
                + '</div></div>');

            // add one to the global variable
            serviceOptionItemCount += 1;

            // if the service option count is more than 1, change the submit button text (it will be)
            if (serviceOptionItemCount > 1) {
                $("#Submit").attr('value', 'Add Service Options');
            }
        });

        // the user clicks the remove button
        $('.remove').live('click', function () {
            $(this).parent().remove() // remove the parent element

            serviceOptionItemCount -= 1; // decrease the global variable by 1

            // if there is only one textbox for service area name, change the submit button text at the bottom
            if (serviceOptionItemCount == 1) {
                $("#Submit").attr('value', 'Add Service Option');
            }
        });

    });
</script>

<h2>Create Option Item
    <span class="admin">| @Html.ActionLink("back", "Index", new { id = Model.ServiceOptionId })</span>
</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ServiceOptionId)
    @Html.HiddenFor(m => m.ServiceOption.Service.ServiceId)
    @Html.HiddenFor(m => m.ServiceOption.Service.Name)
    @Html.HiddenFor(m => m.ServiceOption.ServiceId)
    @Html.HiddenFor(m => m.ServiceOption.Name)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ServiceOption.Service, "Service")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.ServiceOption.Service.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ServiceOptionId, "Service Option")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.ServiceOption.Name)
    </div>

    <div id="newServiceOptionItems">
        <div class="editor-label">
            <span style="width: 100%; max-width: 197px; display: inline-block;">Name</span>
            <span style="width: 100%; max-width: 65px; display: inline-block;">Price</span>
            
        </div>
        <div class="serviceOptionItem">
            <div class="editor-field">
                <input type="text" name="ServiceOptionItems[0].Name" id="ServiceOptionItems[0].Name" value="" />
                <input type="text" name="ServiceOptionItems[0].Price" id="ServiceOptionItems[0].Price" value="0.00" style="max-width: 45px" />
                <input type="hidden" name="ServiceOptionItems[0].ServiceOptionId" id="ServiceOptionItems[0].ServiceOptionId" value="@Model.ServiceOptionId" />
                <input type="hidden" name="ServiceOptionItems[0].IsActive" id="ServiceOptionItems[0].IsActive" value="true" />
                <input id="add" type="button" value="add another" />
            </div>
        </div>
    </div>

    <p>
        <input id="Submit" type="submit" value="Create Option Item" />
    </p>
}