﻿@model YardLad.Models.Domain.ServiceOptionItem

@{
    ViewBag.Title = "Delete Service Option Item";
}

<h2>Delete Service Option Item
    <span class="admin">| @Html.ActionLink("back", "Index", new { id = Model.ServiceOptionId })</span>
</h2>

<h3>Are you sure you want to delete this?</h3>

<div class="display-label">Service Option</div>
<div class="display-field">
    @Html.DisplayFor(m => m.ServiceOption.Name)
</div>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Name)
</div>

<div class="display-label">Price</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Price)
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsActive)
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}
