﻿@model YardLad.Models.Domain.ServiceOptionItem

@{
    ViewBag.Title = "Service Option Item Details";
}

<h2>Option Item Details
    <span class="admin">| @Html.ActionLink("back", "Index", new { id = Model.ServiceOptionId })</span>
</h2>

<div class="display-label">Service Option</div>
<div class="display-field">
    @Html.DisplayFor(m => m.ServiceOption.Name)
</div>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Name)
</div>

<div class="display-label">Price</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Price)
</div>

<div class="display-label">Is Active</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsActive)
</div>

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ServiceOptionItemId })
</p>
