﻿@model IEnumerable<YardLad.Models.Domain.ServiceOptionItem>

@{
    ViewBag.Title = "Service Option Items";
}

<script>
    $(document).ready(function () {
        $('table').dataTable({

        });

        if ($('message').html() != '') {
            $('#message').dialog();
        }
        
    });
</script>

<h2>
    Service Option Items | <span class="admin">@Html.ActionLink("back", "Index", "ServiceOption", new { id = ViewBag.ServiceOption.Service.ServiceId }, new { @class = "btn-back" })</span>
</h2>

<p>
    @Html.ActionLink("Create New Option Item", "Create", new { id = ViewBag.ServiceOption.ServiceOptionId }, new { @class = "admin" })
</p>

<div style="margin-bottom: 1em;">
    Service: @ViewBag.ServiceOption.Service.Name<br />
    Service Option: @ViewBag.ServiceOption.Name
</div>


@if (Model.Count() != 0)
{
    <table class="display">
        <thead>
            <tr>
                <th></th>
                <th style="text-align: left;">
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Is Active
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var serviceOptionItem in Model.OrderBy(soi => soi.Order)) {
            <tr>
                <td>
                    @Html.DisplayFor(soi => serviceOptionItem.Order)
                </td>
                <td>
                    @Html.DisplayFor(soi => serviceOptionItem.Name)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(soi => serviceOptionItem.Price)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(soi => serviceOptionItem.IsActive)
                </td>
                <td style="text-align: right;">
                    @Html.ActionLink("Edit", "Edit", new { id=serviceOptionItem.ServiceOptionItemId }, new { @class = "admin" }) |
                    @Html.ActionLink("Details", "Details", new { id=serviceOptionItem.ServiceOptionItemId }, new { @class = "admin" }) |
                    @Html.ActionLink("Delete", "Delete", new { id=serviceOptionItem.ServiceOptionItemId }, new { @class = "admin" })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div>no option items have been provided</div>
}