﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 style="font-size: 1.25em; text-align: center;">
    Oops, something went wrong!<br />
    @Model.Exception.Message
</h2>

<img class="customError" src="@Url.Content("~/Content/Images/broken_lawnmower.jpg")" alt="broken lawnmower" />