﻿@model YardLad.Models.Domain.OptionItem

@{
    ViewBag.Title = "Option Item Details";
}

<h2>Option Item Details</h2>

<div class="display-label">Option</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Option.Name)
</div>

<div class="display-label">Name</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">Price</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Price)
</div>

<div class="display-label">IsActive</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsActive)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OptionItemId }, null) |
    @Html.ActionLink("Back", "Index", new { id = Model.OptionId }, null)
</p>
