﻿@model YardLad.Models.View.AccountHistoryViewModel

@{
    ViewBag.Title = "Account History";
}

<style>
    .requestedService .contractor:hover {
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function () {
        $(".accordion").accordion({ collapsible: false, heightStyle: "content" });

        setTimeout(function () {
            $('.contractor')[0].click();
        }, 10);

        $(".contractorInfo").click(function () {
            var dialogHtml = $(this).parent().next('#dialog').html();
            $(dialogHtml).dialog({

            });
        });

        $('.addRating').click(function () {

            var link = $(this);
            var target = $(link).prev().find('.target');

            link.prev().find('form').validate({
                ignore: []
            }); //sets up the validator

            link.prev().find("#requestedService_Rating_Comments").rules("add", "required");

            $('#Value').each(function () {
                $(this).rules("add", {
                    required: true,
                    messages: {
                        required: "please select a rating"
                    }
                });
            });

            $.data($('form')[0], 'validator').settings.ignore = "";

            var comments = $(link).prev().find("#requestedService_Rating_Comments");
            var value = link.prev().find("input[name=Value]");

            $(link).prev().find('.rate').raty({
                path: '../../Content/Images/Raty/',
                hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
                cancel: false,
                starOff: 'star-off-big.png',
                starOn: 'star-on-big.png',
                starHalf: 'star-half-big.png',
                cancelOff: 'cancel-off-big.png',
                cancelOn: 'cancel-on-big.png',
                half: true,
                halfShow: true,
                size: 24,
                target: target,
                targetFormat: '{score}',
                targetKeep: true,
                targetText: '',
                targetType: 'hint',
                readOnly: false
            });

            $(comments).attr("placeholder", 'Write your review here (required)');

            $('.rate img').click(function () {
                var score = $('input[name=score]').val();
                $(value).val(score);
            });

            $(comments).inputlimiter({
                limit: 160,
                boxId: 'limitingtext',
                boxAttach: false,
                remText: '%n character%s remaining...',
                remFullText: '',
                limitText: 'comments are limited to 160 characters'
            });

            $(link).prev().find('#requestedService_Rating_Comments').change(function () {
                $(link).prev().find('input[name=Comments]').val($(this).val());
            });

            if ($(link).html() == "close") {
                $(link).prev().hide('blind', 1000);
                $(link).prev().find('.rating').remove();
                $(link).html('add rating')
                $(link).remove();
            }
            else {
                $(link).prev().show('blind', 1000);
                $(link).html('close');
            }
        });

        $('.viewRating').click(function () {

            var link = $(this);
            var ratingValue = $(link).prev().find('.value').val();
            var target = $(link).prev().find('.target');

            $(link).prev().find('.rated').raty({
                path: '../../Content/Images/Raty/',
                hints: ['Poor', 'Fair', 'Good', 'Great', 'Excellent'],
                cancel: false,
                starOff: 'star-off-big.png',
                starOn: 'star-on-big.png',
                starHalf: 'star-half-big.png',
                cancelOff: 'cancel-off-big.png',
                cancelOn: 'cancel-on-big.png',
                half: true,
                halfShow: true,
                size: 24,
                target: target,
                targetFormat: '{score}',
                targetKeep: true,
                targetText: '',
                targetType: 'hint',
                score: ratingValue,
                readOnly: true
            });

            if ($(link).html() == "hide rating") {
                $(link).prev().hide('blind', 1000);
                $(link).html('view rating');
            }
            else {
                $(link).prev().show('blind', 1000);
                $(link).html('hide rating');
            }
        });

        $('.tips').click(function () {

            $('#tipDialog').dialog({
                width: 500,
                height: 450,
                modal: true,
                title: 'Rating Tips and Guidelines',
                show: { effect: "blind", duration: 800 },
                create: function () {

                }
            });

            return false;

        });
    });

</script>

@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function() {
            $('#message').dialog({
                modal: true,
                resizeable: false,
                buttons: {
                    "Yes": function () {
                        var url = "http://yardlad.design-develop-deploy.com/Survey/Index/@ViewBag.RequestedServiceId";
                        $(location).attr('href', url);
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}

@Html.ActionLink("back to My Account", "MyAccount", "Account")
<h2 style="margin: 0 auto;">Service History</h2>

@if (Model.RequestedServices.Count > 0)
{
    <h3>Requested Services</h3>
    <div id="requestedServiceList" class="accordion">
        @foreach (var requestedService in Model.RequestedServices.Where(rs => rs.IsActive == true).OrderByDescending(rs => rs.DateRequestMade))
        {
            <h3>@requestedService.ContractorService.Service.Name Service
                @if (requestedService.IsCompleted == true)
                { 
                   <span style="font-size: .9em;">(COMPLETED)</span>
                }
                <span style="float: right;">@requestedService.DateRequestMade.ToShortDateString() </span>
            </h3>
            
            <div class="requestedService" style="font-size: .9em;">
                <div>Date Request Made: @requestedService.DateRequestMade.ToShortDateString() at @requestedService.DateRequestMade.ToShortTimeString()</div>
                <div></div>
                <div>Selected Contractor: @requestedService.Contractor.Name | <a href="#" class="contractorInfo" style="color: forestgreen !important;">view contact info</a></div>
                <div id="dialog" title="Contractor Contact Information" style="display: none;">
                    @foreach (var contractorUser in requestedService.Contractor.ContractorUsers.Where(rs => rs.ContractorId == requestedService.ContractorId).OrderBy(rs => rs.DateCreated).Take(1))
                    {
                        if (Roles.IsUserInRole(contractorUser.my_aspnet_users.name, "contractor"))
                        {
                            <p>
                                Email: @Membership.GetUser(contractorUser.UserId, false).Email<br />
                                Phone: @contractorUser.Contractor.BusinessPhone
		                    </p>
                        }

                    }
                </div>

                <div>
                    <div>Selected Options</div>
                    <ul style="margin-bottom: .25em;">
                    @foreach (var requestedServiceOption in requestedService.RequestedServiceOptions)
                    {
                        foreach (var requestedServiceOptionItem in requestedServiceOption.RequestedServiceOptionItems)
                        {
                            <li>@requestedServiceOption.Name: @requestedServiceOptionItem.Name</li>
                        }
                    }
                    </ul>
                </div>
                @if (requestedService.Payments.Where(p => p.IsActive == false).FirstOrDefault() != null)
                {
                    foreach (var payment in requestedService.Payments.Where(p => p.IsActive == false))
                    {
                        <div>Original Payment: $@payment.Amount paid on @payment.DateSubmitted.ToShortDateString()</div>
                    }
                }

                @if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                {
                    <div style="margin: 1em auto; color: red;">
                        Click @Html.ActionLink("here", "PaymentAdjustment", "PayPal", new { id = requestedService.PaymentAdjustments.SingleOrDefault().PaymentAdjustmentId }, new { style = "color: red; text-shadow: 0px 0px 0px black;" }) to submit payment adjustment of @string.Format("${0:0.00}", requestedService.PaymentAdjustments.SingleOrDefault().Amount)
                    </div>
                }
                else if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId == null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount < 0M)
                {
                    <div style="margin: 0 auto; color: red;">
                        You're account has been refunded @requestedService.Payments.OrderBy(p => p.DateSubmitted).FirstOrDefault().Amount.ToString("c")
                        @if (requestedService.Payments.Where(p => p.IsActive).Count() == 0)
	                    {
                            <br />@:Click @Html.ActionLink("here", "RequestedService", "PayPal", new { id = requestedService.RequestedServiceId }, new { style = "color: red; text-shadow: 0px 0px 0px black;" }) 
                            @:to submit corrected payment for this service: 
                            
                            var amount = (requestedService.Payments.Where(p => p.IsActive == false).SingleOrDefault().Amount + requestedService.PaymentAdjustments.SingleOrDefault().Amount);
                            //var tax = amount * (requestedService.Contractor.Taxes.FirstOrDefault().Rate * .01M);
                            //var x = amount + tax;
                             
                            @:($@String.Format("{0:F2}", amount))
	                    }
                    </div>
                }
                else if (requestedService.PaymentAdjustments.Count != 0 &&
                    requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().TransactionId != null
                    && requestedService.PaymentAdjustments.Where(pa => pa.RequestedServiceId == requestedService.RequestedServiceId).SingleOrDefault().Amount > 0M)
                {
                    <div style="margin: 1em auto; color: forestgreen; margin-top: 0;">
                        You have completed a payment adjustment for this service in the amount of @requestedService.PaymentAdjustments.SingleOrDefault().Amount.ToString("c")
                    </div>
                }

                @foreach (var payment in requestedService.Payments.Where(p => p.IsActive == true))
                {
                    if (payment.RequestedService.PaymentAdjustments.Where(p => p.Amount < 0).Count() > 0)
                    {
                        <div>Adjusted Payment: $@payment.Amount paid on @payment.DateSubmitted.ToShortDateString()</div>
                    }
                }

                @if (requestedService.RequestedStartDate == null && requestedService.IsCompleted != true)
                {
                    <div style="margin: .5em 0; color: forestgreen">the contractor will be in contact with you soon to set up a specific date and time to initiate service</div>
                }
                else if (requestedService.RequestedStartDate != null && requestedService.RequestedEndDate == null && requestedService.IsCompleted != true)
                {
                    <div style="margin: .5em 0; color: forestgreen;">The contractor is scheduled to begin services on @String.Format("{0:D}", requestedService.RequestedStartDate) at @String.Format("{0:t}", requestedService.RequestedStartDate)</div>
                }
                else if (requestedService.RequestedStartDate != null && requestedService.RequestedEndDate != null)
                {
		            <div>Requested Date/Time: @requestedService.RequestedStartDate to @requestedService.RequestedEndDate</div>
                }

                @if (requestedService.IsCompleted == true)
                {
                    <div style="margin-top: 1em;">
                        Service Completed On: @requestedService.DateCompleted.Value.ToString("d")
                        @if (requestedService.Surveys.Where(s => s.RequestedServiceId == requestedService.RequestedServiceId).Where(s => s.IsCompleted == false).Count() > 0)
	                    {
		                    @: | @Html.ActionLink("complete anonymous survey", "Index", "Survey", new { id = requestedService.RequestedServiceId }, new { style = "color: forestgreen;" })
	                    }
                    </div>
                }

                @if (requestedService.RatingId == null && requestedService.DateCompleted != null)    
                {
                    if ((requestedService.DateCompleted.Value.AddDays(30) >= DateTime.Now.AddHours(2)) || requestedService.PaymentAdjustments.FirstOrDefault().Amount < 0)
                    {
                        <div class="rating" style="display: none; margin: .5em auto; padding: 1em; background-color: white; border-radius: 8px;">
                            @using (Html.BeginForm("Rate", "RequestedService", new { id = requestedService.RequestedServiceId }, FormMethod.Post)) {
                                
                                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
                                
                                <strong style="margin-bottom: .5em; display: inline-block;">Rating</strong><text>:</text>
                                <div class="target" style="display: inline-block; margin-bottom: .5em;"></div>
                                <div class="rate"></div>
                                <span style="margin-bottom: .5em;" class="field-validation-valid" data-valmsg-for="Value" data-valmsg-replace="false">please select a rating</span>
                                @Html.TextAreaFor(r => requestedService.Rating.Comments)
                                @Html.ValidationMessageFor(r => requestedService.Rating.Comments, "please enter your comments about the service")
                                    
                                <span>
                                    @Html.ActionLink("view tips and guidelines", "TipsAndGuidelines", "Rating", new { returnUrl = "RequestedService/Rate/" + requestedService.RequestedServiceId }, new { @style = "color: forestgreen", @class = "tips" })
                                    | <span id="limitingtext">comments are limited to 160 characters</span>
                                </span>
                                
                                <input type="hidden" name="RequestedServiceId" value="@requestedService.RequestedServiceId" />
                                <input type="hidden" name="RequestedService" value="@requestedService" />
                                <input type="hidden" name="UserId" value="@requestedService.UserId" />
                                <input type="hidden" name="ContractorId" value="@requestedService.ContractorId" />
                                <input type="hidden" id="Value" name="Value" value="" class="required" required />
                                <input type="hidden" name="Comments" value="" />

                                <div style="text-align: right;"> <input type="submit" /></div>
                                   
                            }
                        </div>
                        
                        if (requestedService.PaymentAdjustments.Count > 0 && requestedService.PaymentAdjustments.FirstOrDefault().Amount < 0 && requestedService.PaymentAdjustments.FirstOrDefault().TransactionId == null)
                        {
                            @*If a payment adjustment has been made where yard lad owes the customer money, let them rate the service immediately *@
                            <span class="addRating" style="color: forestgreen;">rate this service</span>
                        }
                        else if (requestedService.PaymentAdjustments.Count > 0 && requestedService.PaymentAdjustments.FirstOrDefault().TransactionId != null)
                        {
                            @*If a payment adjustment has been made where the customer owes money, and the customer has paid the balance (let them rate) *@
                            <span class="addRating" style="color: forestgreen;">rate this service</span>
                        }
                        else if (requestedService.PaymentAdjustments.Count == 0)
                        {
                            <span class="addRating" style="color: forestgreen;">rate this service</span>
                        }
                    }
                }
                
                @if (requestedService.RatingId != null)
                {
                        <div class="rating" style="display: none; margin: .5em auto; padding: 1em; background-color: white; border-radius: 8px;">
                            <strong>Rating</strong>: <div class="target" style="display: inline-block; margin-bottom: .5em;"></div>
                            <div class="rated"></div>
                            <div class="ratingComments" style="margin:.5em auto;">
                                "@Html.DisplayFor(m => requestedService.Rating.Comments)"
                            </div>
                            <div>
                                Submitted on @requestedService.Rating.DateRated.ToString("d")
                            </div>
                            <input type="hidden" class="value" value="@requestedService.Rating.Value" />
                        </div>
                        
                        <span class="contractor viewRating" style="color: forestgreen;">view rating</span>
                }
            </div>
        }
    </div>
}
else
{
    <div style="margin-top: 1em;">you haven't made any service requests, get started @Html.ActionLink("here", "RequestService", "Service")</div>
}

@if (ViewBag.Message != null)
{
    <div id="message" style="display: none" title="Yard Lad Survey?">
        @ViewBag.Message
    </div>
}

<div id="tipDialog" style="display: none;">
    <p style="margin: 1em 0;">
        <strong>Yard Lad wants your opinions to be heard</strong><br />
        We want customers to get the information they need to make better decisions when selecting contractors, and we'd love your input! 
        As an Yard Lad customer, you can submit written reviews for services rendered to you by our contractors.
        We encourage you to share your opinions, both favorable and unfavorable.
    </p>

    <p style="margin: 1em 0;">
        <strong>Tips on writing a great review</strong>
        <ul style="margin: .5em 0;">
            <li><strong>Include the "why"</strong>: The best reviews include not only whether the service was great or not, but also why. </li>
            <li><strong>Be specific</strong>: Your review should focus on specific details of the service and your experience with the contractor.</li>
            <li><strong>Not too short, not too long</strong>: Written reviews are limited to 160 characters.</li>
            <li><strong>Be sincere</strong>: We welcome your honest opinion about the service--positive or negative. We do not remove reviews because they are critical. We believe all helpful information can inform our customers’ buying decisions.</li>
        </ul>
    </p>

    <p style="margin: 1em 0;">
        <strong>What's not allowed</strong>
        Yard Lad is pleased to provide this option for you to share your opinions on services. While we appreciate your time and comments, we limit customer participation to one review per service and reserve the right to remove reviews that include any of the following: 

        <em>Objectionable material</em>:
        <ul style="margin: .5em 0;">
            <li>Obscene or distasteful content</li>
            <li>Profanity or spiteful remarks</li>
            <li>Promotion of illegal or immoral conduct</li>
        </ul>
        <em>Promotional content</em>:
        <ul style="margin: .5em 0;">
            <li>Advertisements, promotional material or repeated posts that make the same point excessively</li>
        </ul>
        <em>Inappropriate content</em>:
        <ul style="margin: .5em 0;">
            <li>Other people's material (this includes excessive quoting)</li>
            <li>Phone numbers, postal mailing addresses, and URLs external to YardLad.com</li>
        </ul>
        <ul style="margin: .5em 0;">
        <em>Off-topic information</em>:
            <li>Material that isn't related to the service or contractors performance.</li>
        </ul>

        <ul style="margin: .5em 0;">
        <em>Contractor Disputes</em>:
            <li>A contractor has the option to dispute a rating. If this occurs, our team at Yard Lad will do our best to resolve the issue.</li>
        </ul>
    </p>

    @*<p style="margin: 1em 0;">
        If you have a question or you'd like to tell us about a specific problem with Customer Reviews, please 
        @Html.ActionLink("contact us", "Contact", "Admin", new { @subject = "Ratings" }, null). 
    </p>*@
</div>