﻿@model YardLad.Models.View.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="register">

<div style="color: red; margin-bottom: 1em;">
    @Html.Raw(ViewBag.Message)
</div>

<h2>Create a New Account</h2>
<p style="margin-bottom: 0;">Use the form below to create a new account.</p>
<p>Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(m => m.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "datepicker" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(m => m.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Mobile)
            @Html.ValidationMessageFor(m => m.Mobile)
        </div>

        <div class="editor-field">
            <span>@Html.CheckBoxFor(m => m.AcceptSMS, new { @checked = "checked" })</span>
            <span class="editor-label">
                @Html.LabelFor(m => m.AcceptSMS)
            </span>
            <p style="width: 50%; min-width: 300px;">
                this free service allows you to send and receive text updates for easier access to making payments, scheduling reoccurring services, rating services, etc.<br />
                <span style="font-size: .9em; color: forestgreen;">standard SMS charges still apply (based on your mobile carrier and plan)</span>
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Gender)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(m => m.Gender, "male") @Html.LabelFor(m => m.Gender, "male")
            @Html.RadioButtonFor(m => m.Gender, "female") @Html.LabelFor(m => m.Gender, "female")
            @Html.ValidationMessageFor(m => m.Gender)
        </div>

        <p>
            <input type="submit" value="Register" />
        </p>
    </div>
}

</div>