﻿@model YardLad.Models.Domain.Tax

@{
    ViewBag.Title = "Edit Tax Rate";
}

<h2>Edit Tax Rate | <span class="contractor">@Html.ActionLink("back", "MyAccount", "Account", null, new { @class = "contractor" })</span></h2>

<p style="margin-bottom: 0;">
    Please enter your custom tax rate, this value will be calculated into a customer's total when they place an order
    for one of your available services.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.TaxId)
    @Html.HiddenFor(m => m.AddressId)
    @Html.HiddenFor(m => m.ContractorId)
    <input type="hidden" name="SetByContractor" value="true" />
    
    <div class="editor-label" style="display:inline-block;">
        @Html.LabelFor(model => model.Rate)
    </div>
    <div class="editor-field" style="display: inline-block;">
        <div>
            @Html.TextBoxFor(model => model.Rate, new { style = "width: 55px;" })
            <input style="margin-top: 0; margin-left: .5em;" type="submit" value="Update" />
        </div>
        @Html.ValidationMessageFor(model => model.Rate)
        
    </div>

    <p>
        
    </p>
}