﻿@model YardLad.Models.Domain.PaymentAdjustment

@{
    ViewBag.Title = "Create";
}

<h2>Make Payment Adjustment | <span class="contractor">@Html.ActionLink("back", "ServiceHistory", "Contractor", new { id = Model.RequestedService.ContractorId }, null)</span></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "fix the following errors before submitting")

    @Html.HiddenFor(m => m.IsCompleted)
    @Html.HiddenFor(m => m.RequestedServiceId)
    
    <div class="display-label">
        Original Payment Amount
    </div>
    <div class="display-field">
        @Model.RequestedService.Payments.Where(p => p.RequestedServiceId == Model.RequestedServiceId).SingleOrDefault().Amount.ToString("c")
    </div>
    
    <div class="editor-label">
        Adjustment Amount
        <div style="font-size: .9em; font-weight: normal;">
            Enter a positive or negative amount to the original payment made for the service.
        </div>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { style = "width: 100%; max-width: 500px;" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <p>
        <input type="submit" value="Submit Adjustment" />
    </p>
}