﻿@model YardLad.Models.Domain.PaymentAdjustment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PaymentAdjustment</legend>

        @Html.HiddenFor(model => model.PaymentAdjustmentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestedServiceId, "RequestedService")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RequestedServiceId", String.Empty)
            @Html.ValidationMessageFor(model => model.RequestedServiceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionId)
            @Html.ValidationMessageFor(model => model.TransactionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsCompleted)
            @Html.ValidationMessageFor(model => model.IsCompleted)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
