﻿@model IEnumerable<YardLad.Models.Domain.PaymentAdjustment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            RequestedService
        </th>
        <th>
            TransactionId
        </th>
        <th>
            Amount
        </th>
        <th>
            Description
        </th>
        <th>
            IsCompleted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedService.ContractorComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentAdjustmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentAdjustmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentAdjustmentId })
        </td>
    </tr>
}

</table>
