﻿@model YardLad.Models.Domain.UserProfile

@{
    ViewBag.Title = "Profile Details";
}

<h2>Profile Details</h2>

    <div class="display-label">
        Name
    </div>
    
    <div class="display-field">
        @Html.DisplayFor(m => m.FirstName)
        @Html.DisplayFor(m => m.LastName)
    </div>

    <div class="display-label">
        @Html.LabelFor(m => m.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Phone)
    </div>

<div class="display-label">
        @Html.LabelFor(m => m.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Mobile)
    </div>

    <div class="display-label">
        @Html.LabelFor(m => m.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.DateOfBirth)
    </div>

    <div class="display-label">
        @Html.LabelFor(m => m.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Gender)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.AddressId, "Address")
    </div>
    
    @if (Model.Address == null)
    {
        @Html.ActionLink("Add a billing address", "Create", "Address", new { returnUrl = "UserProfile/Edit", userId = Model.UserId }, null)
    }
    else
    {
        <div class="display-field">
            @Html.DisplayFor(m => m.Address.Line1)<br />
            @if (Model.Address.Line2 != null)
            {
                @Html.DisplayFor(m => m.Address.Line2)<br />
            }
            @Html.DisplayFor(m => m.Address.City), @Html.DisplayFor(m => m.Address.State.Abbreviation) @Html.DisplayFor(m => m.Address.PostalCode)
        </div>
    
        @Html.ActionLink("Edit address", "Edit", "Address", new { id = Model.AddressId, returnUrl = "UserProfile/Edit", userId = Model.UserId }, null)
    }

<p style="margin-top: 1em;">
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserId })
</p>
