﻿@model YardLad.Models.Domain.UserProfile

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@if (User.IsInRole("contractor") || User.IsInRole("contractor2"))
{
    <style>
        #content a {
            color: cornflowerblue;
        }

            #content a:hover {
                color: cornflowerblue;
            }
    </style>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.AcceptSMS)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.LastLoginDate)

    @Html.HiddenFor(m => m.AddressId)

    <div class="editor-label">
        Name
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    
    <div class="editor-field">
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Phone)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Mobile)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Mobile)
        @Html.ValidationMessageFor(m => m.Mobile)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DateOfBirth)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DateOfBirth)
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Gender)
    </div>
    <div class="editor-field">
        @Html.RadioButton("Gender", "male") male
        @Html.RadioButton("Gender", "female") female
        @Html.ValidationMessageFor(m => m.Gender)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AddressId, "Address")
    </div>
    
    if (Model.Address == null)
    {
        @Html.ActionLink("Add a billing address", "Create", "Address", new { returnUrl = "UserProfile/Edit", userId = Model.UserId }, null)
    }
    else
    {
        <div class="editor-field">
            @Html.DisplayFor(m => m.Address.Line1)<br />
            @if (Model.Address.Line2 != null)
            {
                @Html.DisplayFor(m => m.Address.Line2)<br />
            }
            @Html.DisplayFor(m => m.Address.City), @Html.DisplayFor(m => m.Address.State.Abbreviation) @Html.DisplayFor(m => m.Address.PostalCode)
        </div>
    
        @Html.ActionLink("Edit address", "Edit", "Address", new { id = Model.AddressId, returnUrl = "UserProfile/Edit", userId = Model.UserId}, null)
    }
    
    @*<div class="editor-field">
        <span>@Html.CheckBoxFor(m => m.AcceptSMS)</span>
        <span class="editor-label">
            @Html.LabelFor(m => m.AcceptSMS, "Accept SMS Service")
        </span>
        <p style="width: 50%; min-width: 300px;">
            this free service allows you to send and receive text updates for easier access to making payments, scheduling reoccurring services, rating services, etc.<br />
            <span style="font-size: .9em; color: forestgreen;">standard SMS charges still apply (based on your mobile carrier and plan)</span>
        </p>
    </div>*@

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to My Account", "MyAccount", "Account")
</div>
