﻿@model YardLad.Models.Domain.ServiceOptionRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ServiceOptionRequest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractorId, "Contractor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ContractorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ContractorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceId, "Service")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ServiceId", String.Empty)
            @Html.ValidationMessageFor(model => model.ServiceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRequested)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRequested)
            @Html.ValidationMessageFor(model => model.DateRequested)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
