﻿@model YardLad.Models.Domain.ServiceOptionRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ServiceOptionRequest</legend>

    <div class="display-label">Contractor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contractor.Name)
    </div>

    <div class="display-label">Service</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Service.Name)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">DateRequested</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRequested)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ServiceOptionRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
