﻿@{
    ViewBag.Title = "ContractorPaymentReturn";
}

<h2>Thank you for your payment!</h2>

<p>
    A Yard Lad subscription lasts an entire year! We hope you enjoy using this service to improve your productivity and sales.
    If at any point you require assistance or have any questions, please 
    @Html.ActionLink("contact", "Contact", "Admin", new { returnUrl = "Account/MyAccount" }, new { @class = "contractor" }) 
    a Yard Lad admin.
</p>

<p>
    @Html.ActionLink("return to My Account", "MyAccount", "Account", null, new { @class = "contractor" })
</p>