﻿@{
    ViewBag.Title = "RedirectFromPaypal";
}

<script>
    $(document).ready(function () {
        window.setTimeout(function() {
            window.location.href = '@Url.Action("History", "Account")';
        }, 3000);

    });
</script>

@if (ViewBag.Success == "yes")
{
    <div style="width: 80%; margin: 1em auto; max-width: 550px;">
        Thank you for your purchase. The contractor will be in contact with you to setup a date and time based on the 
        information provided. Redirecting to service history...
    </div>
}
else
{
    
}