﻿@model YardLad.Models.PayPalModel

@{ 
    ViewBag.Title = "Requested Service Payment Adjustment";
}

<script type="text/javascript">
    $(this.document).ready(function () {
        var form = $("form");
        form.submit();
    });
</script>

<form id="hiddenform" action="@Model.actionURL">

    <input type="hidden" name="cmd" value="_ext-enter" />
    <input type="hidden" name="redirect_cmd" value="_xclick" />
    
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.image_url)
    @Html.HiddenFor(model => model.no_shipping)
    @Html.HiddenFor(model => model.@return)
    @Html.HiddenFor(model => model.cancel_return)
    @Html.HiddenFor(model => model.notify_url)
    @Html.HiddenFor(model => model.currency_code)
    @Html.HiddenFor(model => model.item_name)
    @Html.HiddenFor(model => model.item_number)
    @Html.HiddenFor(model => model.tax)
    @Html.HiddenFor(model => model.amount)

    @Html.HiddenFor(model => model.email)
    @Html.HiddenFor(model => model.first_name)
    @Html.HiddenFor(model => model.last_name)
    @Html.HiddenFor(model => model.address1)
    @if (Model.address2 != null)
    {
        @Html.HiddenFor(model => model.address2)
    }
    @Html.HiddenFor(model => model.city)
    @Html.HiddenFor(model => model.state)
    @Html.HiddenFor(model => model.zip)
    @Html.HiddenFor(model => model.day_phone_a)
    @Html.HiddenFor(model => model.day_phone_b)
    @Html.HiddenFor(model => model.day_phone_c)
    @Html.HiddenFor(model => model.night_phone_a)
    @Html.HiddenFor(model => model.night_phone_b)
    @Html.HiddenFor(model => model.night_phone_c)

    @{
        for (int i = 0; i < Model.Options.Count; i++)
        {
            foreach (var o in Model.Options)
            {
                <input type="hidden" name="@String.Format("on{0}", i)" value="@o.Key" />
                <input type="hidden" name="@String.Format("os{0}", i)" value="@o.Value" />
                i = i + 1;
            }
        }
        
    }
</form>

    <h3 style="text-align: center;">Connecting to PayPal, please wait …</h3>


