﻿/**********************************************************
***********************************************************
ADMIN PORTAL STYLES
***********************************************************
**********************************************************/
span.admin {
    color: orange;
    font-size: .9em;
    position: inherit;
    top: 0px;
}

span.admin a {
    color: orange;
}

span.admin a:hover {
    color: orange !important;
}

#adminControlPanel h2, #adminControlPanel p, #adminControlPanel a {
    color: orange !important;
}

#adminControlPanel a:hover {
    text-shadow: none;
}

a.admin {
    color: orange !important;
}

a.admin:hover {
    color: orange !important;
}

input[type=submit] {
    background: none;
    background-color: orange;
}

input[type=submit]:hover {
    background: none;
    background-color: orange;
}

::selection {
    background-color: orange;
    color: white;
}

#back-to-top {
    background-color: orange;
}

#back-to-top:hover {
    background-color: orange;
}

span.notification {
    color: red;
}