﻿/**********************************************************
***********************************************************
GLOBAL STYLES
***********************************************************
**********************************************************/
body {
    
}

/*p {
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(50, 50, 50, .025);
}*/


#skyWall {
    background: url(../Images/headerSky.jpg);
    background-size: 100%;
    background-position-y: -375px;
    /*background-position-x: -75px;*/
    width: 100%;
    background-repeat: repeat-y;
    height: 86.5px;
    position: absolute;
    top: 6px;
    display: inline-block;
    opacity: 0.25;
    overflow: hidden;
    border-bottom: 1px solid black;
    
}

#grassWall{
    background: url(../Images/wallpaper.jpg);
    background-size: 850px;
    background-position-y: -362px;
    width: 100%;
    background-repeat: repeat-x;
    height: 75px;
}

footer { margin-top: 0 !important }

::selection {
    background: #459e00;
    color: white;
    text-shadow: none;
}

a {color: forestgreen;}

#content a:hover {
    color: forestgreen;
}

h1, h2, h3, h4, h5, h6 {font-family: Georgia;}

label {display: inline-block;}
label:hover {cursor: auto;}

input {
    height: auto;
    width: auto;
}

input[type=text], input[type=password]
{
    width: 100%;
    max-width: 175px;
}

input[type=submit] {
    background-color: #459e00;
    background: #459e00 url(jQueryUI/themes/south-street/images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;
    margin-top: 1em;
}

input[type=submit]:hover {
    background: #459e00 url(jQueryUI/themes/south-street/images/ui-bg_highlight-soft_25_67b021_1x100.png) 50% 50% repeat-x;
}

input[type=checkbox] {
    width: auto;
    height: auto;
}

select {
    -webkit-appearance: menulist;
    width: auto;
}

iframe {
    display: block;
    margin-bottom: 1em;
}

button:hover {
    background: transparent !important;
}

.customButton {
	-moz-box-shadow:inset 0px 0px 10px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 0px 10px 0px #c1ed9c;
	box-shadow:inset 0px 0px 10px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:25px;
	-moz-border-radius-topleft:25px;
	border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-radius-topright:25px;
	border-top-right-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	-moz-border-radius-bottomright:25px;
	border-bottom-right-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-moz-border-radius-bottomleft:25px;
	border-bottom-left-radius:25px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	/*line-height:70px;*/
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
    width: 300px;
}

.customButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) ) !important;
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% ) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c') !important;
	background-color:#8cb82b !important;
    color: white !important;

}
    .customButton:active {
        position: relative;
        top: 1px;
    }

span.link {
    color: forestgreen;
    font-size: .9em;
    position: inherit;
    top: 0px;
}

span.link a {
    color: forestgreen;
}

span.link a:hover {
    color: forestgreen !important;
}

.hidden {display: none;}
.warning {color: red;}

#main-nav .responsive-nav {
    -webkit-appearance: none;

}

.btn {
    padding: .45em;
    box-shadow: 0px 0px 2px white;
    color: white !important;
    display: inline-block;
    background: rgb(136,191,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
}

.btn:hover {
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    text-shadow: 0px 1px 5px black;
}

.ui-widget textarea {
    height: auto !important;
}

/**********************************************************
***********************************************************
HEADER STYLES
***********************************************************
**********************************************************/
#logo {
    font-family: Georgia;
    Font-Size: 2.5em;
    position: relative;
    top: 22px;
    left: 12px;
    color: #474747;
    height: 65px;
}

img.logo {
    display: inline-block;
    height: 70px;
    float: left;
    position: relative;
    top: 15px;
    margin-bottom: 0;
}

#headerImage {
    width: 100%;
    margin: 1em auto;
    max-width: 960px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 3px 6px black;
}
/*beta banner*/
#beta{
    position: absolute;
    height: 93px;
    top: -5px;
    left: -70px;
}

/**********************************************************
***********************************************************
NAV STYLES
***********************************************************
**********************************************************/
#main-nav a:hover {
    border-bottom-color: #459e00;
    border-top-color: #459e00;
    color: #459e00;
}

#main-nav li.current > a {
    border-bottom-color: #459e00;
    border-top-color: #459e00;
    color: #459e00;
}

#main-nav li.hover > a {
    border-bottom-color: #459e00;
    border-top-color: #459e00;
    color: #459e00;
}

#main-nav ul ul a:hover {
    background-color: #459e00;
    color: white;
}

#main-nav ul ul .hover > a {
    background-color:#459e00;
    color: white;
}

.not-ie #main-nav .current:after {
    background-color: #459e00;
}


h6.widget-title {
    font-size: 1.5em;
}

#featuredYard img {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 4px black;
}

#back-to-top, .touch-device #back-to-top:hover
{
    color: #459e00 !important;
}

#back-to-top:hover {
    background-color: #459e00;
}


/**********************************************************
***********************************************************
MAIN CONTENT STYLES
***********************************************************
**********************************************************/
section#content {
    font-size: 1.15em;
    font-family: 'Raleway';
}

div#logOn {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

div#logOn .editor-label {
    margin-top: 10px;
}

div#logOn .editor-field {
    margin-top: 0;
}

div#logOn .validation-summary-errors {
    font-size: .9em;
}

div#logOn .validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

h2 span {
    font-size: .5em;
    position: relative;
    top: -3px;
}

#homeVideo {
    min-height: 310px;
    width: 100%;
    max-width: 500px;
}


#contractorUserList .display-label span.header {
        display: inline-block;
        width: 24.6825%;
        text-align: center;
    }

    #contractorUserList .display-label span.header:first-of-type {
        text-align: left;
    }

    #contractorUserList .display-label span.header:last-of-type {
        text-align: right;
    }

    #contractorUserList .display-field span.item {
        display: inline-block;
        width: 24.6825%;
        text-align: center;
    }

    #contractorUserList .display-field span.item:first-of-type {
        text-align: left;
    }

    #contractorUserList .display-field span.item:last-of-type {
        text-align: right;
    }

img.customError {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 250px;
}

/**********************************************************
***********************************************************
TERMS AND AGREEMENT STYLES
***********************************************************
**********************************************************/
div#terms {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

div#terms h1, div#terms h2, div#terms h3 {
    text-align: center;
}

/**********************************************************
***********************************************************
RATING STYLES
***********************************************************
**********************************************************/
.rating {
   
}

.rating textarea {
    width: 95%;
}


/**********************************************************
***********************************************************
CONTACT FORM STYLES
***********************************************************
**********************************************************/
.contactForm {

}

.contactForm.side h2 {
        font-size: 1.5em;
    }

.contactForm.bottom {display: none;}

.contactForm input[type=text] {
    width: 85%;
    max-width: 250px;
}

.contactForm textarea {
    max-width: 300px;
    width: 85%;
    height: 110px;
    max-height: 200px;
}

.contactForm #Area {
    width: 25px;
}

.contactForm #Prefix {
    width: 25px;
    margin-left: .5em;
}

.contactForm #Suffix {
    width: 30px;
}

.contactForm.contact {

}

.contactForm.contact .editor-label  {
    
}

.contactForm.contact .editor-field {
    
}

.contactForm.contact textarea {
    width: 100%;
    max-width: none;
}



/**********************************************************
***********************************************************
FOOTER STYLES
***********************************************************
**********************************************************/
#footer a:hover {
    color: #459e00;
}


/**********************************************************
***********************************************************
jQuery UI CUSTOM STYLES
***********************************************************
**********************************************************/
.ui-widget-overlay {
    background: #aaaaaa;
}


/**********************************************************
***********************************************************
VALIDATION HELPERS
***********************************************************
**********************************************************/
.field-validation-error {
    color: #ff0000;
    display: block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-errors ul {
    list-style: inherit;
    padding-left: 2em;
}

.validation-summary-errors li {
    margin-left: 0;
}

.validation-summary-valid {
    display: none;
}

/**********************************************************
***********************************************************
EDITOR AND DISPLAY HELPERS
***********************************************************
**********************************************************/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
    max-width: 100%;
}

.tri-state {
    width: 6em;
}

.content-editor {width: 100%;}
.content-editor textarea {width: 100%;}

.MCE-Editor {
    min-height: 250px;
    max-height: 320px;
}

/**********************************************************
***********************************************************
MEDIA QUERIES
***********************************************************
**********************************************************/

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
    .seven_container {
        margin: 1em 0 !important;
    }

    
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    #logo {
        font-size: 1.5em;
        top: 26.5px;
        height: 53px;
    }

    img.logo {
        position: initial;
        top: 15px;
    }

    .contactForm.side h2 {
        font-size: 1.2em;
    }

    .contactForm #Prefix {
        width: 25px;
        margin-left: .25em;
    }

    .field-validation-error {
        font-size: .9em;
    }

    .seven_container {
        margin: 1em 0 !important;
    }

    #skyWall {
        display: none;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .seven_container {
        margin: 1em 0 !important;
    }

    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #logo {
        font-size: 3em;
        top: 16px;
        height: 54px;
        width: 290px;
        margin: 0px;
        margin-left: 90px;
        text-align: left;
    }

    .contactForm #Prefix {
        margin-left: .5em;
    }

    .field-validation-error {
        font-size: 1em;
    }

    .seven_container {
        width: 85% !important;
        margin: 1em 0 !important;
    }

    #main-nav {
        margin: 50px 0 20px;
    }

    #homeVideo {
        min-height: 245px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #header {
        margin-top: 10px;
    }

    .contactForm.side {display: none;}
    .contactForm.bottom {display: block;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 2em;
    }

    #header {
        margin-top: 10px;
    }

    #logo {
        font-size: 2em;
        height: 35px;
        top: 15px;
        left: 0px;
        margin-left: 100px;
        width: 200px;
    }

    #main-nav {
        margin: 60px 0 20px;
    }

    .contactForm.side {display: none;}
    .contactForm.bottom {display: block;}

   .seven_container {
        width: 95% !important;
        margin: 1em 0 !important;
    }
}

